{% load i18n %}
<div class="modal" id="site-modal" tabindex="-1" aria-labelledby="site-modal-header" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="site-modal-header"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body fetch-form-container" id='modal_body'></div>
    </div>
  </div>
</div>


<template data-site-modal-template>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="site-modal-header"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body fetch-form-container" id='modal_body'></div>
    </div>
  </div>
</template>
