{% load characters_extras %}
{% load i18n %}
<table class="table">
  <thead>
  <tr>
    <th>{% trans 'Persona' %}</th>
    <th class="text-end">{% trans 'Dice' %}</th>
  </tr>
  </thead>
  {% for attribute in object.characterattribute_set.persona_attributes %}
    <tr class="sidebar-trigger" data-sidebar-title="{{ attribute.attribute }}"
        data-sidebar-url="{% url 'characters:xhr_sidebar' pk=attribute.id sidebar_template="attribute" %}">
      <td>{{ attribute.attribute.name }}</td>
      <td class="text-end">
        {% if attribute.modifier != 0 %}
          ({% color_value_span attribute.modifier 2 %})
        {% endif %}
        {% color_value_span attribute.value 7 %}
      </td>
    </tr>
  {% endfor %}
</table>
