{% load i18n %}
{% load django_bootstrap5 %}

<p>
  {% blocktrans %}
    The markdown files must be named after the chapters they belong to and their language, e.g.
    <code>create_de.md</code> and <code>create_en.md</code>. All chapters present in the upload will be replaced.
  {% endblocktrans %}
</p>

<form
  data-fetch-form="true"
  data-fetch-form-close="all"
  action="{% url "curators_desk:upload_rulebook" %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {% bootstrap_form form layout="floating" %}
  <button class="btn btn-primary">
    {% trans "Upload" %}
  </button>
</form>
