span.background-image-copyright {
  position: fixed;
  right: 5px;
  bottom: 5px;
}

@media (min-width: 768px) {
  .collapse.dont-collapse-md {
    display: block;
    height: auto !important;
    visibility: visible;
  }
}
