.ws-dice-result {
  display: flex;
  margin-top: 3px;
  flex-flow: row wrap;
  justify-content: flex-start;

}

.ws-dice-result span {
  height: 25px;
}

.ws-dice-result span.dice-box {
  min-width: 25px;
}

.ws-dice-result span.crit {
  animation: glowing 5000ms infinite;
  color: black;
}

.ws-dice-result span.exploded {
  background-color: $primary;
}

.ws-dice-result span.success {
  background-color: $success;
  color: black;
}

.ws-dice-result span.fail {
  background-color: $secondary;
}

@keyframes glowing {
  0% {
    background-color: #aaaa00;
    box-shadow: 0 0 1px #aaaa00;
  }
  50% {
    background-color: #FFFF00;
    box-shadow: 0 0 15px #FFFF00;
  }
  100% {
    background-color: #aaaa00;
    box-shadow: 0 0 1px #aaaa00;
  }
}