.profile-cta .profile-cta-text {
  position: absolute;
  top: 50%;
  color: white;
  text-align: center;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-decoration: none;
  background-color: rgba(10, 10, 10, 0.5);
}
