@media only screen and (min-width: 768px) {
  .rules .columns {
    column-count: 2;
    hyphens: auto;
  }
}

.rules .columns {
  column-gap: 2em;
  line-height: 1.5;
  hyphens: auto;
}

.rules p:empty {
  display: none;
}

.rules ul li {
  text-align: justify;
}

.rules p {
  text-align: justify;
}

.rules blockquote {
  margin-left: 2em;
  padding-left: 1em;
  border-left: 2px solid $gray-500;
}

