Django==2.0.8
django-neue-transmeta==0.8.0
django-bootstrap4==0.0.6
Fabric3==1.14.post1
psycopg2-binary
django-simplemde==0.1.2
django-markdown2==0.3.1
Pillow==5.3.0
django-extensions==2.1.3
sorl-thumbnail==12.5.0
django-registration==3.0
