{% extends 'base.html' %}
{% load portal_extras %}
{% load i18n static rules_extras thumbnail rulebook_extras %}

{% block title %}{{ object.name }} - {% trans 'Rulebook' %} - {{ block.super }}{% endblock %}
{% block in_page_title %}{{ object.name }}{% endblock %}
{% block in_page_subtitle %}{{ object.book.name }}{% endblock %}

{% block bottom_nav %}
  {% bottom_navigation_button "rulebook/_navigation.html" %}
{% endblock %}

{% block content %}
  <div class="row">

    <div class="col-12 col-xl-3 d-none d-xl-block">
      {% include 'rulebook/_navigation.html' with object=object may_edit=may_edit %}
    </div>

    <div class="col-12 col-xl-9">
      <div class="rules">
        {% with world=request.world_configuration.world %}
          {{ object.text|replace_book_variables:world|phasesix_markup:False|resolve_rulebook_chapter_links }}
        {% endwith %}
      </div>
    </div>
  </div>
{% endblock %}
