{% extends 'base.html' %}
{% load rules_extras %}
{% load i18n %}

{% block title %}{% trans 'Download rulebook' %} - {{ block.super }}{% endblock %}
{% block in_page_subtitle %}{% trans "Download rulebook" %}{% endblock %}

{% block content %}
  <div class="row">
    {% for object in object_list %}
      <div class="col-12 col-lg-4 mb-3 {% if forloop.first %}offset-lg-2{% endif %}">
        <div class="card h-100">
          <img class="card-img-top" src="{{ object.preview_image_de.url }}" alt="{{ object.book_title }}">
          <div class="card-body">
            <h5 class="card-title">{{ object.book_title }}</h5>
            <p class="card-text">
            </p>
            <div class="d-flex justify-content-between align-items-center gap-3">
              <a href="{{ object.pdf_online_de.url }}" class="btn btn-primary w-100">{% trans 'Download german' %}</a>
              <a href="{{ object.pdf_online_de.url }}" class="btn btn-primary w-100">{% trans 'Download english' %}</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>


{% endblock %}
