{% extends 'base.html' %}
{% load rules_extras %}
{% load i18n %}

{% block title %}{% trans 'Download rulebook' %} - {{ block.super }}{% endblock %}
{% block in_page_subtitle %}{% trans "Download rulebook" %}{% endblock %}

{% block opengraph %}
  {% trans "Download rulebook" as og_title %}
  {% if object_list %}
    {% with book=object_list.0 %}
      {% if book.preview_image_de %}
        {% include "shared/opengraph.html" with og_title=og_title og_description=book.description|default:brand_description|striptags|truncatechars:200 og_image_path=book.preview_image_de.url %}
      {% else %}
        {% include "shared/opengraph.html" with og_title=og_title og_description=book.description|default:brand_description|striptags|truncatechars:200 %}
      {% endif %}
    {% endwith %}
  {% else %}
    {% include "shared/opengraph.html" with og_title=og_title og_description=brand_description %}
  {% endif %}
{% endblock %}

{% block content %}
  <div class="row">
    {% for object in object_list %}
      <div class="col-12 col-lg-4 mb-3 {% if object_list.count == 1 %}offset-lg-4{% endif %}">
        <div class="card h-100">
          <img class="card-img-top" src="{{ object.preview_image_de.url }}" alt="{{ object.book_title }}">
          <div class="card-body">
            {% if object.description %}
              <p>
                {{ object.description|phasesix_markup }}
              </p>
            {% endif %}
            <a download href="{{ object.pdf_online_de.url }}"
               class="btn btn-primary mb-2 w-100">{% trans 'Download german' %}</a>
            <a download href="{{ object.pdf_online_en.url }}"
               class="btn btn-primary w-100">{% trans 'Download english' %}</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
