{% load i18n %}
{% load curators_desk_extras %}
{% for qs in homebrew_querysets %}
  {% if qs.exists %}
    <table class="table mb-4">
      <thead>
      <tr>
        <th>{{ qs|model_name }}</th>
        <th>{% trans 'Character' %}</th>
        <th>{% trans 'Campaign' %}</th>
        <th>{% trans 'Created by' %}</th>
        <th>{% trans 'Actions' %}</th>
      </tr>
      </thead>
      <tbody>
      {% for object in qs %}
        <tr>
          <td><a href="{% admin_url_for_qs_model qs object.id %}">{{ object }}</a></td>
          <td><a href="{{ object.homebrew_character.get_absolute_url }}">{{ object.homebrew_character }}</a></td>
          <td><a href="{{ object.homebrew_campaign.get_absolute_url }}">{{ object.homebrew_campaign }}</a></td>
          <td><a href="{{ object.created_by.profile.get_absolute_url }}">{{ object.created_by }}</a></td>
          <td>
            <button class="btn btn-sm btn-primary"
                    hx-post="{% url 'curators_desk:keep_homebrew' %}"
                    hx-vals='{"model_name": "{{ qs|model_name }}", "object_id": "{{ object.id }}"}'
                    hx-confirm="{% trans 'Are you sure?' %}">
              {% trans 'Keep as Homebrew' %}
            </button>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endfor %}
