{% load i18n rules_extras %}

<style>
  .horizontal-scroll {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .horizontal-scroll .row {
    padding-bottom: 1rem;
  }
</style>

<div class="modal" tabindex="-1" id="info-modal">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Templates</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Loading.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="row mb-4">
  <div class="col-12">
    <label for="extension-select" class="form-label">{% trans 'Filter by Extension' %}</label>
    <select id="extension-select" name="e" class="form-select"
            hx-get="{% url 'curators_desk:template_statistics' %}"
            hx-trigger="change"
            hx-target="#v-template-statistics > div"
            hx-swap="innerHTML">
      <option value="" {% if active_extension is None %}selected{% endif %}>{% trans 'All Extensions' %}</option>
      {% for e in all_extensions %}
        <option value="{{ e.id }}" {% if active_extension and active_extension.id == e.id %}selected{% endif %}>{{ e }}</option>
      {% endfor %}
    </select>
  </div>
</div>

<div class="row mb-1">
  <div class="col-12 text-center">
    <h1>{% trans 'Template Aspects' %}</h1>
  </div>
</div>
<div class="horizontal-scroll mb-4">
  <div class="row flex-nowrap">
    <div class="col-10 col-sm-6 col-md-3">
      {% include 'curators_desk/fragments/_template_statistics_column.html' with objects=aspects_min header="Aspects Min" %}
    </div>
    <div class="col-10 col-sm-6 col-md-3">
      {% include 'curators_desk/fragments/_template_statistics_column.html' with objects=aspects_max header="Aspects Max" %}
    </div>
    <div class="col-10 col-sm-6 col-md-2">
      {% include 'curators_desk/fragments/_template_statistics_column.html' with objects=aspects_count header="Aspects Count" %}
    </div>
    <div class="col-10 col-sm-6 col-md-2">
      {% include 'curators_desk/fragments/_template_statistics_column.html' with objects=aspects_sum header="Aspects Sum" %}
    </div>
    <div class="col-10 col-sm-6 col-md-2">
      {% include 'curators_desk/fragments/_template_statistics_column.html' with objects=aspects_positive_sum header="Aspects Positive Sum" %}
    </div>
  </div>
</div>


<div class="row mb-1">
  <div class="col-12 text-center">
    <h1>{% trans 'Template Attributes' %}</h1>
  </div>
</div>
<div class="horizontal-scroll mb-4">
  <div class="row flex-nowrap">
    <div class="col-10 col-sm-6 col-md-3">
      {% include 'curators_desk/fragments/_template_statistics_column.html' with objects=attributes_min header="Attributes Min" %}
    </div>
    <div class="col-10 col-sm-6 col-md-3">
      {% include 'curators_desk/fragments/_template_statistics_column.html' with objects=attributes_max header="Attributes Max" %}
    </div>
    <div class="col-10 col-sm-6 col-md-2">
      {% include 'curators_desk/fragments/_template_statistics_column.html' with objects=attributes_count header="Attributes Count" %}
    </div>
    <div class="col-10 col-sm-6 col-md-2">
      {% include 'curators_desk/fragments/_template_statistics_column.html' with objects=attributes_sum header="Attributes Sum" %}
    </div>
    <div class="col-10 col-sm-6 col-md-2">
      {% include 'curators_desk/fragments/_template_statistics_column.html' with objects=attributes_positive_sum header="Attributes Positive Sum" %}
    </div>
  </div>
</div>

<div class="row mb-1">
  <div class="col-12 text-center">
    <h1>{% trans 'Template Skills' %}</h1>
  </div>
</div>
<div class="horizontal-scroll mb-4">
  <div class="row flex-nowrap">
    <div class="col-10 col-sm-6 col-md-3">
      {% include 'curators_desk/fragments/_template_statistics_column.html' with objects=skills_min header="Skills Min" %}
    </div>
    <div class="col-10 col-sm-6 col-md-3">
      {% include 'curators_desk/fragments/_template_statistics_column.html' with objects=skills_max header="Skills Max" %}
    </div>
    <div class="col-10 col-sm-6 col-md-2">
      {% include 'curators_desk/fragments/_template_statistics_column.html' with objects=skills_count header="Skills Count" %}
    </div>
    <div class="col-10 col-sm-6 col-md-2">
      {% include 'curators_desk/fragments/_template_statistics_column.html' with objects=skills_sum header="Skills Sum" %}
    </div>
    <div class="col-10 col-sm-6 col-md-2">
      {% include 'curators_desk/fragments/_template_statistics_column.html' with objects=skills_positive_sum header="Skills Positive Sum" %}
    </div>
  </div>
</div>

