{% load i18n %}
<div class="row mb-3">
  <div class="col-12 col-md-6 mb-2">
    <div class="card h-100"
         data-sidebar-right-title="{% trans 'Biostrain and Energy' %}"
         data-sidebar-right-url="{% url 'characters:xhr_sidebar' pk=object.id sidebar_template="biostrain" %}">
      <div class="card-body">
        <h5 class="card-title">{% trans "Biostrain" %}</h5>
        <p>
          {% blocktrans %}
            Body modifications are permanent changes to your character's physique.
            These modifications introduce bio-strain, which can be
            dangerous.
          {% endblocktrans %}
        </p>
        <div class="fs-3 d-flex align-items-center gap-2">
          <i class="gi gi-lorc-broken-heart text-danger fs-2" title="{% trans 'Body Modifications' %}"></i>
          {{ object.bio_strain }} {% trans "Biostrain" %}
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 mb-2">
    <div class="card h-100"
         data-sidebar-right-title="{% trans 'Biostrain and Energy' %}"
         data-sidebar-right-url="{% url 'characters:xhr_sidebar' pk=object.id sidebar_template="biostrain" %}">
      <div class="card-body">
        <h5 class="card-title">{% trans "Energy Consumption" %}</h5>
        <p>
          {% blocktrans %}
            Energy is the amount of power your body modifications have available.
            The energy-producing body modifications and the energy-consuming body modifications need to be balanced.
          {% endblocktrans %}
        </p>
        <div class="fs-3 d-flex align-items-center gap-2">
          <i class="gi gi-lorc-power-lightning text-warning fs-2" title="{% trans 'Biostrain' %}"></i>
          +{{ object.energy_produced }} mA
          <i class="gi gi-lorc-power-lightning text-danger fs-2" title="{% trans 'Biostrain' %}"></i>
          -{{ object.energy_consumed }} mA
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-12 col-md-4 text-center">
    {% with sockets=object.sockets_head %}
      {% with qs=object.characterbodymodification_set.head %}
        {% with icon_class="gi gi-delapouite-vr-headset" %}
          {% trans "Head" as location_name %}
          {% include "characters/fragments/_body_modifications_socket_location.html" %}
        {% endwith %}
      {% endwith %}
    {% endwith %}
  </div>
</div>

<div class="row justify-content-center mt-3">
  <div class="col-12 col-md-4 text-center mb-2">
    {% with sockets=object.sockets_left_arm %}
      {% with qs=object.characterbodymodification_set.left_arm %}
        {% with icon_class="gi gi-delapouite-forearm" %}
          {% trans "Left Arm" as location_name %}
          {% include "characters/fragments/_body_modifications_socket_location.html" %}
        {% endwith %}
      {% endwith %}
    {% endwith %}
  </div>

  <div class="col-12 col-md-4 text-center mb-2">
    {% with sockets=object.sockets_torso %}
      {% with qs=object.characterbodymodification_set.torso %}
        {% with icon_class="gi gi-delapouite-muscular-torso" %}
          {% trans "Torso" as location_name %}
          {% include "characters/fragments/_body_modifications_socket_location.html" %}
        {% endwith %}
      {% endwith %}
    {% endwith %}
  </div>

  <div class="col-12 col-md-4 text-center mb-2">
    {% with sockets=object.sockets_right_arm %}
      {% with qs=object.characterbodymodification_set.right_arm %}
        {% with icon_class="gi gi-delapouite-forearm mirrored" %}
          {% trans "Right Arm" as location_name %}
          {% include "characters/fragments/_body_modifications_socket_location.html" %}
        {% endwith %}
      {% endwith %}
    {% endwith %}
  </div>
</div>

<div class="row justify-content-center mt-3">
  <div class="col-12 col-md-4 text-center mb-2">
    {% with sockets=object.sockets_left_leg %}
      {% with qs=object.characterbodymodification_set.left_leg %}
        {% with icon_class="gi gi-delapouite-leg mirrored" %}
          {% trans "Left Leg" as location_name %}
          {% include "characters/fragments/_body_modifications_socket_location.html" %}
        {% endwith %}
      {% endwith %}
    {% endwith %}
  </div>

  <div class="col-12 col-md-4 text-center mb-2">
    {% with sockets=object.sockets_right_leg %}
      {% with qs=object.characterbodymodification_set.right_leg %}
        {% with icon_class="gi gi-delapouite-leg" %}
          {% trans "Right Leg" as location_name %}
          {% include "characters/fragments/_body_modifications_socket_location.html" %}
        {% endwith %}
      {% endwith %}
    {% endwith %}
  </div>
</div>
