{% load humanize %}
{% load rules_extras %}
{% load portal_extras %}
{% load i18n %}
<div class="row">
  <div class="col-12 col-md-6">
    {% blocktrans with t_name=object.name t_created_by=object.created_by|capfirst t_created_by_url=object.created_by.profile.get_absolute_url t_pronoun=object.pronoun.nominative|capfirst t_copula_verb=object.pronoun.copula_verb %}
      <b>{{ t_name }}</b> is a character created by <a href="{{ t_created_by_url }}">{{ t_created_by }}</a>.
    {% endblocktrans %}

    {% if object.weight and object.size %}
      {% blocktrans with t_copula_verb=object.pronoun.copula_verb t_pronoun=object.pronoun.nominative|capfirst t_size=object.size t_weight=object.weight t_size_unit=object.world_extension.world_set.first.info_name_cm|default:"cm" t_weight_unit=object.world.world_set.first.info_name_kg|default:"kg" %}
        {{ t_pronoun }} {{ t_copula_verb }} <b>{{ t_size }}</b>&nbsp;{{ t_size_unit }} tall and weigh
        <b>{{ t_weight }}</b>&nbsp;{{ t_weight_unit }}.
      {% endblocktrans %}
    {% endif %}

    {% if object.date_of_birth %}
      {% blocktrans with t_possessive=object.pronoun.possessive|capfirst t_birthday=object.date_of_birth %}
        {{ t_possessive }} birthdate is <b>{{ t_birthday }}</b>.
      {% endblocktrans %}
    {% endif %}

    <div id="character-description" class="mt-3">
      <div class="card mt-3">
        {% image_url object "800x800" as image %}
        <img src="{{ image }}" class="card-img-top img-fluid" alt="{% trans "Character Image" %}">
        <div class="card-body position-relative">
          {% if may_edit %}
            <div class="top-0 end-0 mt-2 me-2 z-1 position-absolute d-flex gap-2 justify-content-end">
              <button
                class="btn btn-sm btn-secondary rounded-circle d-flex align-items-center justify-content-center modal-trigger small-modal"
                data-url="{% url "characters:xhr_edit_description" pk=object.id %}"
                data-modal-title="{% trans 'Edit Description' %}"
                data-bs-toggle="modal"
                data-bs-target=".page-modal"
                style="width: 2rem; height: 2rem"
                title="{% trans "Edit" %}">
                <i class="fas fa-pen"></i>
              </button>
            </div>
          {% endif %}
          {% if object.description %}
            {{ object.description|phasesix_markup }}
          {% else %}
            {% trans "This character has no description yet." %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6">

    <div class="list-group">
      <div class="list-group-item d-flex align-items-center">

        <i class="fs-4 me-3 gi gi-delapouite-hieroglyph-y"></i>

        <div class="flex-grow-1 d-flex gap-2 align-items-center">
          <h4 class="mb-0">{% trans "Languages" %}</h4>
          {{ object.characterlanguage_set.count }}/{{ object.max_languages }}
        </div>

        {% if may_edit %}
          <button
            class="btn btn-sm btn-secondary rounded-circle d-flex align-items-center justify-content-center modal-trigger"
            title="{% trans "Add contact" %}"
            data-url="{% url 'characters:xhr_character_objects' pk=object.id object_type="language" %}"
            data-bs-toggle="modal"
            data-bs-target=".page-modal"
            data-modal-title="{% trans 'Add Language' %}"
            style="width: 2rem; height: 2rem;">
            <i class="fas fa-plus"></i>
          </button>
        {% endif %}
      </div>

      {% if not object.characterlanguage_set.exists %}
        <div class="list-group-item text-center text-muted">
          {% trans "No languages yet." %}
        </div>
      {% endif %}

      {% for character_language in object.characterlanguage_set.all %}
        <div class="list-group-item d-flex align-items-center py-3">
          <div class="flex-grow-1">
            <div class="d-flex align-items-center">
              <h5 class="mb-0">{{ character_language.language }}</h5>
              <span class="badge bg-secondary ms-2">{{ character_language.language.country_name }}</span>
            </div>
            {% if character_language.language.amount_of_people_speaking > 0 %}
              <small class="text-muted">
                {% blocktrans with t_amount=character_language.language.amount_of_people_speaking|intword %}
                  Spoken by {{ t_amount }} individuals
                {% endblocktrans %}
              </small>
            {% endif %}
          </div>

          {% if may_edit %}
            <a
              class="btn btn-sm btn-secondary rounded-circle d-flex align-items-center justify-content-center action-link"
              style="width: 2rem; height: 2rem;"
              data-method="DELETE"
              href="{% url 'characters:xhr_character_objects' pk=object.id object_type="language" %}?object_id={{ character_language.id }}">
              <i class="far fa-trash-alt fa-fw"></i>
            </a>
          {% endif %}
        </div>
      {% endfor %}
    </div>

    <div class="list-group mt-3">
      <div class="list-group-item d-flex align-items-center">
        <i class="fs-4 me-3 gi gi-delapouite-three-friends"></i>

        <div class="flex-grow-1 d-flex gap-2 align-items-center">
          <h4 class="mb-0">{% trans "Contacts" %}</h4>
          {{ object.contact_set.count }}/{{ object.max_contacts }}
        </div>

        {% if may_edit %}
          <button
            class="btn btn-sm btn-secondary rounded-circle d-flex align-items-center justify-content-center modal-trigger small-modal"
            title="{% trans "Add contact" %}"
            data-url="{% url "characters:xhr_contact" pk=object.id %}"
            data-bs-toggle="modal"
            data-bs-target=".page-modal"
            data-modal-title="{% trans 'Add Contact' %}"
            style="width: 2rem; height: 2rem;">
            <i class="fas fa-plus"></i>
          </button>
        {% endif %}
      </div>

      {% if not object.contact_set.exists %}
        <div class="list-group-item text-center text-muted">
          {% trans "No contacts yet." %}
        </div>
      {% endif %}

      {% for contact in object.contact_set.all %}
        <div class="list-group-item d-flex align-items-start py-3">
          <div class="flex-grow-1">
            <div class="d-flex align-items-center">
              <h5 class="mb-0">{{ contact.name }}</h5>
              {% if contact.occupation %}
                <span class="badge bg-secondary ms-2">{{ contact.occupation }}</span>
              {% endif %}
            </div>
            {% if contact.description %}
              <p>
                {{ contact.description|phasesix_markup }}
              </p>
            {% endif %}
          </div>
          {% if may_edit %}
            <a
              class="btn btn-sm btn-secondary rounded-circle d-flex align-items-center justify-content-center action-link"
              style="width: 2rem; height: 2rem;"
              data-method="DELETE"
              href="{% url "characters:xhr_contact" pk=object.id %}?contact_id={{ contact.id }}">
              <i class="far fa-trash-alt fa-fw"></i>
            </a>
          {% endif %}
        </div>
      {% endfor %}
    </div>

    <div class="list-group mt-3">
      <div class="list-group-item d-flex align-items-center">
        <i class="fs-4 me-3 fas fa-cat"></i>

        <div class="flex-grow-1 d-flex gap-2 align-items-center">
          <h4 class="mb-0">{% trans "Pets" %}</h4>
        </div>

        {% if may_edit %}
          <button
            class="btn btn-sm btn-secondary rounded-circle d-flex align-items-center justify-content-center modal-trigger"
            title="{% trans "Add pet" %}"
            data-url="{% url "characters:xhr_character_objects" pk=object.id object_type="foe" %}"
            data-bs-toggle="modal"
            data-bs-target=".page-modal"
            data-modal-title="{% trans 'Add pet' %}"
            style="width: 2rem; height: 2rem;">
            <i class="fas fa-plus"></i>
          </button>
        {% endif %}
      </div>

      {% if not object.characterfoe_set.exists %}
        <div class="list-group-item text-center text-muted">
          {% trans "No pets yet." %}
        </div>
      {% endif %}

      {% for foe in object.characterfoe_set.all %}
        <div class="list-group-item d-flex align-items-start py-3">
          <div class="flex-grow-1 d-flex gap-2 align-items-start sidebar-trigger"
               data-sidebar-title="{{ foe }}"
               data-sidebar-url="{% url "characters:xhr_sidebar" pk=foe.id sidebar_template="foe" %}">
            <img class="rounded" src="{% image_url foe geometry="80x80" %}" alt="img-fluid">
            <div>
              {{ foe }}<br>
              {% include "characters/_wound_display.html" with character=foe %}
              {% if foe.is_familiar %}
                {% trans "Is familiar" %}
              {% endif %}
            </div>
          </div>

          {% if may_edit %}
            <button
              class="btn btn-sm btn-secondary rounded-circle d-flex align-items-center justify-content-center me-2 modal-trigger small-modal"
              style="width: 2rem; height: 2rem;"
              data-url="{% url "characters:xhr_edit_foe" pk=foe.id %}"
              data-bs-toggle="modal"
              data-bs-target=".page-modal"
              data-modal-title="{% trans 'Edit pet' %}">
              <i class="fas fa-pencil-alt fa-fw"></i>
            </button>
            <a
              class="btn btn-sm btn-secondary rounded-circle d-flex align-items-center justify-content-center action-link"
              style="width: 2rem; height: 2rem;"
              data-method="DELETE"
              href="{% url "characters:xhr_character_objects" pk=object.id object_type="foe" %}?object_id={{ foe.id }}">
              <i class="far fa-trash-alt fa-fw"></i>
            </a>
          {% endif %}
        </div>
      {% endfor %}
    </div>

  </div>
</div>
