{% load rules_extras %}
{% load portal_extras %}
{% load characters_extras %}
{% load i18n %}
<div class="row">
  <div class="col-12 col-md-6 mb-3">
    <div class="card h-100"
         data-sidebar-right-title="{% trans 'Stress' %}"
         data-sidebar-right-url="{% url 'characters:xhr_sidebar' pk=object.id sidebar_template="horror" %}">
      <div class="card-body">
        <h5 class="card-title">{% trans "Stress" %}</h5>
        <p>
          {% blocktrans %}
            Your stress level is a measure of how much you have been exposed to the horrors of the world.
            If it reaches your stress maximum, you will gain the condition <i>Consumed by dread</i>.
          {% endblocktrans %}
        </p>
        <p>
          {% for i in object.base_stress|to_range %}
            <i class="fas fa-2x fa-frown text-danger" title="{% trans 'Base stress' %}"></i>
          {% endfor %}
          {% for i in object.stress|subtract:object.base_stress|to_range %}
            <i class="fas fa-2x fa-meh text-warning" title="{% trans 'Stress' %}"></i>
          {% endfor %}
          {% for i in object.available_stress|to_range %}
            <i class="far fa-2x fa-meh text-warning" title="{% trans 'Possible Stress' %}"></i>
          {% endfor %}
        </p>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6 mb-3">
    <div class="card h-100"
         data-sidebar-right-title="{% trans 'Stress' %}"
         data-sidebar-right-url="{% url 'characters:xhr_sidebar' pk=object.id sidebar_template="horror" %}">
      <div class="card-body">
        <h5 class="card-title">{% trans "Dread" %}</h5>
        <p>
          {% blocktrans %}
            If your stress level reaches your stress maximum, you will gain the condition <i>Consumed by dread</i>.
            This condition will resolve at a rest and may result in base stress or a quirk.
          {% endblocktrans %}
        </p>
        {% if object.is_consumed_by_dread %}
          <span class="h4 consumed-by-dread-effect">{% trans "You are consumed by dread" %}</span>
        {% else %}
          <span class="h4">{% trans "You are not consumed by dread" %}</span>
        {% endif %}
      </div>
    </div>
  </div>

  {% if object.quirks_need_to_be_chosen and may_edit %}
    <div class="col-12 col-md-6">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">{% trans "New Quirk" %}</h5>
          {% blocktrans %}
            You gained a not yet chosen quirk due to stress. Choose a
            Quirk from the list of available quirks or create a new one.
            Consult your Gamemaster to decide which quirk matches the
            situation.
          {% endblocktrans %}

          <div class="col-12 mb-3 mt-1">
            <a class="btn btn-warning btn-sm w-100"
               data-modal-url="{% url 'characters:xhr_character_objects' pk=object.id object_type="quirk" %}"
               data-modal-title="{% trans 'Choose Quirk' %}"
               data-modal-size-class="modal-xl"
               data-modal-event-after="refresh-fragments"
               href=""><i class="fas fa-shapes fa-fw"></i> {% trans 'Choose Quirk' %}</a>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {% for q in object.quirks.all %}
    <div class="col-12 col-md-6 mb-2">
      <div class="card mb-3"
           data-sidebar-right-title="{{ q }}"
           data-sidebar-right-url="{% url 'characters:xhr_sidebar' pk=q.id sidebar_template="quirk" %}">
        <div class="card-header">{{ q }}</div>
        <div class="card-body">
          <div class="text-muted">
            <i>{{ q.description|phasesix_markup }}</i>
          </div>

          <div class="mb-3 text-success">
            {{ q.positive_effects|phasesix_markup }}
          </div>
          <div class="mb-3 text-danger">
            {{ q.negative_effects|phasesix_markup }}
          </div>

          {% modifier_widget q.quirkmodifier_set.all %}

          <a class="btn btn-danger btn-sm float-end mt-2 action-link"
             data-method="DELETE"
             href="{% url 'characters:xhr_character_objects' pk=object.id object_type="quirk" %}?object_id={{ q.id }}">
            <i class="far fa-meh fa-fw"></i> {% trans 'Remove Quirk' %}</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
