{% extends 'characters/fragments/fragment_base.html' %}
{% load characters_extras rules_extras i18n thumbnail %}

{% block fragment %}
  {% if object.extension_enabled.magic %}
    {% if object.extension_enabled.magic and object.is_magical %}
      <div class="card sidebar-trigger mb-3" data-sidebar-title="{% trans 'Magic' %}"
           data-sidebar-url="{% url 'characters:xhr_sidebar' pk=object.id sidebar_template="magic" %}">
        <div class="card-body">
          <h5>{% trans "Arcana" %}</h5>
          {% arcana_display object %}
        </div>
      </div>
    {% endif %}

    {% if may_edit %}
      <div class="row">
        <div class="col-12">
          <button class="btn btn-primary float-end mb-2 modal-trigger"
                  data-bs-toggle="modal"
                  data-bs-target=".page-modal"
                  data-url="{% url 'characters:xhr_character_objects' pk=object.id object_type="spell" %}"
                  data-modal-title="{% trans 'Learn a spell' %}">
            <i class="gi-lorc-fairy-wand text-warning"></i>{% trans "Add a spell" %}
          </button>
          {% if user.is_authenticated %}
            <a class="btn btn-warning float-end mb-2 me-2 modal-trigger"
               data-url="{% url 'homebrew:xhr_create_base_spell' %}?character_pk={{ object.id }}"
               title="{% trans 'Create Spell' %}"
               data-bs-toggle="modal"
               data-modal-title="{% trans 'Create Spell' %}"
               data-bs-target=".page-modal"
               href=""><i class="fa fa-plus"></i> {% trans 'Create Spell' %}</a>
          {% endif %}
        </div>
      </div>
    {% endif %}

    {% with spell_points_available=character.spell_points_available %}
      {% if spell_points_available < 0 %}
        <div class="card border-danger mb-4">
          <div class="card-body">
            <div class="d-flex align-items-center justify-content-start">
              <i class="fs-2 me-2 gi-lorc-magic-palm text-danger"></i>
              <h4>{% trans "You have memorized too much!" %}</h4>
            </div>
            <p>
              {% blocktrans %}
                Your memorised spells use up more spell points than you have available. Either forget some spells or
                take character templates that increase your spell points.
              {% endblocktrans %}
            </p>
            <p>
              {% trans "Your current spell points are:" %} <span
                    class="fs-3 text-danger">{{ spell_points_available }}</span>
            </p>
          </div>
        </div>
      {% endif %}
    {% endwith %}

    <div class="column-container column-layout-2">
      {% include 'characters/includes/character_spell_cards.html' %}
    </div>
  {% endif %}
{% endblock %}
