{% load characters_extras %}
{% load i18n rules_extras %}

{% for template in object.charactertemplate_set.all %}
  {% if forloop.counter0|divisibleby:16 %}
    {% if not forloop.first %}</div></div>{% endif %}
    <div class="page background-page">
      <div class="background-list">
  {% endif %}
  {% if forloop.counter0|divisibleby:2 %}<div class="row template-grid-row">{% endif %}
  <div class="col-6">
    <section class="pdf-list-entry">
      <h5>{{ template.template }}</h5>
      <p>{{ template.template.rules|phasesix_markup }}</p>
      {% with all_modifiers=template.template.templatemodifier_set.all %}
        {% for mod in all_modifiers %}
          {% if mod.aspect %}
            <i class="fas fa-sun fa-fw" title="{% trans 'Aspect' %}"></i> {{ mod.get_aspect_display|capfirst }}
            {% color_value_span mod.aspect_modifier 3 algebraic_sign=True %}<br>
          {% endif %}
        {% endfor %}
        {% for mod in all_modifiers %}
          {% if mod.attribute %}
            <i class="fas fa-asterisk fa-fw" title="{% trans 'Attribute' %}"></i> {{ mod.attribute.name }}
            {% color_value_span mod.attribute_modifier 3 algebraic_sign=True %}<br>
          {% endif %}
        {% endfor %}
        {% for mod in all_modifiers %}
          {% if mod.skill %}
            <i class="fas fa-hand-scissors fa-fw" title="{% trans 'Skill' %}"></i> {{ mod.skill }}
            {% color_value_span mod.skill_modifier 3 algebraic_sign=True %}<br>
          {% endif %}
        {% endfor %}
        {% for mod in all_modifiers %}
          {% if mod.knowledge %}
            <i class="fas fa-book fa-fw" title="{% trans 'Knowledge' %}"></i> {{ mod.knowledge }}
            {% color_value_span mod.knowledge_modifier 3 algebraic_sign=True %}<br>
          {% endif %}
        {% endfor %}
        {% for mod in all_modifiers %}
          {% if mod.unlocks_spell_origin %}
            <i class="gi-lorc-fairy-wand" title="{% trans 'Magic Origin' %}"></i> {% trans 'Magic Origin' %}:
            {{ mod.unlocks_spell_origin }}<br>
          {% endif %}
        {% endfor %}
      {% endwith %}
    </section>
  </div>
  {% if forloop.counter|divisibleby:2 or forloop.last %}</div>{% endif %}
  {% if forloop.last %}</div></div>{% endif %}
{% empty %}
  <div class="page background-page">
    <div class="background-list text-muted">{% trans "No background templates." %}</div>
  </div>
{% endfor %}
