{% load characters_extras %}
{% load i18n %}
{% load portal_extras %}
{% load characters_extras %}
{% load i18n %}
{% load portal_extras %}

<div class="list-group mb-3">
  <a
    x-data="{}"
    @click="document.dispatchEvent(new CustomEvent('refresh-curators-desk-roll-statistics'))"
    class="py-3 active navigation-link pointer list-group-item list-group-item-action d-flex justify-content-between align-items-center"
    data-bs-toggle="tab"
    data-bs-target="#v-roll-statistics"
    role="tab"
    aria-current="false">
    <div class="d-flex justify-content-center align-items-center">
      <i class="gi gi-lorc-bookmark"></i>
      <span class="ms-3 d-block d-lg-block">{% trans "Roll statistics" %}</span>
    </div>
  </a>
  <a
    x-data="{}"
    @click="document.dispatchEvent(new CustomEvent('refresh-curators-desk-template-statistics'))"
    class="py-3 navigation-link pointer list-group-item list-group-item-action d-flex justify-content-between align-items-center"
    data-bs-toggle="tab"
    data-bs-target="#v-template-statistics"
    role="tab"
    aria-current="false">
    <div class="d-flex justify-content-center align-items-center">
      <i class="gi gi-lorc-bookmark"></i>
      <span class="ms-3 d-block d-lg-block">{% trans "Template statistics" %}</span>
    </div>
  </a>
  <a
    x-data="{}"
    @click="document.dispatchEvent(new CustomEvent('refresh-curators-desk-review-homebrew'))"
    class="py-3 navigation-link pointer list-group-item list-group-item-action d-flex justify-content-between align-items-center"
    data-bs-toggle="tab"
    data-bs-target="#v-review-homebrew"
    role="tab"
    aria-current="false">
    <div class="d-flex justify-content-center align-items-center">
      <i class="gi gi-lorc-bookmark"></i>
      <span class="ms-3 d-block d-lg-block">{% trans "Review Homebrew" %}</span>
    </div>
  </a>
  <a
    x-data="{}"
    @click="document.dispatchEvent(new CustomEvent('refresh-curators-desk-extension-grid'))"
    class="py-3 navigation-link pointer list-group-item list-group-item-action d-flex justify-content-between align-items-center"
    data-bs-toggle="tab"
    data-bs-target="#v-extension-grid"
    role="tab"
    aria-current="false">
    <div class="d-flex justify-content-center align-items-center">
      <i class="gi gi-lorc-bookmark"></i>
      <span class="ms-3 d-block d-lg-block">{% trans "Extension Grid" %}</span>
    </div>
  </a>
  <a
    x-data="{}"
    @click="document.dispatchEvent(new CustomEvent('refresh-curators-desk-translation-status'))"
    class="py-3 navigation-link pointer list-group-item list-group-item-action d-flex justify-content-between align-items-center"
    data-bs-toggle="tab"
    data-bs-target="#v-translation-status"
    role="tab"
    aria-current="false">
    <div class="d-flex justify-content-center align-items-center">
      <i class="gi gi-lorc-bookmark"></i>
      <span class="ms-3 d-block d-lg-block">{% trans "Translation status" %}</span>
    </div>
  </a>
</div>
