{% load world_extras i18n %}
<nav id="mainNavigation" role="navigation">
        <div class="pt-3 w-60 m-auto text-center">
            <i
                data-sidebar-url="{% url 'portal:search' %}"
                data-sidebar-title="{% trans 'Search' %}"
                class="fas fa-search float-end text-muted sidebar-trigger"
                title="{% trans 'Search' %}"></i>
            {% if request.LANGUAGE_CODE == 'de' %}
                <a class="language-link float-start me-1 text-muted"
                    data-language="en"
                    href="{% url 'set_language' %}">DE</a>
            {% else %}
                <a class="language-link float-start me-1 text-muted"
                    data-language="de"
                    href="{% url 'set_language' %}">EN</a>
            {% endif %}
            <a href="/">
                {% if request.world_configuration.brand_logo %}
                    <img class="brand-logo" src="{{ request.world_configuration.brand_logo.url }}" alt="{{ brand_name }}">
                {% else %}
                    <h1 class="mx-auto my-0 text-uppercase">{{ brand_name }}</h1>
                {% endif %}
            </a>
        </div>
    <div class="navbar-expand-md">
        <div class="navbar-dark text-center my-0">
            <button class="navbar-toggler w-75 px-2" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span> <span
                class="align-middle">{% trans 'Menu' %}</span>
            </button>
        </div>
        <div class="text-center mt-1 collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" role="button"
                       data-bs-toggle="dropdown">{% trans 'Play' %}</a>
                    {% with extension=request.world_configuration.world.extension %}
                        <ul class="dropdown-menu">
                            <li>
                                {% if extension %}
                                    {% if extension.fixed_epoch %}
                                        {% if extension.fixed_extensions.exists %}
                                            <a class="dropdown-item" href="{% url 'characters:create_character_data' world_pk=extension.id epoch_pk=extension.fixed_epoch.id %}">{% trans 'Create Character' %}</a>
                                        {% else %}
                                            <a class="dropdown-item" href="{% url 'characters:create_character_extensions' world_pk=extension.id epoch_pk=extension.fixed_epoch.id %}">{% trans 'Create Character' %}</a>
                                        {% endif %}
                                    {% else %}
                                        <a class="dropdown-item" href="{% url 'characters:create_character_epoch' world_pk=extension.id %}">{% trans 'Create Character' %}</a>
                                    {% endif %}
                                {% else %}
                                    <a class="dropdown-item" href="{% url 'characters:create_character' %}">{% trans 'Create Character' %}</a>
                                {% endif %}
                            </li>

                            <li><a class="dropdown-item"
                                   href="{% url 'characters:list' %}">{% trans 'My Characters' %}</a></li>
                            <li><a class="dropdown-item"
                                   href="{% url 'campaigns:list' %}">{% trans 'My Campaigns' %}</a></li>
                        </ul>
                    {% endwith %}
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" role="button"
                       data-bs-toggle="dropdown">{% trans 'Read' %}</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item"
                               href="{% url 'rulebook:detail' pk=1 %}">{% trans 'Rulebook' %}</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item"
                               href="{% url 'worlds:wiki_page_with_game_values' %}">{% trans 'Foes' %}</a></li>
                        <li><a class="dropdown-item"
                               href="{% url 'rules:template_list' %}">{% trans 'Templates' %}</a></li>
                        <li><a class="dropdown-item"
                               href="{% url 'armory:item_list' %}">{% trans 'Items' %}</a></li>
                        <li><a class="dropdown-item"
                               href="{% url 'armory:weapon_list' %}">{% trans 'Weapons' %}</a></li>
                        <li><a class="dropdown-item"
                               href="{% url 'magic:basespell_list' %}">{% trans 'Spells' %}</a></li>
                        <li><a class="dropdown-item"
                               href="{% url 'armory:riot_gear_list' %}">{% trans 'Armour' %}</a></li>
                    </ul>
                </li>

            {% if not request.world_configuration %}
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" role="button"
                       data-bs-toggle="dropdown">{% trans 'Worlds' %}</a>
                    <ul class="dropdown-menu">
                        {% get_active_worlds as worlds %}
                        {% for w in worlds %}
                            <li><a class="dropdown-item"
                                   href="{{ w.get_absolute_url }}">{{ w.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            {% else %}
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" role="button"
                       data-bs-toggle="dropdown">{% trans 'The World' %}</a>
                    <ul class="dropdown-menu">
                        {% get_top_level_pages_for_world request.world_configuration.world as pages %}
                        {% for p in pages %}
                            <li><a class="dropdown-item"
                                   href="{{ p.get_absolute_url }}">{{ p.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'forum:index' %}">{% trans 'Forum' %}</a>
                </li>

                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                       role="button">
                        {% if user.is_authenticated %}
                            {{ request.user|capfirst }}
                        {% else %}
                            {% trans 'Account' %}
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu">
                        {% if user.is_staff %}
                            <li><a class="dropdown-item"
                                   href="{% url 'admin:index' %}">{% trans 'Admin' %}</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item"
                                   href="{% url 'gmtools:extension_grid' type='riotgear' %}">{% trans 'Extension Grids' %}</a>
                            </li>
                            <li><a class="dropdown-item"
                                   href="{% url 'gmtools:template_statistics' %}">{% trans 'Template Statistics' %}</a>
                            </li>
                            <li><a class="dropdown-item"
                                   href="{% url 'gmtools:assign_spell_cost' %}">{% trans 'Assign Spell Cost' %}</a>
                            </li>
                            <li><a class="dropdown-item"
                                   href="{% url 'homebrew:index' %}">{% trans 'Review Homebrew' %}</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                        {% endif %}

                        {% if user.is_authenticated %}
                            <li><a class="dropdown-item"
                                   href="{% url 'logout' %}?next=/">{% trans 'Logout' %}</a></li>
                        {% else %}
                            <li class="dropdown-item">
                                <a class="nav-link" href="{% url 'login' %}?next={{ request.path }}">
                                    {% trans 'Login' %}
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
