{% load static i18n bootstrap4 %}<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="{% static 'css/bootstrap.min.css' %}?1" rel="stylesheet" title="main">
    <link href="{% static 'css/fontawesome-all.min.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'css/theme.css' %}?1" type="text/css" rel="stylesheet"/>
    <link href="{% static 'css/switch.css' %}" type="text/css" rel="stylesheet"/>
    <link href="{% static 'css/simplemde.min.css' %}" type="text/css" rel="stylesheet"/>
    <title>Phase Six</title>


    <!-- Matomo -->
    <script type="text/javascript">
      var _paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(["setCookieDomain", "*.phasesix.org"]);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//piwik.nimbostratus.de/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '8']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="//piwik.nimbostratus.de/matomo.php?idsite=8&amp;rec=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Matomo Code -->
</head>

<body>
<div class="container-fluid">

    <div class="row pt-3 pb-3">
        <div class="col-md-10 offset-md-1">

            <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
                <a class="navbar-brand" href="/">Phase Six</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavBar"
                        aria-controls="mainNavBar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mainNavBar">
                    <ul class="navbar-nav mr-auto">

                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">{% trans 'Play' %}</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'characters:create_character' %}">{% trans 'Create Character' %}</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'characters:list' %}">{% trans 'Characters' %}</a>
                                <a class="dropdown-item" href="{% url 'rulebook:index' %}">{% trans 'Rulebook' %}</a>
                                <div class="dropdown-divider"></div> 
                                <a class="dropdown-item" href="{% url 'rules:template_list' %}">{% trans 'Templates' %}</a>
                                <a class="dropdown-item" href="{% url 'gmtools:combat_sim' %}">{% trans 'CombatSim' %}</a>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'forum:index' %}">{% trans 'Forum' %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contact' %}">{% trans 'Contact / Privacy' %}</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav justify-content-end">
                        {% if user.is_authenticated %}
                            <li class="nav-item dropdown" id="theme-dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="icon-cogs icon-large"></i> {{ request.user|capfirst }}</b></a>
                                <div class="dropdown-menu">
                                    {% if user.is_staff %}
                                        <a class="dropdown-item" href="{% url 'admin:index' %}">{% trans 'Admin' %}</a>
                                    {% endif %}
                                    <a class="dropdown-item" href="{% url 'logout' %}?next=/">{% trans 'Logout' %}</a>
                                </div>
                            </li>
                        {% else %}
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'login' %}?next=/">{% trans 'Login' %}</a>
                            </li>
                        {% endif %}

                    <form class="form-inline my-2 my-lg-0 ml-3" method="post"
                          action="{% url 'set_language' %}?next={{ request.path }}">
                        {% csrf_token %}
                        <button name="language" value="de"
                                class="btn btn-sm btn-outline-success my-2 my-sm-0{% if request.LANGUAGE_CODE == 'de' %} active{% endif %}">
                            DE
                        </button>
                        <button name="language" value="en"
                                class="btn btn-sm btn-outline-success my-2 my-sm-0{% if request.LANGUAGE_CODE == 'en' %} active{% endif %}">
                            EN
                        </button>
                    </form>
                </div>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 offset-md-1">
            {% bootstrap_messages messages %}
            {% block content %}{% endblock %}
        </div>
    </div>
</div>

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'js/jquery.matchHeight.js' %}"></script>
<script src="{% static 'js/dropzone.min.js' %}"></script>
<script src="{% static 'js/simplemde.min.js' %}"></script>
<script src="{% static 'js/featherlight.min.js' %}" type="text/javascript" charset="utf-8"></script>

<script>
    $(document).ready(function () {
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        // simplemde
        $('textarea').each(function (idx, elem) {
            new SimpleMDE({
                element: elem,
                spellChecker: false,
                forceSync: true
            });
        });
    });
</script>

{% block javascript %}{% endblock %}
</body>
</html>
