{% extends 'base.html' %}
{% load i18n static thumbnail rules_extras %}

{% block content %}
    <header class="masthead">
        <div class="container pt-0 pt-md-2">

            <div class="row py-2">
                <div class="col-12 col-md-8 offset-md-2 lead text-center">
                    <h1>{{ brand_name }}</h1>
                    {{ request.world_configuration.world.description_1|urpg_markup|replace_tags:request.world_configuration.world }}
                </div>
            </div>

            <div class="row py-2 py-md-3 d-flex justify-content-center">
                <div class="d-flex justify-content-center w-75 flex-wrap">
                    {% for c in characters %}
                        {% if c.image %}
                            <a href="{% url 'characters:detail' pk=c.id %}" class="mb-3 me-2">
                                {% thumbnail c.image "300x300" crop="center" as im %}
                                    <img src="{{ im.url }}" class="img-fluid me-3 mb-3 rounded character-image" alt="">
                                {% endthumbnail %}
                            </a>{% if forloop.last %}<br>{% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="row py-2">
                <div class="col-12 col-md-8 offset-md-2 lead text-center">
                    {{ request.world_configuration.world.description_2|urpg_markup|replace_tags:request.world_configuration.world }}
                </div>
            </div>

            <div class="row py-2">
                <div class="col-12 col-md-8 offset-md-2 lead">
                    {% thumbnail request.world_configuration.world.image "800" as im %}
                    <img src="{{ im.url }}" class="img-fluid" alt="{% trans 'A map of the world' %}">
                    {% endthumbnail %}
                </div>
            </div>

            <div class="row py-2">
                <div class="col-12 col-md-8 offset-md-2 lead text-center">
                    {{ request.world_configuration.world.description_3|urpg_markup|replace_tags:request.world_configuration.world }}
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-8 offset-md-2">
                    <div class="card mb-5">
                        <div class="card-body">
                            <div id="wiki_page_carousel" class="carousel slide" data-bs-ride="true">
                                <div class="carousel-indicators">
                                    {% for wiki_page in wiki_pages_tirakan %}
                                        <button type="button" data-bs-target="#wiki_page_carousel" data-bs-slide-to="{{ forloop.counter0 }}"
                                                class="{% if forloop.first %}active{% endif %}" aria-current="true" aria-label="Slide {{ forloop.counter }}"></button>
                                    {% endfor %}
                                </div>

                                <div class="carousel-inner">
                                    {% for wiki_page in wiki_pages_tirakan %}
                                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    {% thumbnail wiki_page.image "768" as im %}
                                                        <img src="{{ im.url }}" class="img-fluid rounded" alt="{{ wiki_page }}">
                                                    {% endthumbnail %}
                                                </div>
                                                <div class="col-md-8">
                                                    <h4 class="mt-2 mt-md-0 mb-0">{{ wiki_page }}</h4>
                                                    <span>
                                                        {% if wiki_page.parent %}
                                                            <a href="{{ wiki_page.parent.get_absolute_url }}">
                                                        {% endif %}
                                                            {{ wiki_page.parent|default:"" }}
                                                        {% if wiki_page.parent %}
                                                            </a>
                                                        {% endif %}
                                                    </span>
                                                    <p>
                                                        {{ wiki_page.text|to_first_linebreak|urpg_markup|replace_tags:wiki_page.world }}
                                                        <a href="{{ wiki_page.get_absolute_url }}">{% trans 'Read ahead' %}</a>
                                                        <br>
                                                        <br>
                                                        <br>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
