{% extends 'base.html' %}
{% load django_bootstrap5 i18n %}

{% block title %}{% trans 'Create Campaign' %} - {{ block.super }}{% endblock %}
{% block in_page_title %}{% trans "Campaign settings" %}{% endblock %}
{% block in_page_subtitle %}
  {% trans "Choose settings for your campaign. These settings apply to every character created for this campaign." %}{% endblock %}

{% block opengraph %}
  {% trans "Campaign settings" as og_title %}
  {% blocktrans asvar og_description %}Choose settings for your campaign. These settings apply to every character created for this campaign.{% endblocktrans %}
  {% include "shared/opengraph.html" with og_title=og_title og_description=og_description %}
{% endblock %}

{% block content %}
  <div data-app="campaigns" class="row">
    <div class="col-12 col-md-8">
      <form action="" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button class="btn btn-primary mt-2">{% trans 'Create campaign' %}</button>
      </form>
    </div>
  </div>
{% endblock %}
