{% load i18n %}
{% load rules_extras %}
<div class="d-flex align-items-center justify-content-between">
    <h2>{% trans "Abstract" %}</h2>
    {% if may_edit %}
        <a data-modal-title="{% trans 'Edit settings' %}"
           data-modal-size-class="modal-lg"
           data-modal-event-after="refresh-fragments"
           data-modal-url="{% url 'campaigns:xhr_campaign_settings' pk=object.id mode='game' %}"
           class="text-white">
            <i class="fas fa-pencil-alt"></i>
        </a>
    {% endif %}
</div>
<p>{{ object.abstract|phasesix_markup }}</p>

{% if object.plot %}
  <div class="plot-tree plot-editor-container"
       style="--plot-placeholder-root-label: '{% trans "Same Level / Top Level" %}';
              --plot-placeholder-child-label: '{% trans "Move as Child" %}';
              --plot-same-level-label: '{% trans "Same Level" %}';
              --plot-drop-children-label: '{% trans "Drop here for children" %}';"
       data-campaign-plot-storage-key="campaignPlotElements-{{ object.id }}">
    <div class="sortable py-3" data-parent-id="root">
      {% for element in object.plot.root_elements %}
        {% include 'campaigns/plot/_plot_element.html' with element=element %}
      {% empty %}
        <div class="text-muted fst-italic">{% trans 'No plot elements yet.' %}</div>
      {% endfor %}
    </div>
  </div>
{% else %}
  <div class="text-muted fst-italic">{% trans 'No plot assigned.' %}</div>
{% endif %}
