{% load i18n %}
{% load rules_extras %}


{% if may_join %}
  <div class="card mb-4">
    <div class="card-body py-3">
      <div class="d-flex align-items-center justify-content-start gap-3">
        <i class="gi gi-cathelineau-swordwoman fs-1"></i>
        <div>
          {% trans "You have been invited to join this campaign. Create a new character to join the campaign." %}<br>
          <a href=""
             data-sidebar-title="{% trans 'Join campaign' %}"
             data-sidebar-url="{% url 'campaigns:xhr_sidebar' pk=object.id sidebar_template="join" %}"
             class="sidebar-trigger btn btn-success mt-2"><i
            class="fas fa-dice-five"></i> {% trans 'Join campaign' %}</a>
        </div>
      </div>
      <br>
    </div>
  </div>
{% endif %}


<div class="d-flex align-items-center justify-content-between">
  <h2>{% trans "Abstract" %}</h2>
  {% if may_edit %}
    <a data-bs-toggle="modal"
       data-bs-target=".page-modal"
       data-modal-title="{% trans 'Edit settings' %}"
       data-url="{% url 'campaigns:xhr_campaign_settings' pk=object.id mode='game' %}"
       class="modal-trigger text-white">
      <i class="fas fa-pencil-alt"></i>
    </a>
  {% endif %}
</div>
<p>
  {{ object.abstract|phasesix_markup }}
</p>
