{% load i18n thumbnail static armory_extras rules_extras %}

{% block fragment %}
  <div class="column-container column-layout-3">

    {% if may_edit %}
      <div class="pb-3">
        <div class="card hover-cta pointer" data-bs-toggle="dropdown">
          <div class="card-body p-3 d-flex flex-column align-items-center justify-content-center">
            <i class="fas fa-plus fa-2x"></i><br>
            <div class="dropdown mt-2">
              <button class="btn" type="button" data-bs-toggle="dropdown"
                      aria-expanded="false">
                {% trans "Create custom object" %}
              </button>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item modal-trigger"
                     data-url="{% url 'characters:xhr_character_objects' object_type="item" %}?campaign_pk={{ object.id }}"
                     data-bs-toggle="modal"
                     data-bs-target=".page-modal"
                     data-modal-title="{% trans 'Create Item' %}"
                     href="">{% trans "Create custom item" %}</a>
                </li>
                <li>
                  <a class="dropdown-item modal-trigger"
                     data-url="{% url 'characters:xhr_character_objects' object_type="weapon" %}?campaign_pk={{ object.id }}"
                     data-bs-toggle="modal"
                     data-bs-target=".page-modal"
                     data-modal-title="{% trans 'Create Weapon' %}"
                     href="">{% trans "Create custom weapon" %}</a>
                </li>
                <li>
                  <a class="dropdown-item modal-trigger"
                     data-url="{% url 'characters:xhr_character_objects' object_type="riot_gear" %}?campaign_pk={{ object.id }}"
                     data-bs-toggle="modal"
                     data-bs-target=".page-modal"
                     data-modal-title="{% trans 'Create Armor' %}"
                     href="">{% trans "Create custom armor" %}</a>
                </li>
                <li>
                  <a class="dropdown-item modal-trigger"
                     data-url="{% url 'characters:xhr_character_objects' object_type="spell" %}?campaign_pk={{ object.id }}"
                     data-bs-toggle="modal"
                     data-bs-target=".page-modal"
                     data-modal-title="{% trans 'Create Spell' %}"
                     href="">{% trans "Create custom spell" %}</a>
                </li>
                <li>
                  <a class="dropdown-item modal-trigger"
                     data-url="{% url 'characters:xhr_character_objects' object_type="template" %}?campaign_pk={{ object.id }}"
                     data-bs-toggle="modal"
                     data-bs-target=".page-modal"
                     data-modal-title="{% trans 'Create Template' %}"
                     href="">{% trans "Create custom template" %}</a>
                </li>
                <li>
                  <a class="dropdown-item modal-trigger"
                     data-url="{% url 'characters:xhr_character_objects' object_type="quirk" %}?campaign_pk={{ object.id }}"
                     data-bs-toggle="modal"
                     data-bs-target=".page-modal"
                     data-modal-title="{% trans 'Create Quirk' %}"
                     href="">{% trans "Create custom quirk" %}</a>
                </li>
                <li>
                  <a class="dropdown-item modal-trigger"
                     data-url="{% url 'characters:xhr_character_objects' object_type="language" %}?campaign_pk={{ object.id }}"
                     data-bs-toggle="modal"
                     data-bs-target=".page-modal"
                     data-modal-title="{% trans 'Create Language' %}"
                     href="">{% trans "Create custom language" %}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    {% endif %}

    {% for item in object.homebrew_armory_item_set.all %}
      {% object_widget item %}
    {% endfor %}
    {% for weapon in object.homebrew_armory_weapon_set.all %}
      {% object_widget weapon %}
    {% endfor %}
    {% for riot_gear in object.homebrew_armory_riotgear_set.all %}
      {% object_widget riot_gear %}
    {% endfor %}
    {% for spell in object.homebrew_magic_basespell_set.all %}
      {% object_widget spell %}
    {% endfor %}
    {% for language in object.homebrew_worlds_language_set.all %}
      {% object_widget language %}
    {% endfor %}
    {% for quirk in object.homebrew_horror_quirk_set.all %}
      {% object_widget quirk %}
    {% endfor %}
    {% for template in object.homebrew_rules_template_set.all %}
      {% object_widget template %}
    {% endfor %}
  </div>
{% endblock %}
