{% load i18n %}

{% if object.plot %}
  <div class="plot-tree"
       data-campaign-plot-storage-key="campaignPlotElements-{{ object.id }}">
    <div class="sortable py-3" data-parent-id="root">
      {% for element in object.plot.root_elements %}
        {% include 'campaigns/plot/_plot_element.html' with element=element %}
      {% empty %}
        <div class="text-muted fst-italic">{% trans 'No plot elements yet.' %}</div>
      {% endfor %}
    </div>
  </div>
{% else %}
  <div class="text-muted fst-italic">{% trans 'No plot assigned.' %}</div>
{% endif %}
