{% load i18n django_bootstrap5 %}

<form
  {% if parent %}
    action="{% url 'world:xhr_create_wiki_page' world_pk=world.id parent_pk=parent.id %}"
  {% else %}
    action="{% url 'world:xhr_create_wiki_page' world_pk=world.id %}"
  {% endif %}
    data-fetch-form="true"
    data-fetch-form-close="all"
    method="post"
    enctype="multipart/form-data">
  {{ world }}
  {% csrf_token %}
  {% bootstrap_field form.name_de %}
  {% bootstrap_field form.name_en %}
  {% bootstrap_field form.text_de %}
  {% bootstrap_field form.text_en %}
  <button type="submit" class="btn btn-primary mt-1 w-100">
    {% trans 'Create Page' %}
  </button>
</form>
