{% load i18n %}
<div class="mb-3">
  <div class="d-flex justify-content-start mb-2 gap-1">

    <div class="me-2 fs-4 d-flex align-items-center gap-2" title="{% trans "Wounds" %}">
      <i class="gi gi-skoll-hearts text-danger"></i>
      {{ foe.health }}
    </div>

    <div class="me-2 fs-4 d-flex align-items-center gap-1" title="{% trans "Movement" %}">
      <i class="gi gi-lorc-run text-success"></i>
      {{ foe.movement }}
    </div>

    {% if foe.actions != 2 %}
      <div class="me-2 fs-4 d-flex align-items-center gap-1" title="{% trans "Actions" %}">
        <i class="gi gi-lorc-hourglass text-warning"></i>
        {{ foe.actions }}
      </div>
    {% endif %}
  </div>

  {% if foe.short_description and show_description %}
    <p class="text-muted">
      {{ foe.short_description }}
    </p>
  {% endif %}

  <dl class="foe-attributes mb-3">
    <div class="foe-attribute foe-attribute-strength">
      <dt><i class="gi gi-lorc-muscle-up" aria-hidden="true"></i>{% trans "Strength" %}</dt>
      <dd>{{ foe.strength }}</dd>
    </div>

    <div class="foe-attribute foe-attribute-dexterity">
      <dt><i class="gi gi-lorc-feather" aria-hidden="true"></i>{% trans "Dexterity" %}</dt>
      <dd>{{ foe.dexterity }}</dd>
    </div>

    <div class="foe-attribute foe-attribute-mind">
      <dt><i class="gi gi-lorc-brain" aria-hidden="true"></i>{% trans "Mind" %}</dt>
      <dd>{{ foe.mind }}</dd>
    </div>

    {% if foe.stress_test_succeeded_stress > 0 or foe.stress_test_failed_stress > 0 %}
      <div class="foe-attribute foe-attribute-stress">
        <dt><i class="gi gi-lorc-brain-freeze" aria-hidden="true"></i>{% trans "Stress" %}</dt>
        <dd>{{ foe.stress_test_succeeded_stress }} / {{ foe.stress_test_failed_stress }}</dd>
      </div>
    {% endif %}
  </dl>
</div>
