{% load characters_extras %}
{% load i18n %}

{% if modifiers.aspects %}
  {% for name, value in modifiers.aspects.items %}
    <i class="fas fa-sun fa-fw" title="{% trans 'Aspect' %}"></i> {{ name|capfirst }}
    {% color_value_span value 3 algebraic_sign=True %}<br>
  {% endfor %}
{% endif %}

{% if modifiers.attributes %}
  {% for name, value in modifiers.attributes.items %}
    <i class="fas fa-asterisk fa-fw" title="{% trans 'Attribute' %}"></i> {{ name }}
    {% color_value_span value 3 algebraic_sign=True %}<br>
  {% endfor %}
{% endif %}

{% if modifiers.skills %}
  {% for name, value in modifiers.skills.items %}
    <i class="fas fa-hand-scissors fa-fw" title="{% trans 'Skill' %}"></i> {{ name }}
    {% color_value_span value 3 algebraic_sign=True %}<br>
  {% endfor %}
{% endif %}

{% if modifiers.knowledge %}
  {% for name, value in modifiers.knowledge.items %}
    <i class="fas fa-book fa-fw" title="{% trans 'Knowledge' %}"></i> {{ name }}
    {% color_value_span value 3 algebraic_sign=True %}<br>
  {% endfor %}
{% endif %}

{% if modifiers.spell_origins %}
  {% for name, value in modifiers.spell_origins.items %}
    <i class="gi-lorc-fairy-wand" title="{% trans 'Magic Origin' %}"></i> {% trans 'Magic Origin' %}:
    <span class="text-warning">{{ name }}</span><br>
  {% endfor %}
{% endif %}
