{% extends 'base.html' %}
{% load armory_extras %}
{% load portal_extras %}
{% load characters_extras %}
{% load i18n static rules_extras %}

{% block title %}{% trans 'Foes' %} - {{ block.super }}{% endblock %}
{% block in_page_title %}{% trans "Foes" %}{% endblock %}
{% block in_page_subtitle %}{% endblock %}

{% block opengraph %}
  {% trans "Foes" as og_title %}
  {% blocktrans asvar og_description %}Browse foes, enemies, and adversaries for your campaigns.{% endblocktrans %}
  {% include "shared/opengraph.html" with og_title=og_title og_description=og_description %}
{% endblock %}

{% block bottom_nav %}
  {% bottom_navigation_button "armory/_navigation.html" %}
{% endblock %}

{% block content %}
  <a href="{% url "armory:material_overview" %}">
    <div class="card mb-4 d-none d-md-block">
      <div class="card-body">
        <i class="fas fa-arrow-left"></i> {% trans "Back to the material page" %}
      </div>
    </div>
  </a>
  {% searchable_object_card_list character_object %}
{% endblock %}
