@font-face {
    font-family: 'Carolingia';
    src: url('DorovarFLF-Carolus.woff2') format('woff2'),
        url('DorovarFLF-Carolus.woff') format('woff'),
        url('DorovarFLF-Carolus.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

