{% extends 'base.html' %}
{% load i18n %}

{% block title %}Forum - {{ block.super }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2 col-xl-6 offset-xl-3 mb-3">
            Forum
        </div>
        {% for board in boards %}
            {% if not board.is_staff_only or request.user.is_staff %}
                <div class="col-12 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
                    <a href="{{ board.get_absolute_url }}">
                        <div class="card mb-3">
                            <div class="card-body">
                                <h3>{{ board }}</h3>
                                {% if board.thread_set.exists %}
                                    {% with post=board.latest_thread.latest_post %}
                                        <a class="no-link-colors"
                                           href="{{ post.thread.get_absolute_url }}">{{ post.thread.name }}</a>
                                        <span class="small text-muted">
                                        {% blocktrans with t_created_by=post.created_by t_timesince=post.created_at|timesince %}
                                            created by {{ t_created_by }} {{ t_timesince }} ago
                                        {% endblocktrans %}
                                        </span>
                                    {% endwith %}
                                {% else %}
                                    <span class="no-link-colors">{% trans 'No posts' %}</span>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}