{% load bootstrap4 characters_extras i18n %}

<script>
    $(function () {
        function refresh_summary() {
            var form = $('form');
            var container = $('.summary-container');
            var url = container.data('summary-url');

            $.get(
                url,
                form.serialize(),
                function (data) {
                    container.html(data);
                }
            )
        }

        function spell_valid() {
            var container = $('.summary-container');
            var url = container.data('spellcost-url');
            var cost = 0;
            var available = container.data('spell-points');
            var description = $('#id_description').val();
            var name = $('#id_name').val();

            $.get(url, $('form').serialize(), function(data){
                cost = parseInt(data.cost);
                if (cost > 0 && cost <= available && description && name) {
                    $('#submit-button').prop('disabled', '');
                    $('.a-nsp').addClass('d-none');
                    $('.a-osp').addClass('d-none');
                    $('.a-desc').addClass('d-none');
                } else {
                    $('#submit-button').prop('disabled', 'disabled');
                    if (cost <= 0) {
                        $('.a-nsp').removeClass('d-none');
                    }
                    if (cost > available) {
                        $('.a-osp').removeClass('d-none');
                    }
                    if (!description || !name) {
                        $('.a-desc').removeClass('d-none');
                    }
                }
            });
        }

        refresh_summary();
        spell_valid();

        $('input,select,textarea').on('change keyup', function (e) {
            refresh_summary();
            spell_valid();
        });

        $('#id_type').on('change', function () {
            var url = $('.summary-container').data('flavour-url');
            $.get(url, {pk: $(this).val()}, function (data) {
                var flavour = $('#id_flavour');
                flavour.html(data);
                flavour.val(flavour.find('option:first').attr('value'));
                flavour.change();
            });
        })
    })
</script>

<form action="{% url 'magic:xhr_spell' pk=object.id %}" method="post">
    <div class="row">
        <div class="col-md-4">
            <div
                    class="summary-container"
                    data-summary-url="{% url 'magic:xhr_spell_summary' %}"
                    data-flavour-url="{% url 'magic:xhr_spell_flavour' %}"
                    data-spellcost-url="{% url 'magic:xhr_spell_cost' %}"
                    data-spell-points="{{ object.spell_points_available }}">
            </div>
            <input id="submit-button" type="submit" class="btn btn-primary btn-block mt-3" value="{% trans 'Create Spell' %}">
            <div class="alert alert-danger mt-2 d-none a-osp">{% trans 'Not enough spell points' %}</div>
            <div class="alert alert-danger mt-2 d-none a-nsp">{% trans "It's not possible to create a spell with zero or negative cost." %}</div>
            <div class="alert alert-danger mt-2 d-none a-desc">{% trans "Your Spell needs a description an a name." %}</div>
        </div>

        <div class="col-md-8">
            {% csrf_token %}
            {% bootstrap_field form.name %}
            {% bootstrap_field form.description %}
            <div class="row">
                <div class="col-md-6">
                    {% bootstrap_field form.type %}
                </div>
                <div class="col-md-6">
                    {% bootstrap_field form.flavour %}
                </div>
                <div class="col-md-6">
                    {% bootstrap_field form.cost %}
                </div>
                <div class="col-md-6">
                    {% bootstrap_field form.casting_time %}
                </div>
                <div class="col-md-6">
                    {% bootstrap_field form.power %}
                </div>
                <div class="col-md-6">
                    {% bootstrap_field form.range %}
                </div>
                <div class="col-md-6">
                    {% bootstrap_field form.area_of_effect %}
                </div>
                <div class="col-md-6">
                    {% bootstrap_field form.area_of_effect_range %}
                </div>
                <div class="col-md-12">
                    {% bootstrap_field form.components %}
                </div>
            </div>
        </div>
    </div>
</form>
