{% load characters_extras rules_extras i18n %}
<div>
    <ul class="nav nav-tabs">
        {% for t in weapon_types %}
            <li class="{% if forloop.first %}active{% endif %} nav-item">
                <a class="nav-link" href="#w{{ t.id }}" aria-controls="home" role="tab" data-toggle="tab">{{ t }}</a>
            </li>
        {% endfor %}
    </ul>

    <div class="tab-content">
        {% for t in weapon_types %}
            <div role="tabpanel" class="tab-pane {% if forloop.first %}show active{% endif %}" id="w{{ t.id }}">
                <div class="row">
                    {% for weapon in t.weapon_set.with_price %}
                        {% has_extensions weapon character.extensions.all as has_extensions %}
                        {% if has_extensions %}
                            <div class="col-md-12">
                                <div class="card mb-2">
                                    <div class="card-header text-center">
                                        <span class="float-left">
                                            {% for e in weapon.extensions.all %}
                                                <i class="{{ e.fa_icon_class }}" title="{{ e }}"></i>
                                            {% endfor %}
                                        </span>
                                        <span>{{ weapon }}</span>
                                        <span class="float-right small">{{ weapon.type }}</span>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <i class="fas fa-times fa-fw"></i> {% trans 'Attacks / Action' %}: {% color_value_span weapon.attacks_per_action 8 %}<br>
                                                <i class="fas fa-bullseye fa-fw"></i> {% trans 'Accuracy' %}: {% color_value_span weapon.accuracy 4 %}<br>
                                                <i class="fas fa-angle-double-right fa-fw"></i> {% trans 'Penetration' %}: {% color_value_span weapon.penetration 4 %}<br>
                                                <i class="fas fa-heart fa-fw"></i> {% trans 'Wounds' %}: {% color_value_span weapon.wounds 4 %}<br>
                                                {% if not weapon.is_hand_to_hand_weapon %}
                                                    <i class="fas fa-clock fa-fw"></i> {% trans 'Reload actions' %}: {% color_value_span weapon.reload_actions 6 invert=True %}<br>
                                                    <i class="fas fa-arrow-circle-left fa-fw"></i> {% trans 'Recoil control' %}: {% color_value_span weapon.recoil_control 4 %}<br>
                                                {% endif %}
                                                <i class="fas fa-arrows-alt-h fa-fw"></i> {% trans 'Range' %}: {{ weapon.get_range_lower_display }}
                                                {% if weapon.range_upper and weapon.range_upper != weapon.range_lower %}-
                                                    {{ weapon.get_range_upper_display }}{% endif %}<br>
                                            </div>
                                            <div class="col-md-6">
                                                <i class="fas fa-eye-slash fa-fw"></i> {% trans 'Concealment' %}: {% color_value_span weapon.concealment 7 invert=True %}<br>
                                                <i class="fas fa-balance-scale fa-fw"></i> {% trans 'Weight' %}: {{ weapon.weight }}<br>
                                                {% if not weapon.is_hand_to_hand_weapon %}
                                                    <i class="fas fa-list-ol fa-fw"></i> {% trans 'Capacity' %}: {% color_value_span weapon.capacity 30 %}<br>
                                                {% endif %}
                                                {% if weapon.attack_modes.exists %}
                                                    <br>
                                                    {% for fm in weapon.attack_modes.all %}{{ fm }}<br>{% endfor %}
                                                {% endif %}
                                                <form action="{% url 'characters:add_weapon' pk=character.id weapon_pk=weapon.id %}" class="float-right" method="post">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="weapon_id" value="{{ weapon.id }}">
                                                    <button class="btn btn-sm btn-primary float-right">{% trans 'Add weapon' %}</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>