{% load i18n static thumbnail characters_extras %}
<a class="character-list-widget" href="{{ character.get_absolute_url }}" data-character-id="{{ character.id }}">
    <div class="card character-list-item" style="
            background-size: 100%;
            {% if character.backdrop_image %}
                {% thumbnail character.backdrop_image "x800" as im %}
                    background-image: url({{ im.url }})
                {% endthumbnail %}
            {% else %}
                {% if character.get_epoch.image %}
                    {% thumbnail character.get_epoch.image "x800" as im %}
                        background-image: url({{ im.url }})
                    {% endthumbnail %}
                {% else %}
                    background-color: silver
                {% endif %}
            {% endif %}
            ">
        <div class="card-body">
            {% if character.image %}
                {% thumbnail character.image "120x120" crop="center" as im %}
                    <img
                            class="img-fluid rounded float-start me-3"
                            src="{{ MEDIA_URL }}{{ im.url }}"
                            alt="{{ character.name }}">
                {% endthumbnail %}
            {% else %}
                <img
                        class="img-fluid rounded float-start me-3"
                        height="120" width="120"
                        src="{% static 'img/silhuette.png' %}"
                        alt="{{ character.name }}">
            {% endif %}
            <h4>{{ character.name }}</h4>
            {% template_category_string character 3 %}
            {% if character.created_by != request.user %}
                <small>{{ character.created_by|default:"" }}</small>
            {% endif %}
        </div>
    </div>
</a>
