{% load rules_extras %}
{% for i in initial_templates %}
    <div
            class="col-md-4 draft-template"
            data-template-id="{{ i.id }}"
            data-add-url="{% url 'characters:xhr_draft_add_template' pk=object.id %}"
            data-preview-url="{% url 'characters:xhr_create_character_preview' pk=object.id %}"
            data-selected-templates-url="{% url 'characters:xhr_draft_preview_selected_templates' pk=object.id %}">
        {% template_widget i %}
    </div>
{% endfor %}
