{% load bootstrap4 i18n rules_extras characters_extras %}

<script>
    $(function(){

        function checkReputationCosts(remaining_reputation) {
            $('.constructed-template').each(function(idx){
                elem = $(this);
                if(parseInt(elem.data('reputation-cost'), 10) > remaining_reputation){
                    elem.addClass('disabled');
                } else {
                    elem.removeClass('disabled');
                }
            })
        }
        checkReputationCosts($('#reputation').data('initial-reputation'));

        $('.constructed-template').on('click', function(e){
            var elem = $(this);
            if(!elem.hasClass('disabled')) {
                if(confirm(elem.data('select-message'))) {
                    $.post(
                        elem.data('add-url'),
                        {
                            operation: 'add-template',
                            template_id: elem.data('template-id')
                        },
                        function(data) {
                            if(data.status === 'ok') {
                                elem.hide('slow');
                                checkReputationCosts(data.remaining_reputation);
                            } else {

                            }
                        }
                    )
                }
            }
        });

        $('.add-form').on('submit', function(e){
            var form = $(this);
            var btn = form.find('button');
            var original_btn_html = btn.html();

            btn.text(btn.data('flash-message'));
            setTimeout(function(){btn.html(original_btn_html)}, 1000);

            $.ajax({
                url: form.attr('action'),
                type: 'POST',
                data: form.serialize()
            }).done(function(data){
                if(data.remaining_reputation) {
                    checkReputationCosts(data.remaining_reputation);
                }
            });
            e.preventDefault();
            return false;
        });
    })
</script>

<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" href="#reputation" aria-controls="reputation" role="tab"
           data-toggle="tab">Reputation</a>
        {% for tp in template_points %}
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tp{{ tp.id }}" id="tab{{ tp.id }}">
                    {{ tp.template_category }}
                </a>
            </li>
        {% endfor %}
    </li>
</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="reputation" data-initial-reputation="{{ object.reputation_available }}">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <p class="pt-2 mt-md-5">
                    {% blocktrans %}
                        Reputation represents the characters degree of popularity. Reputation may be
                        spent to get new character templates.
                    {% endblocktrans %}
                </p>
                <p>
                    {% blocktrans %}
                        The game master distributes reputation after each game session and for
                        special events.
                    {% endblocktrans %}
                </p>
                <form action="{% url 'characters:xhr_reputation' pk=object.id %}" method="post" class="add-form">
                    {% csrf_token %}
                    <input type="hidden" name="operation" value="add">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Reputation"
                               aria-label="Reputation" name="reputation">
                        <div class="input-group-append">
                            <button type="submit" name="add_reputation" class="btn btn-dark" type="button" data-flash-message="{% trans 'Added' %}"><i class="fa fa-eye text-warning"></i> Hinzufügen</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% for tp in template_points %}
        <div class="tab-pane fade" id="tp{{ tp.id }}" data-rel="#tab{{ tp.id }}">
            <div class="card-columns">
                {% for i in tp.template_category.template_set.all %}
                    {% has_extensions i object.extensions.all as has_ext %}
                    {% if has_ext and not i.id in character_template_ids %}
                        <div class="constructed-template"
                             data-select-message="{% trans 'Select Template for Reputation?' %}"
                             data-reputation-cost="{{ i.cost }}"
                             data-template-id="{{ i.id }}"
                             data-tp-id="{{ tp.id }}"
                             data-add-url="{% url 'characters:xhr_reputation' pk=object.id %}">
                            {% template_widget i %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>