{% load i18n %}

<div class="row">
    <div class="col-md-10 offset-md-2">
        <p>
            {% blocktrans %}
                Take a rest to refresh your health and endurance. The number of wounds healed
                depends on the length of the rest.
            {% endblocktrans %}
        </p>
        <input
                id="rest-hours-input"
                type="number"
                max="10"
                min="3"
                value="3"
                data-slider-value="3"
                data-slider-ticks="[3, 4, 5, 6, 7, 8, 9, 10]"
                data-slider-ticks-labels='["3", "4", "5", "6", "7", "8", "9", "10"]'>
        <br>
        <button class="btn btn-primary rest-button">{% trans 'Take a rest' %}</button>
        <br>
        <div class="rest-results mt-4">
            <span data-val="3"><i class="fas fa-heart fa-4x text-info"></i></span>
            {% if object.extension_enabled.horror %}
                <span class="d-none" data-val="4"><i class="fas fa-bug fa-4x text-success"></i></span>
            {% endif %}
            {% if object.extension_enabled.magic %}
                <span class="d-none" data-val="4"><i class="fas fa-magic fa-4x text-warning"></i></span>
            {% endif %}
            <span class="d-none" data-val="5"><i class="fas fa-heart fa-4x text-danger"></i></span>
            {% if object.extension_enabled.magic %}
                <span class="d-none" data-val="6"><i class="fas fa-magic fa-4x text-warning"></i></span>
            {% endif %}
            <span class="d-none" data-val="8"><i class="fas fa-heart fa-4x text-info"></i></span>
            {% if object.extension_enabled.horror %}
                <span class="d-none" data-val="8"><i class="fas fa-bug fa-4x text-success"></i></span>
            {% endif %}
            {% if object.extension_enabled.magic %}
                <span class="d-none" data-val="8"><i class="fas fa-magic fa-4x text-warning"></i></span>
            {% endif %}
            <span class="d-none" data-val="10"><i class="fas fa-heart fa-4x text-danger"></i></span>
            {% if object.extension_enabled.magic %}
                <span class="d-none" data-val="10"><i class="fas fa-magic fa-4x text-warning"></i></span>
            {% endif %}
        </div>
    </div>
</div>

<style>
    .slider.slider-horizontal {
        margin-left: 15px;
        width: 80%;
    }
</style>

<script>
    $(function(){
        setTimeout(function(){
            $('#rest-hours-input').slider({
                ticks: [3, 4, 5, 6, 7, 8, 9, 10],
                ticks_labels: ["3", "4", "5", "6", "7", "8", "9", "10"],
                value: 3
            })
        }, 300);

        $('#rest-hours-input').on('slide', function(e){
            var val = $(this).val();
            $('div.rest-results span').each(function(index){
                if($(this).data('val') <= val) {
                    $(this).removeClass('d-none');
                } else {
                    $(this).addClass('d-none');
                }
            })
        });

        $('.rest-button').on('click', function(e){
            $('div.rest-results span').each(function(index) {
                $(this).addClass('animated fadeOutUp');
            });
            e.preventDefault();
            return false;
        });
    })
</script>