{% extends 'base.html' %}
{% load portal_extras %}
{% load i18n rules_extras characters_extras campaign_extras thumbnail static %}

{% block title %}{{ object }} - {{ block.super }}{% endblock %}
{% block in_page_title %}{{ object }}{% endblock %}
{% block in_page_subtitle %}
  {{ object.lineage }} - {% template_category_string object 3 %}
  {% if object.pc_or_npc_campaign %}
    <a href="{% url 'campaigns:detail' pk=object.pc_or_npc_campaign.id %}">{{ object.pc_or_npc_campaign }}</a>
  {% endif %}
{% endblock %}

{% block javascript %}
  <script src="{% static 'js/character_detail.js' %}"></script>
  <script src="{% static 'js/campaign_socket.js' %}"></script>
  <script>
      $(function () {
          $('.character-main-nav a[href]:first').tab('show')
      })
  </script>
{% endblock %}

{% block bottom_nav %}
  {% bottom_navigation_button "characters/_navigation.html" %}
{% endblock %}

{% block content %}
  <div id="dice-log-toggle"
       hx-get="{% url 'characters:xhr_dice_log' pk=object.id %}"
       hx-target="#dice-log-entries"
       onclick="toggleDiceLog()">
    <i class="gi gi-delapouite-dice-six-faces-five me-2"></i>
    {% trans "Dice Log" %}
  </div>

  <div id="dice-log">
    <div id="dice-log-entries"></div>
  </div>

  <div class="d-none" id="room-url">{% ws_room_url object.ws_room_name %}</div>
  <audio class="d-none" id="room-audio" src="{% static 'roll.mp3' %}"></audio>

  <div class="row">
    <div class="col-12 col-xl-3 d-none d-xl-block">
      {% include 'characters/_navigation.html' with object=object may_edit=may_edit %}
    </div>

    <div class="col-12 col-xl-9">

      {% if not object.created_by %}
        <div class="alert alert-danger" role="alert">
          {% trans 'This character was created while not being logged in. It will be deleted by tomorrow.' %}
        </div>
      {% endif %}

      {% detail_fragment "status" %}

      <div class="tab-content">
        <div class="tab-pane fade show active" id="v-character" role="tabpanel">
          {% detail_fragment 'character' %}
        </div>

        <div class="tab-pane fade" id="v-gear" role="tabpanel">
          {% detail_fragment 'gear' %}
        </div>

        <div class="tab-pane fade" id="v-combat" role="tabpanel">
          {% detail_fragment 'combat' %}
        </div>

        <div class="tab-pane fade" id="v-magic" role="tabpanel">
          {% detail_fragment 'magic' %}
        </div>

        <div class="tab-pane fade" id="v-pantheon" role="tabpanel">
          {% detail_fragment 'pantheon' %}
        </div>

        <div class="tab-pane fade" id="v-horror" role="tabpanel">
          {% detail_fragment 'horror' %}
        </div>

        <div class="tab-pane fade" id="v-background" role="tabpanel">
          {% detail_fragment 'advancement' %}
        </div>

        <div class="tab-pane fade" id="v-notes" role="tabpanel">
          {% detail_fragment 'notes' %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
