{% extends 'base.html' %}
{% load i18n static thumbnail characters_extras %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <a href="{% url 'characters:create_character' %}" class="btn btn-primary btn-lg float-end mb-2">{% trans 'Create a character' %}</a>
        </div>
    </div>
    <div class="row character-list">
        {% for object in object_list %}
            <div class="col-sm-6 col-md-6 mb-3">
                <a href="{{ object.get_absolute_url }}">
                    <div class="card character-list-item" style="
                            background-size: 100%;
                            {% if object.backdrop_image %}
                                {% thumbnail object.backdrop_image "x800" as im %}
                                    background-image: url({{ im.url }})
                                {% endthumbnail %}
                            {% else %}
                            {% if object.get_epoch.image %}
                                {% thumbnail object.get_epoch.image "x800" as im %}
                                    background-image: url({{ im.url }})
                                {% endthumbnail %}
                            {% else %}
                                background-color: silver
                            {% endif %}
                            {% endif %}
                            ">
                        <div class="card-body text-end">
                            {% if object.image %}
                                {% thumbnail object.image "120x120" crop="center" as im %}
                                    <img
                                            class="img-fluid rounded float-start"
                                            src="{{ MEDIA_URL }}{{ im.url }}"
                                            alt="{{ object.name }}">
                                {% endthumbnail %}
                            {% else %}
                                <img
                                        class="img-fluid rounded float-start"
                                        height="120" width="120"
                                        src="{% static 'img/silhuette.png' %}"
                                        alt="{{ object.name }}">
                            {% endif %}
                            <h4>{{ object.name }}</h4>
                            <small>{% template_category_string object 3 "" %}</small><br>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
