{% extends 'base.html' %}
{% load i18n rules_extras characters_extras campaign_extras thumbnail static %}

{% block title %}{{ object }} - {{ block.super }}{% endblock %}

{% block javascript %}
    <script src="{% static 'js/character_detail.js' %}"></script>
    <script src="{% static 'js/sidebar.js' %}"></script>
    <script src="{% static 'js/campaign_socket.js' %}"></script>
{% endblock %}

{% block belownav %}
    <div
            class="row character-info-row"
            style="
                    {% if character.backdrop_image %}
                        {% thumbnail character.backdrop_image "1800" as im %}
                            background-image: url({{ im.url }})
                        {% endthumbnail %}
                    {% else %}
                        {% if character.get_epoch.image %}
                            {% thumbnail character.get_epoch.image "1800" as im %}
                                background-image: url({{ im.url }})
                            {% endthumbnail %}
                        {% else %}
                            background-color: silver
                        {% endif %}
                    {% endif %}">

        <div class="col-md-10 offset-md-1 pb-5">
            <div class="character-image float-start me-4 {% if may_edit %}sidebar-trigger{% endif %}"
                 data-sidebar-title="{% trans 'Character' %}"
                 data-sidebar-url="{% url 'characters:xhr_character_sidebar' pk=object.id sidebar_template="character" %}">
                {% if character.image %}
                    {% thumbnail character.image "140x140" crop="center" as im %}
                        <img class="rounded img-fluid" src="{{ MEDIA_URL }}{{ im.url }}" alt="{{ object.name }}">
                    {% endthumbnail %}
                {% else %}
                    <img class="rounded img-fluid" width="140" height="140" src="{% static 'img/silhuette.png' %}"
                         alt="{{ object.name }}">
                {% endif %}
                <span class="dice-icon"><i class="fas fa-dice-five text-light shadow fa-2x"></i></span>
            </div>

            <div>
                <h3 class="mb-0">{{ object.name }}</h3>
                <small>{% template_category_string object 3 "" %}</small><br>
                <small>{% template_category_string object 2 "" %}</small><br>
                <small>{% template_category_string object 6 "" %}</small><br>
                <small class="sidebar-trigger" data-sidebar-title="{% trans 'Reputation' %}" data-sidebar-url="{% url 'characters:xhr_character_sidebar' pk=object.id sidebar_template="reputation" %}"><span>{% trans 'Reputation' %}</span> <span class="badge bg-secondary">{{ object.reputation_gained }}</span></small><br>
                {% if object.campaign %}
                    <small><a
                            href="{% url 'campaigns:detail' pk=object.campaign.id %}">{{ object.campaign }}</a></small>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="d-none" id="room-url">{% ws_room_url object.ws_room_name %}</div>
    <audio class="d-none" id="room-audio" src="{% static 'roll.mp3' %}"></audio>
    <div id="character-modal" class="modal fade character-modal" tabindex="-1" role="dialog"
         aria-labelledby="character-modal">
        <div class="modal-dialog modal-xl modal-fullscreen-lg-down" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body character-modal-container">
                    <div class="text-center">
                        <i class="fa fa-cog fa-spin fa-5x fa-fw"></i>
                        <span class="sr-only">{% trans 'Loading' %}...</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal">{% trans 'Close' %}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">

        <div class="col-12">
            {% detail_fragment 'Character' 'health' %}

            <div class="nav nav-tabs justify-content-center mb-3" id="v-pills-tab" role="tablist">
                <a class="nav-link active" data-bs-toggle="tab" href="#v-character"
                   role="tab" aria-controls="v-character" aria-selected="true"><i
                        class="fas fa-fw fa-male"></i>&nbsp;{% trans 'Character' %}</a>
                <a class="nav-link" data-bs-toggle="tab" href="#v-gear" role="tab" aria-controls="v-gear"
                   aria-selected="true"><i class="fas fa-suitcase fa-fw"></i>&nbsp;{% trans 'Gear' %}</a>
                <a class="nav-link" data-bs-toggle="tab" href="#v-combat" role="tab" aria-controls="v-combat"
                   aria-selected="true"><i class="fas fa-fw fa-chess-pawn"></i>&nbsp;{% trans 'Combat' %}</a>
                {% if object.extension_enabled.magic %}
                    <a class="nav-link" data-bs-toggle="tab" href="#v-magic" role="tab" aria-controls="v-combat"
                       aria-selected="true"><i class="fas fa-fw fa-magic"></i>&nbsp;{% trans 'Magic' %}
                        {% if object.spell_points_available %}
                            <span class="badge bg-info ms-2">{{ object.spell_points_available }}</span>
                        {% endif %}
                    </a>
                {% endif %}
                <a class="nav-link" data-bs-toggle="tab" href="#v-background" role="tab" aria-controls="v-background"
                   aria-selected="true"><i class="fas fa-fw fa-graduation-cap"></i>&nbsp;{% trans 'Background' %}
                    <span class="badge bg-primary ms-2">{{ object.reputation_available }}</span>
                </a>
            </div>

            {% if not object.created_by %}
                <div class="alert alert-danger" role="alert">
                    {% trans 'This character was created while not being logged in. It will be deleted by tomorrow.' %}
                </div>
            {% endif %}

            <div class="tab-content">
                <div class="tab-pane fade show active" id="v-character" role="tabpanel">
                    {% detail_fragment 'Character' 'character' %}
                </div>

                <div class="tab-pane fade" id="v-gear" role="tabpanel">
                    {% detail_fragment 'Character' 'gear' %}
                </div>

                <div class="tab-pane fade" id="v-combat" role="tabpanel">
                    {% detail_fragment 'Character' 'combat' %}
                </div>

                <div class="tab-pane fade" id="v-magic" role="tabpanel">
                    {% detail_fragment 'Character' 'magic' %}
                </div>

                <div class="tab-pane fade" id="v-background" role="tabpanel">
                    {% detail_fragment 'Character' 'advancement' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
