{% extends 'base.html' %}
{% load i18n static thumbnail %}

{% block content %}
    <div class="row">
        {% for object in object_list %}
            <div class="col-md-3 mb-3">
                <a href="{{ object.get_absolute_url }}">
                    <div class="text-center">
                        {% if object.image %}
                            {% thumbnail object.image "100x100" crop="center" as im %}
                            <img
                                    class="rounded-circle mb-2 img-fluid"
                                    src="{{ MEDIA_URL }}{{ im.url }}"
                                    alt="{{ object.name }}">
                            {% endthumbnail %}
                        {% else %}
                            <img
                                    class="rounded-circle mb-2 img-fluid"
                                    src="{% static 'img/silhuette.png' %}"
                                    alt="{{ object.name }}">
                        {% endif %}
                        <h3>{{ object.name }}</h3>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
