{% extends 'base.html' %}
{% load i18n rules_extras characters_extras %}

{% block javascript %}
    <script>
        $(function(){
            var timer = null;

            $('#id_q').on('keyup', function(e){
                var q = $(this).val();

                function updateTabs(){
                    $('.tab-pane').each(function(index){
                        var elem = $(this);
                        var ct = elem.find('.constructed-template:not(.d-none)');
                        if(ct.length === 0) {
                            elem.addClass('d-none');
                            $(elem.data('rel')).addClass('disabled');
                        } else {
                            elem.removeClass('d-none');
                            $(elem.data('rel')).removeClass('disabled');
                        }
                        $('a[data-toggle="tab"]:not(.disabled):first').tab('show');
                    })
                }

                if (timer) {
                    clearTimeout(timer);
                }
                timer = setTimeout(function(){
                    $('.constructed-template').each(function(index){
                        if($(this).text().toLowerCase().search(q.toLowerCase()) > -1) {
                            $(this).removeClass('d-none');
                        } else {
                            $(this).addClass('d-none');
                        }
                    });
                    updateTabs();
                    //history.replaceState({q: q}, '', '?q=' + q);
                }, 10);
            });


            $('.row').on('click', '.constructed-template', function(e){
                var template_div = $(this);
                var template_id = template_div.data('template-id');
                var preview_url = template_div.data('preview-url');
                if (template_div.hasClass('selected')) {
                    $.post(
                        template_div.data('remove-url'),
                        {template_id: template_id},
                        function(data){
                            if(data.status === 'ok'){
                                $('.template-points').text(data.remaining_points);
                                template_div.removeClass('selected');
                                $('.character-preview').load(preview_url);
                            } else {
                                // shake
                            }
                        });
                } else {
                    $.post(
                        template_div.data('add-url'),
                        {template_id: template_id},
                        function(data){
                            if(data.status === 'ok') {
                                $('.template-points').text(data.remaining_points);
                                template_div.addClass('selected');
                                $('.character-preview').load(preview_url);
                            } else {
                                template_div.addClass('notenoughpoints');
                                $('.template-points').addClass('animated wobble');
                                setTimeout(function(){
                                    template_div.removeClass('notenoughpoints');
                                    $('.template-points').removeClass('animated wobble');
                                }, 500);
                            }
                        });
                }
                e.preventDefault();
                return false;
            });

            $('#switch-preview').on('change', function(){
                if($(this).prop('checked')) {
                    $('.draft-template-list').addClass('d-none');
                    $('.draft-preview').removeClass('d-none');
                } else {
                    $('.draft-preview').addClass('d-none');
                    $('.draft-template-list').removeClass('d-none');
                }
            });
        })
    </script>
{% endblock %}

{% block content %}

    <div class="row initial-data">
        <div class="col-md-12">
            <div class="form-group float-right">
                <span class="switch switch-sm float-right">
                    <input type="checkbox" class="switch" id="switch-preview">
                    <label for="switch-preview">{% trans "Preview" %}</label>
                </span>
                <input type="text" class="form-control" placeholder="{% trans "Search" %}" id="id_q">
            </div>
            <h2><span class="badge badge-info template-points h2">{{ character.remaining_template_points }}</span> {% trans "Character Points "%}</h2>
            <p class="text-muted">{% trans 'Excess points will become the new characters initial reputation.' %}</p>
            <form action="{% url 'characters:create_character_constructed' pk=character.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-success">{% trans 'Finish Character' %}</button>
            </form>
        <hr>
        </div>
    </div>

    <div class="row draft-template-list mt-4">
        <div class="col-md-12">
            <ul class="nav nav-tabs nav-fill mb-2" role="tablist">
                {% for tp in template_points %}
                    <li class="nav-item">
                        <a class="nav-link {% if forloop.first %}active{% endif %}" data-toggle="tab" href="#tp{{ tp.id }}" id="tab{{ tp.id }}">
                            {{ tp.template_category }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-md-12 tab-content">
            {% for tp in template_points %}
                <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="tp{{ tp.id }}" data-rel="#tab{{ tp.id }}">
                    <div class="card-columns">
                        {% for i in tp.template_category.template_set.all %}
                            {% has_extensions i object.extensions.all as has_extension %}
                            {% if has_extension %}
                                <div class="constructed-template {% if i.id in character_template_ids %}selected{% endif %}"
                                    data-template-id="{{ i.id }}"
                                    data-tp-id="{{ tp.id }}"
                                    data-add-url="{% url 'characters:xhr_constructed_add_template' pk=object.id %}"
                                    data-remove-url="{% url 'characters:xhr_constructed_remove_template' pk=object.id %}"
                                    data-preview-url="{% url 'characters:xhr_create_character_preview' pk=object.id %}">
                                    {% template_widget i %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="row draft-preview d-none mt-4">
        <div class="col-md-12 character-preview">
            {% detail_fragment 'character' %}
        </div>
    </div>
{% endblock %}