{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">- {% trans 'New Character' %} -</h1>
            <p class="text-muted text-center">{% trans 'Choose an epoch for your character to live in' %}</p>
        </div>

        {% for extension in extensions %}
            <div class="col-md-4">
                <div class="card text-center mb-2">
                    <div class="card-header">
                        {{ extension }}
                    </div>
                    <div class="card-body">
                        <p class="text-muted text-center">{{ extension.year_range }}</p>
                        <i class="{{ extension.fa_icon_class }} fa-9x mb-4"></i>
                        <p class="text-center">{{ extension.description }}</p>
                        <a href="" class="btn btn-primary w-100">{{ extension }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}