{% extends 'base.html' %}
{% load i18n rules_extras characters_extras %}

{% block javascript %}
    <script>
        $(function(){
            $('.row').on('click', '.constructed-template', function(e){
                var template_div = $(this);
                var template_id = template_div.data('template-id');
                var preview_url = template_div.data('preview-url');
                if (template_div.hasClass('selected')) {
                    $.post(
                        template_div.data('remove-url'),
                        {template_id: template_id},
                        function(data){
                            if(data.status === 'ok'){
                                $('.tp-points-' + template_div.data('tp-id')).text(data.remaining_points);
                                template_div.removeClass('selected');
                                $('.character-preview').load(preview_url);
                            } else {
                            }
                        });
                } else {
                    $.post(
                        template_div.data('add-url'),
                        {template_id: template_id},
                        function(data){
                            if(data.status === 'ok') {
                                $('.tp-points-' + template_div.data('tp-id')).text(data.remaining_points);
                                template_div.addClass('selected');
                                $('.character-preview').load(preview_url);
                            } else {
                            }
                        });
                }
                e.preventDefault();
                return false;
            })
        })
    </script>
{% endblock %}

{% block content %}
    <div class="row initial-data" data-detail-url="{% url 'characters:detail' pk=object.id %}">
        <div class="col-md-12">
            <h1 class="text-center">- {% trans 'Construct Character' %} -</h1>
        </div>
    </div>
    <div class="row draft-template-list">
        <div class="col-md-12">
            <ul class="nav nav-tabs nav-fill mb-2" role="tablist">
                {% for tp in template_points %}
                    <li class="nav-item">
                        <a class="nav-link {% if forloop.first %}active{% endif %}" data-toggle="tab" href="#tp{{ tp.id }}">{{ tp.template_category }}
                            <span class="badge badge-info tp-points-{{ tp.id }}">{% character_remaining_template_points object tp.template_category %}</span></a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-12 tab-content">
            {% for tp in template_points %}
                <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="tp{{ tp.id }}">
                    <div class="row">
                        {% for i in tp.template_category.template_set.all %}
                            {% if i.extension in object.extensions.all or i.extension.is_mandatory %}
                                <div class="col-md-4 constructed-template {% if i.id in character_template_ids %}selected{% endif %}"
                                    data-template-id="{{ i.id }}"
                                    data-tp-id="{{ tp.id }}"
                                    data-add-url="{% url 'characters:xhr_constructed_add_template' pk=object.id %}"
                                    data-remove-url="{% url 'characters:xhr_constructed_remove_template' pk=object.id %}"
                                    data-preview-url="{% url 'characters:xhr_create_character_preview' pk=object.id %}">
                                    {% template_widget i %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <a href="{{ object.get_absolute_url }}" class="btn btn-primary btn-block">{% trans 'Done' %}</a>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12 character-preview">
            {% include 'characters/fragments/character.html' %}
        </div>
    </div>
{% endblock %}