{% extends 'base.html' %}
{% load i18n rules_extras characters_extras %}

{% block javascript %}
    <script>
        $(function(){
            var template_count = parseInt($('.initial-data').data('initial-template-count'));
            if (template_count > 9){
                window.location = $('.initial-data').data('detail-url')
            }

            $('.row').on('click', '.draft-template', function(e){
                var template_id = $(this).data('template-id');
                var preview_url = $(this).data('preview-url');
                var selected_templates_url = $(this).data('selected-templates-url');
                $.post(
                    $(this).data('add-url'),
                    {template_id: template_id},
                    function(data){
                        $('.draft-template-list').html(data);
                        $('.character-preview').load(preview_url);
                        $('.selected-templates').load(selected_templates_url);
                        template_count += 1;
                        $('.template-number').text(template_count);
                        if (template_count > 9){
                            window.location = $('.initial-data').data('detail-url')
                        }
                    });
                e.preventDefault();
                return false;
            })

            $('#switch-preview').on('change', function(){
                if($(this).prop('checked')) {
                    $('.draft-template-list').addClass('d-none');
                    $('.draft-preview').removeClass('d-none');
                } else {
                    $('.draft-preview').addClass('d-none');
                    $('.draft-template-list').removeClass('d-none');
                }
            });
        })
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 mb-3">
            <div class="float-left mr-2 text-center">
                <h2><span class="badge badge-info"><span class="template-number">{{ object.charactertemplate_set.count }}</span>/10</span></h2>{% trans "Draft Templates"%}
                <div class="form-group mt-4">
                    <span class="switch switch-sm">
                        <input type="checkbox" class="switch" id="switch-preview">
                        <label for="switch-preview">{% trans "Preview" %}</label>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div
            class="row initial-data"
            data-initial-template-count="{{ object.charactertemplate_set.count }}"
            data-detail-url="{% url 'characters:detail' pk=object.id %}">
    </div>

    <div class="row draft-template-list">
        {% include 'characters/_draft_template_list.html' %}
    </div>

    <div class="row draft-preview d-none">
        <div class="col-md-9 character-preview">
            {% include 'characters/fragments/character.html' %}
        </div>
        <div class="col-md-3">
            <h2 class="text-center">- {% trans 'Templates' %} -</h2>
            <div class="selected-templates">
                {% include 'characters/_draft_selected_templates.html' %}
            </div>
        </div>
    </div>
{% endblock %}