{% load rules_extras %}
{% load armory_extras %}
{% load characters_extras %}
{% load i18n %}
{% for character_weapon in object.characterweapon_set.all|cap_and_fill_queryset_to:4 %}
  <div class="box weapon-box">
    <h2>{% trans 'Weapon' %}</h2>
    <h3>{{ character_weapon.weapon }}</h3>

    {% for identifier, kw in character_weapon.modified_keywords.items %}
      <b>{{ kw.name }}</b>: <span>{% color_value_span kw.value 6 %}</span>
      <i class="text-light">({{ kw.description|replace_keyword_value:kw.value }})</i><br>
    {% endfor %}

    {% for wm in character_weapon.modifications.all %}
      <h5 class="mt-4">{{ wm }}</h5>
      <p>
        {{ wm.rules|urpg_markup }}
      </p>
      {% for keyword in wm.weaponmodificationkeyword_set.all %}
        <span class="fw-bold {% if keyword.keyword.is_rare %}text-primary{% endif %}">{{ keyword.keyword.name }}</span>
        {% color_value_span keyword.value 6 %}<br>
      {% endfor %}
    {% endfor %}

    {% for fm in character_weapon.weapon.attack_modes.all %}
      {% with meter=character_weapon.modified_keywords.range_meter.value %}
        <div class="bordered-box">
          {{ fm.name }} - {{ meter|default:1 }}m
        </div>
      {% endwith %}
    {% endfor %}
  </div>
{% endfor %}
