{% load i18n characters_extras rules_extras thumbnail armory_extras %}

<div class="card mb-3 add-item-card">
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <h4>{{ weapon }}</h4>

                {{ weapon.description|urpg_markup }}

                {% for kw in weapon.weaponkeyword_set.all %}
                    <b>{{ kw.keyword.name }}</b> {% color_value_span kw.value 6 %}
                    <i>({{ kw.keyword.description|replace_keyword_value:kw.value }})</i><br>
                {% endfor %}

                {% if weapon.weaponattackmode_set.exists %}
                    <br>
                    {% for fm in weapon.weaponattackmode_set.all %}
                        <button disabled class="btn btn-outline-primary mb-2 w-100">
                            {{ fm.attack_mode.name }} - {{ weapon.range_meter }}m<br>
                        </button>
                    {% endfor %}
                {% endif %}

                {% if character and add_button %}
                    {% with currency_unit=character.common_currency_unit %}
                        <form action="{% url 'characters:add_weapon' pk=character.id weapon_pk=weapon.id %}"
                              class="float-end add-form pt-3" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="weapon_id" value="{{ weapon.id }}">
                            <button class="btn btn-sm btn-primary float-end"
                                    data-danger="{% trans 'Not possible' %}"
                                    data-success="{% trans 'Added' %}">
                                {% trans 'Add' %}
                                <i class="ms-1 {{ currency_unit.fa_icon_class }} {{ currency_unit.color_class }}"></i>
                                {% color_value_span weapon.price 1000 invert=True %}
                            </button>
                        </form>
                    {% endwith %}
                {% endif %}
            </div>
        </div>
        {% if user.is_superuser %}
            <a href="{% url 'admin:armory_weapon_change' weapon.id %}"
               style="position: absolute; bottom: 2px; left: 2px; font-size: xx-small">admin</a>
        {% endif %}
    </div>
</div>
