{% extends 'base.html' %}
{% load i18n static rules_extras characters_extras %}

{% block javascript %}
    <script>
        $(function () {
            let timer = null;

            $('#id_q').on('keyup', function(e){
                let q = $(this).val()

                if(timer) {
                    clearTimeout(timer)
                }

                timer = setTimeout(function(){
                    $('tbody tr').each(function(index){
                        if($(this).text().toLowerCase().search(q.toLowerCase()) > -1) {
                            $(this).removeClass('d-none')
                        } else {
                            $(this).addClass('d-none')
                        }
                    })
                }, 10)
            })
        })
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 col-md-6 offset-md-6 mb-4">
            <div class="input-group mb-3">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">{% if selected_extension %}{{ selected_extension }}{% else %}
                    {% trans 'Filter by Extension' %}{% endif %}
                </button>
                <ul class="dropdown-menu">
                    {% for extension in extensions %}
                        <li><a class="dropdown-item"
                               href="{% url 'armory:weapon_list' %}?extension={{ extension.id }}">{{ extension }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <input type="text" id="id_q" name="q" class="form-control" aria-label="{% trans 'Search' %}"
                       placeholder="{% trans 'Search' %}">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-sortable">
                    <thead>
                    <tr>
                        <th>{% trans 'Weapon' %}</th>
                        <th>{% trans 'Attack Modes' %}</th>
                        <th>{% trans 'Piercing' %}</th>
                        <th>{% trans 'Bonus Dice' %}</th>
                        <th>{% trans 'Bonus Wounds' %}</th>
                        <th>{% trans 'Range' %}</th>
                        <th>{% trans 'Capacity' %}</th>
                        <th>{% trans 'Price' %}</th>
                        {% if user.is_superuser %}
                            <th>{% trans 'Admin' %}</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for object in object_list %}
                        <tr>
                            <td>{{ object.name }}<br><small class="text-muted">{{ object.type }}</small></td>
                            <td>
                                {% for am in object.weaponattackmode_set.all %}
                                    {{ am.attack_mode.name }} +{% color_value_span am.dice_bonus 6 %} <i
                                        class="fas fa-dice-five"></i><br>
                                {% endfor %}
                            </td>
                            <td>{% color_value_span object.piercing 4 %}</td>
                            <td>{% color_value_span object.bonus_dice 4 %}</td>
                            <td>{% color_value_span object.wounds 4 %}</td>
                            <td>{% color_value_span object.range_meter 30 %}m</td>
                            <td>
                                {% if object.capacity %}
                                    {% color_value_span object.capacity 10 %}
                                {% else %}
                                    -
                                {% endif %}
                            </td>
                            <td>{% color_value_span object.price 10000 invert=True %}</td>
                            {% if user.is_superuser %}
                                <td><a href="{% url 'admin:armory_weapon_change' object.id %}">admin</a></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}