@font-face {
    font-family: 'Morris Roman';
    src: url('MorrisRoman-Black.woff2') format('woff2'),
        url('MorrisRoman-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

