{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Password reset mail sent' %} - {{ block.super }}{% endblock %}

{% block in_page_title %}{% trans 'Password reset mail sent' %}{% endblock %}
{% block in_page_subtitle %}
  {% trans "We have sent you an email with instructions on how to reset your password." %}{% endblock %}

{% block opengraph %}
  {% trans "Password reset mail sent" as og_title %}
  {% blocktrans asvar og_description %}We have sent you an email with instructions on how to reset your password.{% endblocktrans %}
  {% include "shared/opengraph.html" with og_title=og_title og_description=og_description %}
{% endblock %}

{% block content %}
  <div class="row my-5">
    <div class="col-md-6 offset-md-3">
      <p>{% trans 'If you do not receive an email, please make sure you have entered the address you registered with, and check your spam folder.' %}</p>
    </div>
  </div>
{% endblock %}
