{% extends "base.html" %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block title %}{% trans 'Password reset' %} - {{ block.super }}{% endblock %}
{% block in_page_title %}{% trans 'Password reset' %}{% endblock %}
{% block in_page_subtitle %}{% trans "Enter your email address to reset your password." %}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3">
      <form action="" method="post">
        {% csrf_token %}
        {% bootstrap_form form layout="floating" %}
        <button type="submit" class="btn btn-primary mt-2">{% trans 'Reset password' %}</button>
      </form>
    </div>
  </div>
{% endblock %}