{% load characters_extras %}
{% load i18n %}
{% for game_values in object.wikipagegamevalues_set.all %}
  <div class="mb-3">
    <h4>{% trans "Foe" %}</h4>
    <div class="col-12 mt-1">
      {{ game_values.type }}
    </div>
    <div class="col-12 mt-3">
      <b>{% trans 'Wounds' %}</b>:
      {% color_value_span game_values.health 6 %}
    </div>
    <div class="col-12 mt-1">
      <b>{% trans 'Protection' %}</b>:
      {% color_value_span game_values.protection 3 %}
    </div>
    <div class="col-12 mt-1">
      <b>{% trans 'Arcana' %}</b>:
      {% color_value_span game_values.arcana 6 %}
    </div>
    <div class="col-12 mt-1">
      <b>{% trans 'Actions' %}</b>:
      {% color_value_span game_values.actions 3 %}
    </div>
    <div class="col-12 mt-1">
      <b>{% trans 'Minimum Roll' %}</b>:
      {% color_value_span game_values.minimum_roll 5 invert=True %}
    </div>
    <div class="col-12 mt-1">
      <b>{% trans 'Movement' %}</b>:
      {% color_value_span game_values.walking_range 5 %}m
    </div>
    <div class="col-12 mt-1">
      <b>{% trans 'Perception' %}</b>:
      {% color_value_span game_values.perception 3 %}
    </div>
    <div class="col-12 mt-1">
      <b>{% trans 'Quickness' %}</b>:
      {% color_value_span game_values.quickness 3 %}
    </div>
    <div class="col-12 mt-1">
      <b>{% trans 'Resistances' %}</b>:
      {{ game_values.resistance_string }}
    </div>
    <div class="col-12 mt-1">
      <b>{% trans 'Weaknesses' %}</b>:
      {{ game_values.weakness_string }}
    </div>
    {% if game_values.stress_test_succeeded_stress or game_values.stress_test_failed_stress %}
      <div class="col-12 mt-1">
        <b>{% trans 'Stress' %}</b>:
        {% color_value_span game_values.stress_test_succeeded_stress 2 invert=True %}/{% color_value_span game_values.stress_test_failed_stress 5 invert=True %}
      </div>
    {% endif %}
  </div>
{% endfor %}
