{% load thumbnail %}
{% load world_extras %}
{% load characters_extras %}
{% load i18n %}
{% load portal_extras %}
<div class="list-group atmospheric-navigation mb-3">
  {% for page in object.world.wikipage_set.get_top_level %}
    <a
      class="{% if object|is_subpage_of:page %}active{% endif %} navigation-link pointer py-3 list-group-item list-group-item-action d-flex justify-content-between align-items-center"
      href="{% url "world:wiki_page" world_slug=object.world.slug slug=page.slug %}"
      aria-current="true">
      <div class="d-flex justify-content-center align-items-center">
        <i class="fas fa-fw fa-book"></i>
        <span class="ms-3 d-block d-lg-block">{{ page }}</span>
      </div>
    </a>
  {% endfor %}
</div>
