{% extends 'base.html' %}
{% load portal_extras %}
{% load static i18n characters_extras rules_extras thumbnail %}

{% block bottom_nav %}
  {% bottom_navigation_button "worlds/_navigation.html" %}
{% endblock %}

{% block title %}{{ world }} - {{ block.super }}{% endblock %}
{% block in_page_title %}{{ world }}{% endblock %}
{% block in_page_subtitle %}{% endblock %}

{% block opengraph %}
  {% if world.get_image %}
    {% include "shared/opengraph.html" with og_title=world og_description=world.description_1|default:brand_description|striptags|truncatechars:200 og_image_path=world.get_image.image.url %}
  {% else %}
    {% include "shared/opengraph.html" with og_title=world og_description=world.description_1|default:brand_description|striptags|truncatechars:200 %}
  {% endif %}
{% endblock %}

{% block content %}
  <div data-app="worlds" class="row world-sheet">
    <div class="col-12 col-xl-3 d-none d-xl-block">
      {% include 'worlds/_navigation.html' with object=object may_edit=may_edit %}
    </div>

    <div class="col-12 col-xl-9 wiki-page atmospheric-world-content">
      {{ world.description_1|phasesix_markup|replace_wiki_tags:world }}
      {{ world.description_2|phasesix_markup|replace_wiki_tags:world }}
      {{ world.description_3|phasesix_markup|replace_wiki_tags:world }}

      {% include "worlds/_wiki_page_index.html" with pages=world.wikipage_set.get_top_level %}
    </div>
  </div>

{% endblock %}
