{% load characters_extras i18n %}

{% with kd=object.knowledge_dict %}
    {% if kd %}
        <div class="box">
            <h2>{% trans 'Knowledge' %}</h2>
            <table class="table">
                {% for knowledge in kd.items|fill_queryset_to:6 %}
                    <tr>
                        <td>
                            {{ knowledge.0 }}
                            {% if knowledge.0.skill %}
                                <br><small class="text-muted">{{ knowledge.0.skill }}</small>
                            {% endif %}
                        </td>
                        <td class="text-end">
                        <span class="text-light">
                            {% if knowledge.0.skill %}
                                {{ knowledge.1 }} +
                                {% if knowledge.0.skill %}
                                    {% character_knowledge_skill_value object knowledge.0 as cs %}
                                    {{ cs }}
                                {% endif %}
                            {% endif %}
                        </span>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
{% endwith %}
