{% load characters_extras rules_extras i18n %}
<div class="item-sortable"
     data-url="{% url 'characters:xhr_update_item_sort_order' pk=character.id %}">
    {% for ci in qs %}
        <div class="card mb-3 sidebar-trigger" data-sidebar-title="{{ ci.item }}"
             data-pk="{{ ci.id }}"
             data-sidebar-url="{% url 'characters:xhr_characteritem_sidebar' pk=ci.id sidebar_template="characteritem" %}">
            <div class="card-header">
                {% if ci.quantity > 1 %}{% color_value_span ci.quantity 10 %}
                    x {% endif %} {{ ci.item }}
                <span class="small text-muted">{{ ci.item.type }}</span>
                {% if ci.item.concealment > 0 %}
                    <span class="float-end">
                                <i class="fas fa-eye-slash fa-fw"
                                   title="{% trans 'Concealment' %}"></i> {% color_value_span ci.item.concealment 6 invert=True %}
                            </span>
                {% endif %}
            </div>
            {% if ci.item.description %}
                <div class="card-body d-none">
                    <p class="mb-0">{{ ci.item.description }}</p>
                </div>
            {% endif %}
            <div class="card-footer d-none">
                <i class="fas fa-eye-slash fa-fw"
                   title="{% trans 'Concealment' %}"></i> {% color_value_span ci.item.concealment 6 invert=True %}
                <i class="fas fa-balance-scale fa-fw ms-1"
                   title="{% trans 'Weight' %}"></i> {{ ci.item.weight }}
                {% if user.is_superuser %}
                    <a href="{% url 'admin:armory_item_change' ci.item.id %}"
                       style="position: absolute; bottom: 2px; right: 2px; font-size: xx-small">admin</a>
                {% endif %}
            </div>
        </div>
    {% empty %}
        {% trans 'Empty' %}
    {% endfor %}
</div>
