{% extends 'characters/fragments/fragment_base.html' %}
{% load characters_extras rules_extras i18n %}

{% block fragment %}
<div class="row">
    <div class="col-md-12">
        <h2 class="mb-2">{% trans 'Background' %}</h2>
    </div>
    {% for template in character.charactertemplate_set.all %}
        <div class="col-md-4">
            {% template_widget template.template %}
        </div>
    {% endfor %}
</div>
<div class="row">
    <div class="col-md-12">
        <h2 class="mb-1">{% trans 'Advancement' %}</h2>
        soon...
    </div>
</div>
{% endblock %}
