{% extends 'characters/fragments/fragment_base.html' %}
{% load characters_extras rules_extras i18n %}

{% block fragment %}
<div class="row">
    <div class="col-md-3">
        <table class="table">
            {% for skill in object.characterskill_set.combat_skills %}
                <tr>
                    <td>{{ skill.skill }}</td>
                    <td class="text-right">{% color_value_span skill.value 6 %}</td>
                </tr>
            {% endfor %}
            <tr>
                <td>{% trans 'Quickness' %}</td>
                <td class="text-right">{% color_value_span object.quickness 6 %}</td>
            </tr>
        </table>

        <div class="card">
            <div class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="h4">{% trans "Attack Roll" %}</div>
                    <div class="text-muted ml-4">7 - {% trans 'Skill' %} - {% trans 'Weapon Accuracy' %}</div>
                </li>
                <li class="list-group-item">
                    <div class="h4">{% trans 'Cover Roll' %}</div>
                    <div class="text-muted ml-4">
                    4+ - {% trans 'Mostly covered' %}<br>
                    5+ - {% trans 'Half cover or prone' %}<br>
                    6+ - {% trans 'Minimal cover' %}
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="h4">{% trans 'Armor roll' %}</div>
                    <div class="text-muted ml-4">
                        7 - {% trans 'Armor value' %} + {% trans 'penetration' %}
                    </div>
                </li>
            </div>
        </div>
    </div>

    <div class="col-md-9 mb-4">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>
                        {% trans 'Action' %}<br>
                        <small>{% trans 'Type' %}</small>
                    </th>
                    <th>
                        {% trans 'Roll' %}<br>
                        <small>{% trans 'Time' %}</small>
                    </th>
                    <th>
                        {% trans 'Damage' %}<br>
                        <small>{% trans 'Penetration' %}</small>
                    </th>
                    <th>
                        {% trans 'Range' %}<br>
                        <small>{% trans 'Area of effect' %}</small>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for w in object.characterweapon_set.all %}
                    <tr>
                        <td>
                            <i class="fas fa-hand-rock text-success"></i> {{ w.weapon }}<br>
                            <small>{{ w.weapon.type }}</small>
                        </td>
                        <td>
                            {% color_value_span w.attack_roll 7 %}+
                            <br>
                            <small>{% color_value_span w.weapon.attacks_per_action 5 %} <abbr title="{% trans 'Attacks per Action' %}">{% trans 'ApA' %}</abbr></small>
                        </td>
                        <td>
                            {% for i in w.wounds_range %}
                                <i class="fas fa-heart text-danger"></i>
                            {% endfor %}
                            <br>
                            {% color_value_span w.penetration 3 %}
                        </td>
                        <td>
                            {{ w.weapon.get_range_lower_display }}
                            {% if w.weapon.range_upper and w.weapon.range_upper != w.weapon.range_lower %}-
                                {{ w.weapon.get_range_upper_display }}{% endif %}
                        </td>
                    </tr>
                {% endfor %}
                {% for s in object.characterspell_set.all %}
                    <tr>
                        <td>
                            <i class="fas fa-magic text-danger"></i> {{ s.spell }}<br>
                            <small>{{ s.spell.type.name }} - {{ s.spell.flavour.name }}</small>
                        </td>
                        <td>
                            {% color_value_span 4 4 %}+<br>
                            <small>{% color_value_span s.spell.casting_time 1 %}</small>
                        </td>
                        <td>
                            {{ s.spell.power }}<br>
                            <small>{{ s.spell.components }}</small>
                        </td>
                        <td>
                            {{ s.spell.range }}<br>
                            <small>{{ s.spell.area_of_effect }} - {{ s.spell.area_of_effect_range }}</small>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td>
                        <i class="fas fa-user-shield text-warning"></i> {% trans "Walk" %}<br>
                        <small>{% trans 'Movement' %}</small>
                    </td>
                    <td>
                        -<br>
                        {% trans '1m' %}
                    </td>
                    <td></td>
                    <td>
                        {% trans '1 Meter' %}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

