{% extends 'characters/fragments/fragment_base.html' %}
{% load characters_extras rules_extras i18n %}

{% block fragment %}
<div class="row">
    <div class="col-md-4">
        <h2 class="mb-2">{% trans 'Actions' %}</h2>
        <table class="table">
            <tr>
                <td>{% trans 'Actions' %}</td>
                <td class="text-right">{% color_value_span object.actions 5 %}</td>
            </tr>
            <tr>
                <td>{% trans 'Bonus Dice' %} ({% trans 'Bonus Action' %})</td>
                <td class="text-right">{% color_value_span object.bonus_dice 6 %}</td>
            </tr>
            <tr>
                <td>{% trans 'Destiny Dice' %} ({% trans 'Steal Action' %})</td>
                <td class="text-right">{% color_value_span object.destiny_dice 6 %}</td>
            </tr>
        </table>

        <h2 class="mb-2">{% trans 'Skills' %}</h2>
        <table class="table">
            {% for skill in object.characterskill_set.combat_skills %}
                <tr>
                    <td>{{ skill.skill }}</td>
                    <td class="text-right">{% color_value_span skill.value 6 %}</td>
                </tr>
            {% endfor %}
            <tr>
                <td>{% trans 'Quickness' %}</td>
                <td class="text-right">{% color_value_span object.quickness 6 %}</td>
            </tr>
        </table>

        <h2 class="mb-2">{% trans 'Rolls' %}</h2>
        <table class="table">
            <tr>
                <td>{% trans 'Attack Roll' %}</td>
                <td>7 - {% trans 'Skill' %} - {% trans 'Weapon Accuracy' %}</td>
            </tr>
            <tr>
                <td>{% trans 'Cover Roll' %}</td>
                <td>
                    4+ - {% trans 'Mostly covered' %}<br>
                    5+ - {% trans 'Half cover or prone' %}<br>
                    6+ - {% trans 'Minimal cover' %}
                </td>
            </tr>
            <tr>
                <td>{% trans 'Armor roll' %}</td>
                <td>7 - {% trans 'Armor value' %} + {% trans 'penetration' %}</td>
            </tr>
        </table>
    </div>

    <div class="col-md-8 mb-4">
        <h2 class="mb-2">{% trans 'Combat actions' %}</h2>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            {% trans 'Action' %}<br>
                            <small>{% trans 'Type' %}</small>
                        </th>
                        <th>
                            {% trans 'Roll' %}<br>
                            <small>{% trans 'Time' %}</small>
                        </th>
                        <th>
                            {% trans 'Damage' %}<br>
                            <small>{% trans 'Penetration' %}</small>
                        </th>
                        <th>
                            {% trans 'Range' %}<br>
                            <small>{% trans 'Area of effect' %}</small>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for w in object.characterweapon_set.all %}
                    <tr>
                        <td>
                            {{ w.weapon }}<br>
                            <small>{{ w.weapon.type }}</small>
                        </td>
                        <td>
                            {% color_value_span w.attack_roll 7 %}
                            <br>
                            <small>{% color_value_span w.weapon.attacks_per_action 5 %} {% trans 'Attacks per Action' %}</small>
                        </td>
                        <td>
                            {% for i in w.wounds_range %}
                                <i class="fas fa-heart text-danger"></i>
                            {% endfor %}
                            <br>
                            {% color_value_span w.penetration 3 %}
                        </td>
                        <td>
                            {{ w.weapon.get_range_lower_display }}
                            {% if w.weapon.range_upper and w.weapon.range_upper != w.weapon.range_lower %}-
                                        {{ w.weapon.get_range_upper_display }}{% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>
                            {% trans "Walk" %}<br>
                            <small>{% trans 'Movement' %}</small>
                        </td>
                        <td>
                            -<br>
                            {% trans '1m per Action' %}
                        </td>
                        <td></td>
                        <td>
                            {% trans '1 Meter' %}
                        </td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>
{% endblock %}

