{% load characters_extras rules_extras i18n %}
<div class="row">
    <div class="col-md-6">

        <div class="dropdown">
            <h2 data-toggle="dropdown" class="mb-1 text-center touch-menu">- {% trans 'Amor' %} -</h2>
            <div class="dropdown-menu">
                <a
                        class="dropdown-item modal-trigger-link"
                        data-url="{% url 'characters:xhr_add_riot_gear' pk=object.id %}"
                        data-toggle="modal"
                        data-target=".character-modal"
                        data-modal-title="{% trans 'Add Armor' %}"
                        href=""><i class="fas fa-plus text-info"></i> {% trans 'Add Armor' %}</a>
            </div>
        </div>

        <div class="row">
            {% for r in character.characterriotgear_set.all %}
                <div class="col-md-12 dropright">
                    <div class="card mb-2 touch-menu" data-toggle="dropdown">
                        <div class="card-header">
                            <i class="{{ r.riot_gear.extension.fa_icon_class }}" title="{{ r.riot_gear.extension }}"></i>
                            {{ r.riot_gear }}
                        </div>
                        <div class="card-body">
                            <i class="fas fa-shield-alt fa-fw"></i> {% trans 'Protection' %}: {% color_value_span r.riot_gear.protection_ballistic 7 %}/{% color_value_span r.riot_gear.protection_explosive 7 %}<br>
                            <i class="fas fa-eye-slash fa-fw"></i> {% trans 'Concealment' %}: {% color_value_span r.riot_gear.concealment 6 invert=True %}<br>
                            <i class="fas fa-balance-scale fa-fw"></i> {% trans 'Weight' %}: {{ r.riot_gear.weight }}<br>
                            <i class="fas fa-asterisk fa-fw"></i> {% trans 'Condition' %}: {% color_value_span r.condition 100 %}
                        </div>
                    </div>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#"><i class="fas fa-times text-warning"></i> {% trans 'Damage' %}</a>
                        <a class="dropdown-item" href="#"><i class="fas fa-trash text-danger"></i> {% trans 'Remove' %}</a>
                        <div class="dropdown-divider"></div>
                        <a
                                class="dropdown-item modal-trigger-link"
                                data-url="{% url 'characters:xhr_add_riot_gear' pk=object.id %}"
                                data-toggle="modal"
                                data-target=".character-modal"
                                data-modal-title="{% trans 'Add Armor' %}"
                                href=""><i class="fas fa-plus text-info"></i> {% trans 'Add Armor' %}</a>
                    </div>
                </div>
            {% empty %}
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            {% trans 'Armor' %}
                        </div>
                        <div class="card-body">
                            <h2>{% trans 'No armor yet' %}</h2>
                            <p>{% trans 'This character has no amor yet.' %}</p>
                            <button
                                    class="btn btn-primary buy-button float-right"
                                    data-url="{% url 'characters:xhr_add_riot_gear' pk=object.id %}"
                                    data-toggle="modal"
                                    data-modal-title="{% trans 'Add Armor' %}"
                                    data-target=".character-modal">{% trans 'Add armor' %}</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="col-md-6">
        <div class="dropdown">
            <h2 data-toggle="dropdown" class="mb-1 text-center touch-menu">- {% trans 'Items' %} -</h2>
            <div class="dropdown-menu">
                <a
                        class="dropdown-item modal-trigger-link"
                        data-url="{% url 'characters:xhr_add_items' pk=object.id %}"
                        data-toggle="modal"
                        data-target=".character-modal"
                        data-modal-title="{% trans 'Add Items' %}"
                        href=""><i class="fas fa-plus text-info"></i> {% trans 'Add Item' %}</a>
            </div>
        </div>
        <div class="row">
            {% for ci in character.characteritem_set.by_type %}
                <div class="col-md-12">
                    <div class="card mb-2">
                        <div class="card-header">
                            <i class="{{ ci.item.extension.fa_icon_class }}" title="{{ ci.item.extension }}"></i>
                            {{ ci.item }}
                            <span class="float-right small">{{ ci.item.type }}</span>
                        </div>
                        <div class="card-body">
                            <i class="fas fa-eye-slash fa-fw"></i> {% trans 'Concealment' %}: {% color_value_span ci.item.concealment 6 invert=True %}<br>
                            <i class="fas fa-balance-scale fa-fw"></i> {% trans 'Weight' %}: {{ ci.item.weight }}<br>
                            <i class="fas fa-asterisk fa-fw"></i> {% trans 'Value' %}: {% color_value_span ci.item.price 500 invert=True %} €
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            {% trans 'Items' %}
                        </div>
                        <div class="card-body">
                            <h2>{% trans 'No items yet' %}</h2>
                            <p>{% trans 'This character has no items yet.' %}</p>
                            <button
                                    class="btn btn-primary buy-button float-right"
                                    data-url="{% url 'characters:xhr_add_items' pk=object.id %}"
                                    data-toggle="modal"
                                    data-modal-title="{% trans 'Add item' %}"
                                    data-target=".character-modal">{% trans 'Add item' %}</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

