{% extends 'characters/fragments/fragment_base.html' %}
{% load i18n characters_extras %}

{% block fragment %}
    <div class="row">

        <div class="col-12 col-md-4 mb-4">
            <div class="card h-100 sidebar-trigger" data-sidebar-title="{% trans 'Combat' %} " data-sidebar-url="{% url 'characters:xhr_character_sidebar' pk=object.id sidebar_template="charactercombat" %}">
                <div class="card-header text-center">
                    {% trans 'Combat' %}
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <i class="fas fa-fw fa-hourglass text-info" data-bs-toggle="popover" data-bs-trigger="hover"
                           title="{% trans 'Actions' %}"
                           data-bs-content="{% trans 'The amount of actions you can use in combat.' %}"></i>
                        {% trans 'Actions' %}
                        <span class="float-end">{% color_value_span object.actions 4 %}</span></li>
                    <li class="list-group-item">
                        <i class="fas fa-fw fa-shield-alt text-success" data-bs-toggle="popover"
                           data-bs-trigger="hover" title="{% trans 'Ballistic Protection' %}"
                           data-bs-content="{% trans 'Protects you from ballistic shots at the defense roll.' %}"></i>
                        {% trans 'Protection' %}
                        <span class="float-end">{% color_value_span object.ballistic_protection 6 %}</span></li>
                    <li class="list-group-item">
                        <i class="fas fa-fw fa-running text-success" data-bs-toggle="popover" data-bs-trigger="hover"
                           title="{% trans 'Evasion' %}"
                           data-bs-content="{% trans 'The amount of evasion dice to evade being hit in combat.' %}"></i>
                        {% trans 'Evasion' %}
                        <span class="float-end">{% color_value_span object.evasion 6 %}</span></li>
                    <li class="list-group-item">
                        <i class="fas fa-fw fa-eye-slash text-danger" data-bs-toggle="popover" data-bs-trigger="hover"
                           title="{% trans 'Concealment' %}"
                           data-bs-content="{% trans 'This is the highest concealment among your equipment. It is relevant if somebody searches you for your equipment.' %}"></i>
                        {% trans 'Concealment' %}
                        <span class="float-end">{% color_value_span object.max_concealment 4 invert=True %}</span></li>
                </ul>
            </div>
        </div>

        <div class="col-12 col-md-4 mb-4">
            <div class="card h-100 text-center">
                <div class="card-header">
                    {% trans 'Status' %}
                </div>
                <div class="card-body">
                    {% include 'characters/includes/character_status_card.html' %}
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4 mb-4 sidebar-trigger" data-sidebar-title="{% trans 'Dice' %}" data-sidebar-url="{% url 'characters:xhr_character_sidebar' pk=object.id sidebar_template="dice" %}">
            <div class="card h-100">
                <div class="card-header text-center">
                    {% trans 'Dice' %}
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <i class="fas fa-fw fa-dice-five text-warning" data-bs-toggle="popover" title="{% trans 'Minimum Roll' %}"></i>
                        {% trans 'Minimum Roll' %}
                        <span class="float-end">{% color_value_span object.minimum_roll 5 invert=True %}+</span>
                    </li>
                    <li class="list-group-item">
                        <i class="fas fa-fw fa-dice-six text-success" title="{% trans 'Bonus Dice' %}"></i>
                        {% trans 'Bonus Dice' %}
                        <span class="float-end">{% color_value_span object.bonus_dice_free 3 %} / {% color_value_span object.bonus_dice 3 %}</span>
                    </li>
                    <li class="list-group-item">
                        <i class="fas fa-fw fa-dice-four text-danger" title="{% trans 'Destiny Dice' %}"></i>
                        {% trans 'Destiny Dice' %}
                        <span class="float-end">{% color_value_span object.destiny_dice_free 3 %} / {% color_value_span object.destiny_dice 3 %}</span>
                    </li>
                    <li class="list-group-item">
                        <i class="fas fa-fw fa-dice-one text-info" title="{% trans 'Rerolls' %}"></i>
                        {% trans 'Rerolls' %}
                        <span class="float-end">{% color_value_span object.rerolls_free 3 %} / {% color_value_span object.rerolls 3 %}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
