{% load i18n %}
<div class="dropdown mb-2">
    {% for i in object.get_full_heart_range %}
        <i data-toggle="dropdown" class="touch-menu fas fa-heart fa-2x text-danger"></i>
    {% endfor %}
    {% for i in object.get_empty_heart_range %}
        <i data-toggle="dropdown" class="touch-menu far fa-heart fa-2x text-danger"></i>
    {% endfor %}
    {% for i in object.get_boost_range %}
        <i data-toggle="dropdown" class="touch-menu fas fa-heart fa-2x text-info"></i>
    {% endfor %}

    <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'characters:modify_health' pk=object.id mode='heal' %}"><i class="fas fa-heart text-danger"></i> {% trans 'Heal Wound' %}</a>
        <a class="dropdown-item" href="{% url 'characters:modify_health' pk=object.id mode='wound' %}"><i class="far fa-heart text-danger"></i> {% trans 'Take Damage' %}</a>
        <a class="dropdown-item" href="{% url 'characters:modify_health' pk=object.id mode='boost' %}"><i class="fas fa-heart text-info"></i> {% trans 'Get Boost' %}</a>
    </div>
</div>

