{% extends 'characters/fragments/fragment_base.html' %}
{% load i18n %}

{% block fragment %}
    {% if object.extension_enabled.magic %}
        {% if may_edit %}
            <button
                    class="btn btn-primary btn-block mb-3 mt-3 modal-trigger"
                    data-bs-toggle="modal"
                    data-bs-target=".character-modal"
                    data-modal-title="{% trans 'Add a spell' %}"
                    data-url="{% url 'characters:xhr_add_spell' pk=object.id %}">
                <i class="fa fa-magic text-warning"></i> Add a spell <small>({{ object.spell_points_available }} {% trans 'Spell Points' %})</small>
            </button>
        {% endif %}
    {% endif %}
{% endblock %}
