{% extends 'characters/fragments/fragment_base.html' %}
{% load i18n %}

{% block fragment %}
    <div class="nav flex-column nav-pills mb-2" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" data-toggle="pill" href="#v-character"
           role="tab" aria-controls="v-character" aria-selected="true"><i class="fas fa-fw fa-male"></i>&nbsp;{% trans 'Character' %}</a>
        <a class="nav-link" data-toggle="pill" href="#v-gear" role="tab" aria-controls="v-gear"
           aria-selected="true"><i class="fas fa-suitcase fa-fw"></i>&nbsp;{% trans 'Gear' %}</a>
        <a class="nav-link" data-toggle="pill" href="#v-combat" role="tab" aria-controls="v-combat"
           aria-selected="true"><i class="fas fa-fw fa-chess-pawn"></i>&nbsp;{% trans 'Combat' %}</a>
        {% if object.extension_enabled.magic %}
            <a class="nav-link" data-toggle="pill" href="#v-magic" role="tab" aria-controls="v-combat"
               aria-selected="true"><i class="fas fa-fw fa-magic"></i>&nbsp;{% trans 'Magic' %}
                {% if object.spell_points_available %}
                    <span class="badge badge-info float-right">{{ object.spell_points_available }}</span>
                {% endif %}
            </a>
        {% endif %}
        <a class="nav-link" data-toggle="pill" href="#v-background" role="tab" aria-controls="v-background"
           aria-selected="true"><i class="fas fa-fw fa-graduation-cap"></i>&nbsp;{% trans 'Background' %}
            <span class="badge badge-primary float-right">{{ object.reputation_available }}</span>
        </a>
    </div>
{% endblock %}
