{% extends 'characters/fragments/fragment_base.html' %}
{% load i18n %}

{% block fragment %}
    {% if may_edit %}
        <button
                class="btn btn-primary btn-block mb-3 mt-3 modal-trigger"
                data-toggle="modal"
                data-target=".character-modal"
                data-modal-title="{% trans 'Reputation' %}"
                data-url="{% url 'characters:xhr_reputation' object.id %}">
             <i class="fa fa-eye text-info"></i> {% trans 'Reputation' %} {{ object.reputation_available }}
        </button>
    {% else %}
        <div class="card mb-3 mt-3 p-2 text-center">
            <i class="fa fa-eye text-info"></i> {% trans 'Reputation' %} {{ object.reputation_available }}
        </div>
    {% endif %}

    {% if object.extension_enabled.magic %}
        {% if may_edit %}
            <button
                    class="btn btn-primary btn-block mb-3 mt-3 modal-trigger"
                    data-toggle="modal"
                    data-target=".character-modal"
                    data-modal-title="{% trans 'Create a spell' %}"
                    data-url="{% url 'magic:xhr_spell' object.id %}">
                <i class="fa fa-magic text-warning"></i> {% trans 'Spell Points' %} {{ object.spell_points_available }}
            </button>
        {% else %}
            <div class="card mb-3 mt-3 p-2 text-center">
                <i class="fa fa-magic text-warning"></i> {% trans 'Spell Points' %} {{ object.spell_points_available }}
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
