{% extends 'characters/fragments/fragment_base.html' %}
{% load i18n %}

{% block fragment %}
    {% if may_edit %}
        <button
                class="btn btn-outline-dark btn-block mb-2 modal-trigger-link"
                data-toggle="modal"
                data-target=".character-modal"
                data-modal-title="{% trans 'Reputation' %}"
                data-url="{% url 'characters:xhr_reputation' object.id %}">
             <i class="fa fa-eye text-warning"></i> {% trans 'Reputation' %} {{ object.reputation_spent }}/{{ object.reputation }}
        </button>
    {% else %}
        <div class="card mb-2 p-2 text-center">
            <i class="fa fa-eye text-warning"></i> {% trans 'Reputation' %} {{ object.reputation_spent }}/{{ object.reputation }}
        </div>
    {% endif %}
{% endblock %}
