{% extends 'characters/fragments/fragment_base.html' %}
{% load i18n characters_extras %}

{% block fragment %}
    {% if may_edit %}
        <div class="row">
            <div class="col-12">
                <div class="btn-group w-100">
                    <a class="btn btn-dark btn-sm action-link"
                       href="{% url 'characters:modify_health' pk=object.id mode='heal' %}"><i
                            class="fas fa-heart fa-fw text-danger"></i> {% trans 'Heal' %}</a>
                    <a class="btn btn-dark btn-sm action-link"
                       href="{% url 'characters:modify_health' pk=object.id mode='wound' %}"><i
                            class="far fa-heart fa-fw text-danger"></i> {% trans 'Damage' %}</a>
                    <a class="btn btn-dark btn-sm action-link"
                       href="{% url 'characters:modify_health' pk=object.id mode='boost' %}"><i
                            class="fas fa-heart fa-fw text-info"></i> {% trans 'Boost' %}</a>
                </div>
            </div>

            <div class="col-12 mb-4 mt-1">
                <a
                        class="btn btn-dark btn-sm w-100 modal-trigger"
                        data-url="{% url 'characters:xhr_rest' pk=object.id %}"
                        data-bs-toggle="modal"
                        data-bs-target=".character-modal"
                        data-modal-title="{% trans 'Rest' %}"
                        href=""><i class="fas fa-plus fa-fw text-info"></i> {% trans 'Rest' %}</a>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-12 text-center mt-1 mb-3">
            {% for i in object.health|to_range %}
                <i class="fas fa-2x fa-heart text-danger" title="{% trans 'Health' %}"></i>
            {% endfor %}
            {% for i in object.wounds_taken|to_range %}
                <i class="far fa-2x fa-heart text-danger" title="{% trans 'Wound' %}"></i>
            {% endfor %}
            {% for i in object.boost|to_range %}
                <i class="fas fa-2x fa-heart text-info" title="{% trans 'Boost' %}"></i>
            {% endfor %}
        </div>
    </div>
{% endblock %}