{% extends 'characters/fragments/fragment_base.html' %}
{% load characters_extras rules_extras i18n %}

{% block fragment %}
 <div class="row mt-4 mb-4">
     <div class="col-12 text-center">
         <div class="card">
             <div class="card-body">
                 {% for i in object.arcana|to_range %}
                     <i class="fas fa-magic fa-2x text-warning" ></i>
                 {% endfor %}
                 {% for i in object.arcana_used|to_range %}
                     <i class="fas fa-magic fa-2x text-dark" ></i>
                 {% endfor %}
             </div>
         </div>
     </div>
 </div>
{% endblock %}