{% extends 'characters/fragments/fragment_base.html' %}
{% load characters_extras rules_extras i18n %}

{% block fragment %}
  <ul class="list-group mb-3">
    {% if object.bonus_dice_free|add:object.destiny_dice_free|add:object.rerolls_free %}
      <li class="list-group-item sidebar-trigger text-center" data-sidebar-title="{% trans 'Dice' %}"
          data-sidebar-url="{% url 'characters:xhr_sidebar' pk=object.id sidebar_template="dice" %}">
        {% for i in object.bonus_dice_free|to_range %}
          <i class="fas fa-fw fa-dice-six text-success" title="{% trans 'Bonus Die' %}"></i>
        {% endfor %}
        {% for i in object.destiny_dice_free|to_range %}
          <i class="fas fa-fw fa-dice-four text-danger" title="{% trans 'Destiny Die' %}"></i>
        {% endfor %}
        {% for i in object.rerolls_free|to_range %}
          <i class="fas fa-fw fa-dice-one text-info" title="{% trans 'Reroll' %}"></i>
        {% endfor %}
      </li>
    {% endif %}

    <li class="list-group-item sidebar-trigger text-center" data-sidebar-title="{% trans 'Wounds' %}"
        data-sidebar-url="{% url 'characters:xhr_sidebar' pk=object.id sidebar_template="wounds" %}">
      {% for i in object.health|to_range %}
        <i class="fas fa-heart text-danger" title="{% trans 'Health' %}"></i>
      {% endfor %}
      {% for i in object.wounds_taken|to_range %}
        <i class="far fa-heart text-danger" title="{% trans 'Wound' %}"></i>
      {% endfor %}
      {% for i in object.boost|to_range %}
        <i class="fas fa-heart text-info" title="{% trans 'Boost' %}"></i>
      {% endfor %}

      <br>

      {% for cse in object.characterstatuseffect_set.all %}
        {% for v in cse.value|to_range %}
          <i title="{{ cse }}: {{ cse.value }}"
             class="fas fa-fw {{ cse.status_effect.fa_icon_class }} {{ cse.status_effect.color_class }}"></i>
        {% endfor %}
      {% endfor %}
    </li>

    <li class="list-group-item sidebar-trigger text-center" data-sidebar-title="{% trans 'Protection' %}"
        data-sidebar-url="{% url 'characters:xhr_sidebar' pk=object.id sidebar_template="protection" %}">
      {% protection_display object %}
    </li>

    {% if object.extension_enabled.magic and object.is_magical %}
      <li class="list-group-item sidebar-trigger text-center" data-sidebar-title="{% trans 'Magic' %}"
          data-sidebar-url="{% url 'characters:xhr_sidebar' pk=object.id sidebar_template="magic" %}">
        {% for i in object.arcana|to_range %}
          <i class="gi-lorc-fairy-wand text-warning"></i>
        {% endfor %}
        {% for i in object.arcana_used|to_range %}
          <i class="gi-lorc-fairy-wand text-muted"></i>
        {% endfor %}
      </li>
    {% endif %}

  </ul>
{% endblock %}
