{% extends 'base.html' %}
{% load portal_extras %}
{% load i18n thumbnail static rules_extras campaign_extras %}

{% block title %}{{ object }} - {{ block.super }}{% endblock %}
{% block in_page_title %}{{ object }}{% endblock %}
{% block in_page_subtitle %}{% trans 'A campaign by' %} {{ object.created_by }}{% endblock %}

{% block javascript %}
  <script src="{% static 'js/campaign_detail.js' %}"></script>
  <script src="{% static 'js/campaign_socket.js' %}"></script>
  <script src="{% static 'js/clipboard.js' %}"></script>
{% endblock %}

{% block background %}{{ object.get_backdrop_image_url }}{% endblock %}

{% block bottom_nav %}
  {% bottom_navigation_button "campaigns/_navigation.html" %}
{% endblock %}

{% block content %}
  <div class="d-none" id="room-url">{% ws_room_url object.ws_room_name %}</div>
  <audio class="d-none" id="room-audio" src="{% static 'roll.mp3' %}"></audio>

  <div class="row mt-4">
    <div class="col-12 col-xl-3 d-none d-xl-block">
      {% include 'campaigns/_navigation.html' with object=object may_edit=may_edit %}
    </div>

    <div class="col-12 col-xl-9">
      <div class="tab-content">
        <div class="tab-pane fade show active" id="v-characters" role="tabpanel">
          {% campaign_fragment 'campaign' %}
        </div>

        <div class="tab-pane fade" id="v-settings" role="tabpanel">
          {% campaign_fragment 'settings' %}
        </div>

        <div class="tab-pane fade show" id="v-status" role="tabpanel">
          {% campaign_fragment 'status' %}
        </div>

        <div class="tab-pane fade show" id="v-npc" role="tabpanel">
          {% campaign_fragment 'npc' %}
        </div>

        <div class="tab-pane fade show" id="v-foes" role="tabpanel">
          {% campaign_fragment 'foes' %}
        </div>

        <div hx-get="{% url 'campaigns:xhr_game_log' campaign_pk=object.id %}"
             hx-trigger="click from:a.navigation-link"
             hx-target="this"
             class="tab-pane fade show"
             id="v-game-log"
             role="tabpanel">
        </div>

        <div class="tab-pane fade show" id="v-homebrew" role="tabpanel">
          {% campaign_fragment 'homebrew' %}
        </div>

        <div class="tab-pane fade show" id="v-statistics" role="tabpanel">
          {% campaign_fragment 'statistics' %}
        </div>
      </div>

    </div>
  </div>
{% endblock %}
