{% extends 'base.html' %}
{% load i18n static thumbnail characters_extras campaign_extras %}



{% block content %}
    <div class="d-flex justify-content-between align-items-start">
        <div>
            <h1>{% trans "Your campaigns" %}</h1>
            <p class="text-muted">
                {% blocktrans %}
                    These are the campaigns you either lead or play in.
                {% endblocktrans %}
            </p>
        </div>
        {% create_campaign_url as campaign_url %}
        <a class="btn btn-primary btn-lg" href="{{ campaign_url }}">{% trans 'Create a campaign' %}</a>
    </div>

    <div class="row campaign-list">
        {% for object in object_list %}
            <div class="col-12 col-md-6 mb-3">
                <a href="{{ object.get_absolute_url }}">
                    <div class="card campaign-list-item" style="
                            background-size: 100%;
                            {% if object.backdrop_image %}
                                {% thumbnail object.backdrop_image "800" as im %}
                                    background-image: url({{ im.url }})
                                {% endthumbnail %}
                            {% else %}
                                {% if object.epoch.image %}
                                    {% thumbnail object.epoch.image "800" as im %}
                                        background-image: url({{ im.url }})
                                    {% endthumbnail %}
                                {% else %}
                                    background-color: silver
                                {% endif %}
                            {% endif %}
                            ">
                        <div class="card-body text-center p-4">
                            <h3>{{ object.name }}</h3>
                            {% blocktrans with t_gm=object.created_by %}
                                A campaign by {{ t_gm }}
                            {% endblocktrans %}
                        </div>
                    </div>
                </a>
            </div>
        {% empty %}
            <div class="col-12">
                <div class="card">
                    <div class="card-body text-center p-5">
                        <h4 class="mb-3">{% trans "You don't have any campaigns" %}</h4>
                        {% if user.is_authenticated %}
                            {% create_campaign_url as campaign_url %}
                            {% blocktrans with t_campaign_url=campaign_url %}
                                <a href="{{ t_campaign_url }}">Create a campaign</a> to invite players and add NPC and foes.
                            {% endblocktrans %}
                        {% else %}
                            {% url 'login' as login_url %}
                            {% blocktrans with t_login_url=login_url %}
                                <a href="{{ t_login_url }}">Log in</a> to create a campaign.
                            {% endblocktrans %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
