{% load i18n characters_extras %}
<div class="card mb-3">
    <div class="card-header {{ template.category.get_bg_color_class }} {{ template.category.get_fg_color_class }}">
        <i class="{{ template.extension.fa_icon_class }}" title="{{ template.extension }}"></i>
        {{ template.category }}: {{ template }}
        <span class="badge badge-dark float-right">{{ template.cost }}</span>
    </div>
    <div class="card-body">
            {% if template.description %}
                <p class="text-muted">{{ template.description }}</p>
            {% endif %}

            {% for mod in template.templatemodifier_set.all %}
                {% if mod.attribute %}
                    <i class="fas fa-asterisk" title="{% trans 'Attribute' %}"></i> {{ mod.get_attribute_display|capfirst }} {% color_value_span mod.attribute_modifier 3 algebraic_sign=True %}<br>
                {% endif %}
            {% endfor %}
            {% for mod in template.templatemodifier_set.all %}
                {% if mod.skill %}
                    <i class="fas fa-hand-scissors" title="{% trans 'Skill' %}"></i> {{ mod.skill }} {% color_value_span mod.skill_modifier 3 algebraic_sign=True %}<br>
                {% endif %}
            {% endfor %}
            {% for mod in template.templatemodifier_set.all %}
                {% if mod.knowledge %}
                    <i class="fas fa-book" title="{% trans 'Knowledge' %}"></i> {{ mod.knowledge }} {% color_value_span mod.knowledge_modifier 3 algebraic_sign=True %}<br>
                {% endif %}
            {% endfor %}
            {% for mod in template.templatemodifier_set.all %}
                {% if mod.shadow %}
                    <i class="fas fa-bullhorn" title="{% trans 'Shadow' %}"></i> {{ mod.shadow }}<br>
                {% endif %}
            {% endfor %}
            {% if template.templaterequirement_set.exists %}
                <br>
                {% for req in template.templaterequirement_set.all %}
                    <span class="text-danger">{% trans 'Requires' %}</span> {{ req.required_template }}<br>
                {% endfor %}
            {% endif %}
    </div>
</div>
