{% load i18n characters_extras rules_extras %}
<div class="card mb-3 template">
    <div class="card-header {{ template.category.get_bg_color_class }} {{ template.category.get_fg_color_class }}">
        <span>{{ template.category }}: {{ template }}</span>
        <span class="badge bg-dark float-end">{{ template.cost }}</span>
    </div>
    <div class="card-body">
            {% if template.rules %}
                <p>{{ template.rules|urpg_markup }}</p>
            {% endif %}

            {% with all_modifiers=template.templatemodifier_set.all %}
                {% for mod in all_modifiers %}
                    {% if mod.aspect %}
                        <i class="fas fa-sun fa-fw" title="{% trans 'Aspect' %}"></i> {{ mod.get_aspect_display|capfirst }} {% color_value_span mod.aspect_modifier 3 algebraic_sign=True %}<br>
                    {% endif %}
                {% endfor %}
                {% for mod in all_modifiers %}
                    {% if mod.attribute %}
                        <i class="fas fa-asterisk fa-fw" title="{% trans 'Attribute' %}"></i> {{ mod.attribute.name }} {% color_value_span mod.attribute_modifier 3 algebraic_sign=True %}<br>
                    {% endif %}
                {% endfor %}
                {% for mod in all_modifiers %}
                    {% if mod.skill %}
                        <i class="fas fa-hand-scissors fa-fw" title="{% trans 'Skill' %}"></i> {{ mod.skill }} {% color_value_span mod.skill_modifier 3 algebraic_sign=True %}<br>
                    {% endif %}
                {% endfor %}
                {% for mod in all_modifiers %}
                    {% if mod.knowledge %}
                        <i class="fas fa-book fa-fw" title="{% trans 'Knowledge' %}"></i> {{ mod.knowledge }} {% color_value_span mod.knowledge_modifier 3 algebraic_sign=True %}<br>
                    {% endif %}
                {% endfor %}
                {% for mod in all_modifiers %}
                    {% if mod.unlocks_spell_origin %}
                        <i class="fas fa-magic fa-fw" title="{% trans 'Magic Origin' %}"></i> {% trans 'Magic Origin' %}: <span class="text-warning">{{ mod.unlocks_spell_origin }}</span><br>
                    {% endif %}
                {% endfor %}
            {% endwith %}

            {% comment %}
            {% if template.templaterequirement_set.exists %}
                <br>
                {% for req in template.templaterequirement_set.all %}
                    <span class="text-danger">{% trans 'Requires' %}</span> {{ req.required_template }}<br>
                {% endfor %}
            {% endif %}
            {% endcomment %}

            {% if template.quote %}
                <p class="text-muted pt-3"><i>{{ template.quote }}{% if template.quote_author %}<br>- {{ template.quote_author }}{% endif %}</i></p>
            {% endif %}
            {% if user.is_superuser %}
            <a href="{% url 'admin:rules_template_change' template.id %}" style="position: absolute; bottom: 2px; right: 2px; font-size: xx-small">admin</a>
            {% endif %}
    </div>
</div>
