{% extends 'base.html' %}
{% load i18n static rules_extras %}

{% block javascript %}
    <script>
    $(function(){
        var timer = null;
        $('#id_q').on('keyup', function(e){
            var q = $(this).val();

            if (timer) {
                clearTimeout(timer);
            }
            timer = setTimeout(function(){
                $('.template').each(function(index){
                    if($(this).text().toLowerCase().search(q.toLowerCase()) > -1) {
                        $(this).removeClass('d-none');
                    } else {
                        $(this).addClass('d-none');
                    };
                });
                history.replaceState({q: q}, '', '?q=' + q);
            }, 10);
        });

        var matches = /q=([^&#=]*)/.exec(window.location.search);
        if(matches[1]) {
            $('#id_q').val(matches[1]);
            $('.template').each(function(index){
                if($(this).text().toLowerCase().search(matches[1].toLowerCase()) > -1) {
                    $(this).removeClass('d-none');
                } else {
                    $(this).addClass('d-none');
                };
            });
        }
    })
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 offset-md-6 mb-4">
            <input type="text" class="form-control" placeholder="{% trans "Search" %}" id="id_q">
        </div>
    </div>
    <div class="card-columns">
        {% for object in object_list %}
            {% template_widget object %}
        {% endfor %}
    </div>
{% endblock %}
