{% extends "rulebook/pdf/appendix/appendix_base.html" %}
{% load characters_extras %}
{% load i18n %}
{% load rules_extras %}

{% block content %}
  {% regroup object_list by type as type_list %}

  {% for type in type_list %}
    <h3>{{ type.grouper }}</h3>
    {% for weapon in type.list %}
      <div class="page-break-avoid">
        <h4>{{ weapon }}</h4>
        <p>
          {{ weapon.description|phasesix_markup }}
        </p>
        {% for keyword in weapon.weaponkeyword_set.all %}
          {{ keyword.keyword }}: {{ keyword.value }}<br>
        {% endfor %}
        <i class="fas fa-euro fa-fw"></i> {% trans 'Price' %}: {% color_value_span weapon.price 1000 invert=True %}<br>
      </div>
    {% endfor %}
  {% endfor %}
{% endblock %}
