{% extends "rulebook/pdf/appendix/appendix_base.html" %}
{% load characters_extras %}
{% load i18n %}
{% load rules_extras %}

{% block content %}
  {% regroup object_list by type as type_list %}

  {% for type in type_list %}
    <h3>{{ type.grouper }}</h3>
    {% for weapon in type.list %}
      <h4>{{ weapon }}</h4>
      <p>
        {{ weapon.description|phasesix_markup }}
      </p>
      {% comment %}
      <i class="fas fa-running fa-fw"></i> {% trans 'Encumbrance' %}: {% color_value_span riot_gear.encumbrance 3 %}<br>
      <i class="fas fa-balance-scale fa-fw"></i> {% trans 'Weight' %}:
      {% color_value_span riot_gear.weight 100 invert=True %}<br>
      <i class="fas fa-eye-slash fa-fw"></i> {% trans 'Concealment' %}:
      {% color_value_span riot_gear.concealment 5 invert=True %}<br>
      <i class="fas fa-euro fa-fw"></i> {% trans 'Price' %}: {% color_value_span riot_gear.price 1000 invert=True %}<br>
      {% endcomment %}
    {% endfor %}
  {% endfor %}
{% endblock %}
