{% extends "rulebook/pdf/appendix/appendix_base.html" %}
{% load characters_extras %}
{% load i18n %}
{% load rules_extras %}

{% block content %}
  {% regroup object_list by type as type_list %}

  {% for type in type_list %}
    <h3>{{ type.grouper }}</h3>
    {% for weapon_modification in type.list %}
      <div class="page-break-avoid">
        <h4>{{ weapon_modification }}</h4>
        <p>
          {{ weapon_modification.description|phasesix_markup }}
        </p>
        <p>
          {{ weapon_modification.rules|phasesix_markup }}
        </p>
        <i
          class="fas fa-euro fa-fw"></i> {% trans 'Price' %}: {% color_value_span weapon_modification.price 500 invert=True %}<br>
      </div>
    {% endfor %}
  {% endfor %}
{% endblock %}
