{% load i18n characters_extras %}

<ul class="nav nav-tabs justify-content-center" role="tablist">
  {% for stc in spell_template_categories %}
    <li class="{% if forloop.first %}active{% endif %} nav-item">
      <a class="nav-link" href="#stc{{ stc.id }}" aria-controls="home" role="tab"
         data-bs-toggle="tab">{{ stc }}</a>
    </li>
  {% endfor %}
</ul>

<div class="tab-content">
  {% for stc in spell_template_categories %}
    <div role="tabpanel" class="tab-pane {% if forloop.first %}active{% endif %} " id="stc{{ stc.id }}">
      <div class="column-container">
        {% for st in stc.spelltemplate_set.all %}
          <div class="card mb-3">
            <div class="card-header">
              <span class="badge bg-dark float-end">{{ st.spell_point_cost }}</span>
              {{ st }}
            </div>
            <div class="card-body">
              {% if st.rules %}
                <p>
                  {{ st.rules }}
                </p>
              {% endif %}

              {% with all_modifiers=st.spelltemplatemodifier_set.all %}
                {% for stm in all_modifiers %}
                  {% if stm.attribute %}
                    <i class="fas fa-asterisk fa-fw" title="{% trans 'Attribute' %}"></i>
                    {{ stm.get_attribute_display|capfirst }}:
                    {% color_value_span stm.attribute_modifier 3 algebraic_sign=True %}<br>
                  {% endif %}
                {% endfor %}

                {% for stm in all_modifiers %}
                  {% if stm.variant_change %}
                    <i class="gi-lorc-fairy-wand" title="{% trans 'Affinity' %}"></i>
                    {% trans 'Affinity' %}: {{ stm.variant_change }} <br>
                  {% endif %}
                {% endfor %}

                {% for stm in all_modifiers %}
                  {% if stm.type_change %}
                    <i class="fas fa-book fa-fw" title="{% trans 'School' %}"></i>
                    {% trans 'School' %}: {{ stm.type_change }} <br>
                  {% endif %}
                {% endfor %}

                {% for stm in all_modifiers %}
                  {% if stm.shape_change %}
                    <i class="fas fa-circle fa-fw" title="{% trans 'Shape' %}"></i>
                    {% trans 'Shape' %}: {{ stm.shape_change }} <br>
                  {% endif %}
                {% endfor %}
              {% endwith %}

              <form action="{% url 'characters:xhr_add_spell_template' pk=character.id %}"
                    data-fetch-form="true"
                    data-fetch-form-close="modal"
                    class="float-end"
                    method="post">
                {% csrf_token %}
                <input type="hidden" name="spell_template_pk" value="{{ st.id }}">
                <input type="hidden" name="character_spell_pk" value="{{ character_spell.id }}">
                <button class="btn btn-sm btn-primary float-end">
                  {% trans 'Add modification' %}
                </button>
              </form>
              {% if user.is_superuser %}
                <a href="{% url 'admin:magic_spelltemplate_change' st.id %}"
                   style="position: absolute; bottom: 2px; left: 2px; font-size: xx-small">admin</a>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>
