{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block header %}{% endblock %}

{% block content %}
  <div class="row g-4">
    <div class="col-12 col-lg-8"
         hx-trigger="refresh-plot from:document"
         hx-get="{% url 'plots:xhr_plot_fragment' pk=object.id fragment_template="elements" %}">
      {% include 'plots/fragments/elements.html' %}
    </div>
    <div class="col-12 col-lg-4"
         hx-trigger="refresh-plot from:document"
         hx-get="{% url 'plots:xhr_plot_fragment' pk=object.id fragment_template="properties" %}">
      {% include 'plots/fragments/properties.html' %}
    </div>
  </div>
{% endblock %}
