{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block header %}{% endblock %}

{% block opengraph %}
  {% if object.image %}
    {% include "shared/opengraph.html" with og_title=object og_description=object.description|default:brand_description|striptags|truncatechars:200 og_image_path=object.image.url %}
  {% else %}
    {% include "shared/opengraph.html" with og_title=object og_description=object.description|default:brand_description|striptags|truncatechars:200 %}
  {% endif %}
{% endblock %}

{% block content %}
  <div class="plot-editor-container"
       style="--plot-placeholder-root-label: '{% trans "Same Level / Top Level" %}';
              --plot-placeholder-child-label: '{% trans "Move as Child" %}';
              --plot-same-level-label: '{% trans "Same Level" %}';
              --plot-drop-children-label: '{% trans "Drop here for children" %}';">
    <div class="row g-4">
      <div class="col-12 col-lg-8"
           hx-trigger="refresh-plot from:document"
           hx-get="{% url 'plots:xhr_plot_fragment' pk=object.id fragment_template="elements" %}">
        {% include 'plots/fragments/elements.html' %}
      </div>
      <div class="col-12 col-lg-4"
           hx-trigger="refresh-plot from:document"
           hx-get="{% url 'plots:xhr_plot_fragment' pk=object.id fragment_template="properties" %}">
        {% include 'plots/fragments/properties.html' %}
      </div>
    </div>
  </div>
{% endblock %}
