{% extends "base.html" %}
{% load thumbnail %}
{% load i18n %}

{% block opengraph %}
  {% trans "Plots" as og_title %}
  {% blocktrans asvar og_description %}Browse and manage plot trees for your campaigns.{% endblocktrans %}
  {% include "shared/opengraph.html" with og_title=og_title og_description=og_description %}
{% endblock %}

{% block content %}
  <div class="plot-grid p-4">
    {% for plot in object_list %}
      <a href="{% url "plots:plot_editor" pk=plot.id %}">
        <div class="plot-card rounded shadow-sm overflow-hidden transition position-relative">
          {% if plot.image %}
            {% thumbnail plot.image "600x400" crop="center" as im %}
              <img src="{{ im.url }}" alt="{{ plot.name }}" class="w-100 h-100 object-fit-cover">
              <div class="position-absolute bottom-0 start-0 w-100 p-2 bg-dark bg-opacity-50">
                <h5 class="m-0 text-white text-truncate">{{ plot.name }}</h5>
                <div class="text-white text-truncate opacity-75 small">{{ plot.world_extension }}</div>
              </div>
            {% endthumbnail %}
          {% else %}
            <div class="h-100 bg-light"></div>
          {% endif %}
        </div>
      </a>
    {% endfor %}
    <div
      class="plot-card pointer border border-2 border-dashed d-flex align-items-center justify-content-center"
      title="{% trans "Create plot" %}"
      data-modal-url="{% url "plots:create_plot" %}"
      data-modal-size-class="modal-xl"
      data-modal-refresh-after="true"
      data-modal-title="{% trans "Create plot" %}">
      {% trans "Create plot" %}
    </div>
  </div>
{% endblock %}
