{% load django_bootstrap5 i18n %}

<div class="container-fluid">
  <div class="row g-3">
    <div class="col-12 col-lg-6">
      {% if object.image %}
        <img src="{{ object.image.url }}"
             alt="{{ object.name }}"
             class="img-fluid rounded border w-100">
      {% else %}
        <div class="ratio ratio-4x3 border rounded bg-light">
          <div class="d-flex align-items-center justify-content-center">
            <span class="text-muted small">{% trans "No image uploaded." %}</span>
          </div>
        </div>
      {% endif %}
    </div>
    <div class="col-12 col-lg-6">
      <form action="{{ post_url }}"
            data-fetch-form="true"
            data-fetch-form-close="modal"
            data-fetch-form-event-after="refresh-plot"
            method="post"
            enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form layout="floating" %}
        {% bootstrap_form_errors form %}
        <div class="d-flex align-items-center gap-2">
          <a href="{{ object.get_absolute_url }}" target="_blank" class="btn btn-info">{% trans "Go to Character" %}</a>
          <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
          <button type="button"
                  class="btn btn-outline-danger"
                  data-action-trigger-url="{% url 'plots:delete_plot_npc' plot_element_pk=plot_element.id pk=object.id %}"
                  data-action-trigger-event-after="refresh-plot,modal-hide">
            {% trans "Delete" %}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
