{% extends 'base.html' %}
{% load static i18n characters_extras %}

{% block title %}{{ object }} - {{ block.super }}{% endblock %}

{% block edit_link %}
    <a class="nav-link" href="{% url 'admin:bestiary_foe_change' object.id %}">{% trans 'Edit' %}</a>
{% endblock %}

{% block belownav %}
    {% if object.image %}
    <div
            style="position: relative; height: 36vh; background-image: url({{ object.image.url }})"
            class="row character-info-row mb-3">
    {% else %}
        <div
                style="position: relative; height: 36vh; background-image: url({% static 'img/daniel-jensen-NMk1Vggt2hg-unsplash.jpg' %})"
                class="row character-info-row mb-3">
    {% endif %}

        <div class="col-md-10 offset-md-1 d-flex justify-content-between pb-5">
            <div>
                <h1>{{ object }}</h1>
                <small>{{ object.type }}</small>
            </div>
        </div>
        <span class="background-image-copyright">
            {% if object.image %}
                {% if object.image_copyright %}
                    Image by <a href="{{ object.image_copyright_url }}">{{ object.image_copyright }}</a>
                {% endif %}
            {% else %}
                Photo by <a href="https://unsplash.com/@dallehj?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Daniel Jensen</a> on <a href="https://unsplash.com/s/photos/undead?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
            {% endif %}
        </span>

    </div>
{% endblock %}

{% block content %}
    <div class="row mt-4">
        <div class="col-12">
            <h4>{% trans 'Statistics' %}</h4>
            <b>{% trans 'Health' %}</b>: {% color_value_span object.health 10 %}<br>
            <b>{% trans 'Arcana' %}</b>: {% color_value_span object.arcana 6 %}<br>
            <b>{% trans 'Protection' %}</b>: {% color_value_span object.protection 2 %}<br>
            <b>{% trans 'Actions' %}</b>: {% color_value_span object.actions 4 %}<br>
            <b>{% trans 'Quickness' %}</b>: {% color_value_span object.quickness 3 %}<br>
            <b>{% trans 'Minimum Roll' %}</b>: {% color_value_span object.minimum_roll 5 invert=True %}+<br>
            <b>{% trans 'Resistances' %}</b>: {{ object.resistance_string }}<br>
            <b>{% trans 'Weaknesses' %}</b>: {{ object.weakness_string }}<br><br>

            <h4>{% trans 'Actions' %}</h4>
            <ul>
                {% for action in object.foeaction_set.all %}
                    <li>{{ action.name }} {% color_value_span action.skill 8 %} <i class="text-muted">({{ action.effect }})</i></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}