{% extends 'base.html' %}
{% load static i18n characters_extras thumbnail %}

{% block title %}{{ object }} - {{ block.super }}{% endblock %}

{% block edit_link %}
    <a class="nav-link" href="{% url 'admin:bestiary_foe_change' object.id %}">{% trans 'Edit' %}</a>
{% endblock %}

{% block background %}{% if object.image %}{{ object.image.url }}{% else %}{% static 'img/daniel-jensen-NMk1Vggt2hg-unsplash.jpg' %}{% endif %}{% endblock %}

{% block background_copyright %}
    {% if object.image_copyright %}
        <small class="text-dark text-tiny">Photo by <a class="text-dark" href="{{ object.image_copyright_url }}">{{ object.image_copyright }}</a></small>
    {% else %}
        <small>Photo by <a href="https://unsplash.com/@dallehj?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Daniel Jensen</a> on <a href="https://unsplash.com/s/photos/undead?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></small>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 col-sm-4 col-md-3">
            <div class="card">
                {% if object.image %}
                    {% thumbnail object.image '1024' as im %}
                        <img class="card-img-top rounded" src="{{ im.url }}" alt="{{ object }}"/>
                    {% endthumbnail %}
                {% endif %}
            </div>
        </div>

        <div class="col-12 col-sm-8 col-md-9 wiki-page">
            <h1 class="h2">{{ object }}</h1>
            {{ object.type }}
            <br>
            <br>

            <b>{% trans 'Health' %}</b>: {% color_value_span object.health 10 %}<br>
            <b>{% trans 'Arcana' %}</b>: {% color_value_span object.arcana 6 %}<br>
            <b>{% trans 'Protection' %}</b>: {% color_value_span object.protection 2 %}<br>
            <b>{% trans 'Actions' %}</b>: {% color_value_span object.actions 4 %}<br>
            <b>{% trans 'Quickness' %}</b>: {% color_value_span object.quickness 3 %}<br>
            <b>{% trans 'Minimum Roll' %}</b>: {% color_value_span object.minimum_roll 5 invert=True %}+<br>
            <b>{% trans 'Resistances' %}</b>: {{ object.resistance_string }}<br>
            <b>{% trans 'Weaknesses' %}</b>: {{ object.weakness_string }}<br><br>

            <h4>{% trans 'Actions' %}</h4>
            <ul>
                {% for action in object.foeaction_set.all %}
                    <li>{{ action.name }} {% color_value_span action.skill 8 %} <i
                        class="text-muted">({{ action.effect }})</i></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
