{% load i18n %}
{% load portal_extras %}
<div class="list-group mb-3">
  <a class="active navigation-link pointer py-3 list-group-item list-group-item-action d-flex justify-content-between align-items-center"
     data-bs-toggle="tab"
     data-bs-target="#characters-tab-pane"
     role="tab"
     aria-current="true">
    <div class="d-flex justify-content-center align-items-center">
      <i class="fas fa-home"></i>
      <span class="ms-3 d-block d-lg-block">{% trans "Characters" %}</span>
    </div>
  </a>

  <a class="navigation-link pointer py-3 list-group-item list-group-item-action d-flex justify-content-between align-items-center"
     data-bs-toggle="tab"
     data-bs-target="#npc-tab-pane"
     role="tab"
     aria-current="true">
    <div class="d-flex justify-content-center align-items-center">
      <i class="fas fa-home"></i>
      <span class="ms-3 d-block d-lg-block">{% trans "NPC" %}</span>
    </div>
  </a>

  <a class="py-3 navigation-link pointer list-group-item list-group-item-action d-flex justify-content-between align-items-center"
     data-bs-toggle="tab"
     data-bs-target="#gm-campaigns-tab-pane"
     role="tab"
     aria-current="false">
    <div class="d-flex justify-content-center align-items-center">
      <i class="fas fa-home"></i>
      <span class="ms-3 d-block d-lg-block">{% trans "Campaigns" %}</span>
    </div>
  </a>

  <a class="py-3 navigation-link pointer list-group-item list-group-item-action d-flex justify-content-between align-items-center"
     data-bs-toggle="tab"
     data-bs-target="#more-tab-pane"
     role="tab"
     aria-current="false">
    <div class="d-flex justify-content-center align-items-center">
      <i class="fas fa-home"></i>
      <span class="ms-3 d-block d-lg-block">{% trans "More" %}</span>
    </div>
  </a>
</div>

{% if may_edit %}
  <div class="list-group mb-3">
    <div class="list-group-item py-3" role="button">
      <div class="d-flex align-items-center">
        <i class="fas fa-fw fa-pen"></i>
        <form action="{% url "portal:upload_image" %}" method="post" id="profile-image-form"
              enctype="multipart/form-data">
          {% csrf_token %}
          <input type="file" name="image" id="id_profile_image_upload" class="d-none">
        </form>
        <span class="ms-3 d-block profile-image-upload-button d-lg-block">{% trans "Upload Image" %}</span>
      </div>
    </div>
  </div>
{% endif %}

