{% load armory_extras %}
{% load i18n characters_extras rules_extras thumbnail %}

<div class="card mb-3">

  <div class="card-body">
    <h4>{{ riot_gear }}</h4>
    <span class="fs-5 position-absolute badge bg-primary-subtle rounded mt-2 me-2 top-0 end-0"><i
            class="fas fa-coins"></i> {{ riot_gear.price|floatformat:0 }}</span>

    <p>
      {{ riot_gear.description|urpg_markup }}
    </p>

    <div class="mb-2">
      {% trans 'Encumbrance' %}: {% color_value_span riot_gear.encumbrance 5 invert=True %}<br>
    </div>

    {% if riot_gear.type.is_shield %}
      <i class="fas fa-shield-alt fa-fw"></i> {% trans 'Cover' %}:
      {% color_value_span riot_gear.shield_cover 6 invert=True %}+<br>
    {% else %}
      <span class="w-100 fs-3">
        {% riot_gear_protection_display riot_gear %}
      </span>
      <br>
    {% endif %}

    {% if character %}
      <form action="{% url 'characters:xhr_character_objects' pk=character.id object_type="riot_gear" %}"
            method="post"
            class="float-end add-form">
        {% csrf_token %}
        <input type="hidden" name="object_id" value="{{ riot_gear.id }}">
        <button type="submit" class="btn btn-primary btn-sm float-end"
                data-danger="{% trans 'Not possible' %}" data-success="{% trans 'Added' %}">
          {% trans 'Add' %}
        </button>
      </form>
    {% else %}
      {% if not world_configuration %}
        {% for extension in riot_gear.extensions.all %}
          <span class="mt-2 badge text-muted bg-primary-subtle" title="{{ extension }}">
          <i class="m-1 {{ extension.fa_icon_class }}"></i></span>
        {% endfor %}
      {% endif %}
    {% endif %}

    {% if user.is_superuser %}
      <a href="{% url 'admin:armory_riotgear_change' riot_gear.id %}"
         style="position: absolute; bottom: 2px; left: 2px; font-size: xx-small">admin</a>
    {% endif %}
  </div>
</div>
