{% extends 'base.html' %}
{% load portal_extras %}
{% load i18n rules_extras characters_extras campaign_extras thumbnail static %}

{% block title %}{{ object }} - {{ block.super }}{% endblock %}
{% block in_page_title %}{{ object }}{% endblock %}
{% block in_page_subtitle %}
  {{ object.lineage }} - {% template_category_string object 3 %}
  {% if object.pc_or_npc_campaign %}
    <a href="{{ object.pc_or_npc_campaign.get_absolute_url }}">{{ object.pc_or_npc_campaign }}</a>
  {% endif %}
{% endblock %}

{% block javascript %}
  <script src="{% static 'js/campaign_socket.js' %}"></script>
{% endblock %}

{% block bottom_nav %}
  {% bottom_navigation_button "characters/_navigation.html" %}
{% endblock %}

{% block content %}
  <div class="d-flex align-items-center mb-3">
    <button id="dice-log-toggle"
            class="btn btn-outline-primary d-flex align-items-center"
            hx-get="{% url 'characters:xhr_dice_log' pk=object.id %}"
            hx-target="#dice-log-entries"
            onclick="toggleDiceLog()">
      <i class="gi gi-delapouite-dice-six-faces-five me-2"></i>
      {% trans "Dice Log" %}
    </button>
  </div>

  <div id="dice-log" class="card shadow-sm mb-4">
    <div class="card-body" id="dice-log-entries"></div>
  </div>

  <div class="d-none" id="room-url">{% ws_room_url object.ws_room_name %}</div>
  <audio class="d-none" id="room-audio" src="{% static 'roll.mp3' %}"></audio>

  <div class="row">
    <div class="col-12 col-xl-3 d-none d-xl-block">
      {% include 'characters/_navigation.html' with object=object may_edit=may_edit %}
    </div>

    <div class="col-12 col-xl-9">

      {% if not object.created_by %}
        <div class="alert alert-danger" role="alert">
          {% trans 'This character was created while not being logged in. It will be deleted by tomorrow.' %}
        </div>
      {% endif %}

      <div
        hx-trigger="intersect,refresh-fragments from:document,refresh-character-status from:document"
        hx-get="{% url 'characters:xhr_detail_fragment' pk=object.id fragment_template="status" %}">
      </div>

      <div class="tab-content">
        <div class="tab-pane fade show active" id="v-description" role="tabpanel">
          <div
            hx-trigger="intersect,refresh-fragments from:document,refresh-character-description from:document"
            hx-get="{% url 'characters:xhr_detail_fragment' pk=object.id fragment_template="description" %}">
          </div>
        </div>

        <div class="tab-pane fade" id="v-character" role="tabpanel">
          <div
            hx-trigger="intersect,refresh-fragments from:document,refresh-character-character from:document"
            hx-get="{% url 'characters:xhr_detail_fragment' pk=object.id fragment_template="character" %}">
          </div>
        </div>

        <div class="tab-pane fade" id="v-gear" role="tabpanel">
          <div
            hx-trigger="intersect,refresh-fragments from:document,refresh-character-gear from:document"
            hx-get="{% url 'characters:xhr_detail_fragment' pk=object.id fragment_template="gear" %}">
          </div>
        </div>

        <div class="tab-pane fade" id="v-body-modifications" role="tabpanel">
          <div
            hx-trigger="intersect,refresh-fragments from:document,refresh-character-body_modifications from:document"
            hx-get="{% url 'characters:xhr_detail_fragment' pk=object.id fragment_template="body_modifications" %}">
          </div>
        </div>

        <div class="tab-pane fade" id="v-combat" role="tabpanel">
          <div
            hx-trigger="intersect,refresh-fragments from:document,refresh-character-combat from:document"
            hx-get="{% url 'characters:xhr_detail_fragment' pk=object.id fragment_template="combat" %}">
          </div>
        </div>

        <div class="tab-pane fade" id="v-magic" role="tabpanel">
          <div
            hx-trigger="intersect,refresh-fragments from:document,refresh-character-magic from:document"
            hx-get="{% url 'characters:xhr_detail_fragment' pk=object.id fragment_template="magic" %}">
          </div>
        </div>

        <div class="tab-pane fade" id="v-pantheon" role="tabpanel">
          <div
            hx-trigger="intersect,refresh-fragments from:document,refresh-character-pantheon from:document"
            hx-get="{% url 'characters:xhr_detail_fragment' pk=object.id fragment_template="pantheon" %}">
          </div>
        </div>

        <div class="tab-pane fade" id="v-horror" role="tabpanel">
          <div
            hx-trigger="intersect,refresh-fragments from:document,refresh-character-horror from:document"
            hx-get="{% url 'characters:xhr_detail_fragment' pk=object.id fragment_template="horror" %}">
          </div>
        </div>

        <div class="tab-pane fade" id="v-background" role="tabpanel">
          <div
            hx-trigger="intersect,refresh-fragments from:document,refresh-character-advancement from:document"
            hx-get="{% url 'characters:xhr_detail_fragment' pk=object.id fragment_template="advancement" %}">
          </div>
        </div>

        <div class="tab-pane fade" id="v-notes" role="tabpanel">
          <div
            hx-trigger="intersect,refresh-fragments from:document,refresh-character-notes from:document"
            hx-get="{% url 'characters:xhr_detail_fragment' pk=object.id fragment_template="notes" %}">
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
