{% extends 'base.html' %}
{% load armory_extras %}
{% load portal_extras %}
{% load i18n static rules_extras characters_extras %}

{% block title %}{{ title }} - {{ block.super }}{% endblock %}
{% block in_page_title %}{{ title }}{% endblock %}
{% block in_page_subtitle %}{{ sub_title }}{% endblock %}

{% block bottom_nav %}
  {% bottom_navigation_button "armory/_navigation.html" %}
{% endblock %}

{% block content %}
  <a href="{% url "armory:material_overview" %}">
    <div class="card mb-4 d-none d-md-block">
      <div class="card-body">
        <i class="fas fa-arrow-left"></i> {% trans "Back to the material page" %}
      </div>
    </div>
  </a>
  {% searchable_object_card_list character_object %}
{% endblock %}
