{% extends 'base.html' %}
{% load armory_extras %}
{% load portal_extras %}
{% load i18n static rules_extras characters_extras %}

{% block title %}{{ title }} - {{ block.super }}{% endblock %}
{% block in_page_title %}{{ title }}{% endblock %}
{% block in_page_subtitle %}{{ sub_title }}{% endblock %}

{% block opengraph %}
  {% include "shared/opengraph.html" with og_title=title og_description=sub_title|default:brand_description|striptags|truncatechars:200 %}
{% endblock %}

{% block bottom_nav %}
  {% bottom_navigation_button "armory/_navigation.html" %}
{% endblock %}

{% block content %}
  <div data-app="characters" class="material-page-actions">
    <a href="{% url "armory:material_overview" %}"
       class="material-back-link">
      <i class="fas fa-arrow-left" aria-hidden="true"></i>
      <span>{% trans "Back to the material page" %}</span>
    </a>
  </div>
  {% searchable_object_card_list character_object %}
{% endblock %}
