{% extends 'base.html' %}
{% load static i18n characters_extras rules_extras %}

{% block title %}{{ object }} - {{ block.super }}{% endblock %}

{% block belownav %}
    {% if object.image %}
    <div
            style="position: relative; height: 36vh; background-image: url({{ object.type.image.url }})"
            class="row character-info-row mb-3">
    {% else %}
        <div
                style="position: relative; height: 36vh; background-image: url({% static 'img/daniel-jensen-NMk1Vggt2hg-unsplash.jpg' %})"
                class="row character-info-row mb-3">
    {% endif %}

        <div class="col-md-10 offset-md-1 d-flex justify-content-between pb-5">
            <div>
                <h1>{{ object }}</h1>
                <small>{{ object.type }} ({{ object.variant }})</small>
            </div>
        </div>
        <span class="background-image-copyright">
            {% if object.type.image %}
                {% if object.type.image_copyright %}
                    Image by <a href="{{ object.type.image_copyright_url }}">{{ object.type.image_copyright }}</a>
                {% endif %}
            {% else %}
                Photo by <a href="https://unsplash.com/@dallehj?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Daniel Jensen</a> on <a href="https://unsplash.com/s/photos/undead?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
            {% endif %}
        </span>

    </div>
{% endblock %}

{% block content %}
    <div class="row mt-4">
        <div class="col-12">
            {{ object.wikipage_set.all }}
            <button class="btn btn-warning float-end">{% trans 'Create Wikipage' %}</button>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            {{ object.description|urpg_markup }}
        </div>
    </div>
    <div>
        Todo: Cards with wiki page categories. No Start Wiki Page!
    </div>
{% endblock %}