{% extends 'base.html' %}
{% load i18n characters_extras %}

{% block javascript %}
    <script>
    $(function(){
        $('table').on('click', '.set-epoch', function(e){
            var elem = $(this);
            $.post(
                elem.attr('href'),
                {
                    'object': elem.data('object'),
                    'extension': elem.data('extension'),
                },
                function(data) {
                    elem.html(data);
                }
            );
            e.preventDefault();
            return false;
        })
    })
    </script>
{% endblock %}

{% block content %}
    <table class="table table-bordered table-hover-tr tableFixHead">
        <thead>
            <tr>
                <th>{% trans 'Template' %}</th>
                {% for e in extensions %}
                    <th {% if not e.is_epoch %}class="bg-dark"{% endif %}>{{ e.name }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for t in object_list %}
                <tr>
                    <td>
                        <a href="{% url admin_url object_id=t.id %}">
                            {{ t }}
                        </a>
                    </td>
                    {% for e in extensions %}
                        <td {% if not e.is_epoch %}class="bg-dark"{% endif %}>
                            <a
                                    href="{% url 'gmtools:extension_grid' type=type %}"
                                    class="set-epoch"
                                    data-object="{{ t.id }}"
                                    data-extension="{{ e.id }}">
                            {% if e in t.extensions.all %}
                                <i class="fas fa-check text-success"></i>
                            {% else %}
                                <i class="fas fa-times text-danger"></i>
                            {% endif %}
                            </a>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}