{% load i18n %}
{% for r in object.characterriotgear_set.all %}
    <div class="box">
        <h2>{% trans 'Armour' %}</h2>
        <table>
            <tr>
                <td>{% trans 'Name' %}</td>
                <td>{{ r.riot_gear }}</td>
            </tr>
            <tr>
                <td>{% trans 'Protection' %}</td>
                <td>{{ r.riot_gear.protection_ballistic }}</td>
            </tr>
            <tr>
                <td>{% trans 'Encumbrance' %}</td>
                <td>{{ r.riot_gear.encumbrance }}</td>
            </tr>
            <tr>
                <td>{% trans 'Condition' %}</td>
                <td>{{ r.condition }}</td>
            </tr>
            <tr>
                <td>{% trans 'Concealment' %}</td>
                <td>{{ r.riot_gear.concealment }}</td>
            </tr>
        </table>
    </div>
{% endfor %}
