{% load i18n %}
{% load characters_extras %}
{% load rulebook_extras %}
{% load static %}
{% load bootyprint %}
<html lang="de">
<head>
  <title>{{ object.name }}</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" type="text/css"
        rel="stylesheet"/>

  {% bootyprint_css %}
  <style>
    {% font_kits %}
    :root {
      --page-margin: 10mm;
      --primary: #3f51b5;
      --secondary: #2196f3;
      --font-size-base: 12px;
      --font-family-headings: 'Oxanium';
      --font-family-base: 'Oxanium';
    }

    .page {
      page-break-inside: avoid;
      page-break-after: always;
      height: 100vh;
      width: 100%;
    }
  </style>
</head>

<body>

<div class="page">
  <header>
    <h1>{{ object.name }}</h1>
    <h2 class="mb-2">{{ object.player }}</h2>

    <div class="container">
      <div class="row mb-3">

        <div class="col-3">
          <div class="card card-inlay">
            <div class="card-body">
              <h5 class="card-title">{% trans 'Lineage' %}</h5>
              {{ object.lineage }}
            </div>
          </div>
        </div>

        <div class="col-4">
          <div class="card card-inlay">
            <div class="card-body">
              <h5 class="card-title">{% trans 'Occupation' %}</h5>
              {% template_category_string object 3 '' %}&nbsp;
            </div>
          </div>
        </div>

        <div class="col-5">
          <div class="card card-inlay">
            <div class="card-body">
              <h5 class="card-title">{% trans 'Education' %}</h5>
              {% template_category_string object 2 '' %}&nbsp;
            </div>
          </div>
        </div>

      </div>
    </div>
  </header>

  <div class="row">
    <!-- Base values column -->
    <div class="col-3">
      {% if object.image %}
        <img src="{{ object.image.path }}" alt="{{ object }}" class="img-fluid">
      {% endif %}

      {% include "characters/pdf/cards/overview/dice.html" %}
      {% include 'characters/pdf/cards/gear/currency.html' %}
      {% include "characters/pdf/cards/overview/game_values.html" %}
      {% include "characters/pdf/cards/overview/wounds.html" %}
      {% include "characters/pdf/cards/overview/protection.html" %}

      {% if object.is_magical %}
        {% include "characters/pdf/cards/overview/arcana.html" %}
      {% endif %}

      {% if object.extension_enabled.horror %}
        {% include "characters/pdf/cards/overview/horror.html" %}
      {% endif %}
    </div>

    <!-- Main column -->
    <div class="col-9">
      <div class="row mb-3">
        <div class="col-6">
          {% include "characters/pdf/cards/overview/persona.html" %}
        </div>
        <div class="col-6">
          {% include "characters/pdf/cards/overview/physis.html" %}
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-6">
          {% include 'characters/pdf/cards/overview/practical_skills.html' %}
        </div>
        <div class="col-6">
          {% include 'characters/pdf/cards/overview/mind_skills.html' %}
        </div>
      </div>

      {% with kd=object.knowledge_dict %}
        {% if kd %}
          <div class="row">
            {% include "characters/pdf/cards/overview/knowledge.html" %}
          </div>
        {% endif %}
      {% endwith %}
    </div>
  </div>
</div>

<div class="page">
  {% include 'characters/pdf/cards/combat/combat.html' %}
</div>

<div class="page">
  <div class="columns-2">
    {% include 'characters/pdf/cards/gear/weapons.html' %}
    {% include 'characters/pdf/cards/gear/armour.html' %}
    {% include 'characters/pdf/cards/gear/items.html' %}
  </div>
</div>


{% if object.extension_enabled.magic and object.characterspell_set.exists %}
  <div class="page">
    <div class="columns-3">
      {% include 'characters/pdf/cards/magic/spells.html' %}
    </div>
  </div>
{% endif %}

{% comment %} {# already in the background template list #}
{% if object.templates_with_rules.exists and object.templates_with_rules.exists %}
  <div class="page">
    <div class="columns-3">
      {% include 'characters/pdf/cards/magic/shadows.html' %}
    </div>
  </div>
{% endif %}
{% endcomment %}

<div class="page">
  <div class="columns-3">
    {% include 'characters/pdf/cards/background/background.html' %}
  </div>
</div>

</body>
</html>
