.index-lead {
    font-size: 1.2rem;
}

a:hover {
    text-decoration: none;
}

a[data-toggle="popover"] {
    cursor: pointer;
}

.color-p80 {
    color: #47C040;
    font-weight: bold;
}

.color-p60 {
    color: #9EC040;
    font-weight: bold;
}

.color-p40 {
    color: #A7C040;
    font-weight: bold;
}

.color-p20 {
    color: #C0BC40;
    font-weight: bold;
}

.color-p0 {
    color: #ECA935;
    font-weight: bold;
}

.color-n0 {
    color: #ECA935;
    font-weight: bold;
}

.color-n20 {
    color: #EC7735;
    font-weight: bold;
}

.color-n40 {
    color: #EC5E35;
    font-weight: bold;
}

.color-n60 {
    color: #EC4D35;
    font-weight: bold;
}

/* Touch Menus */

.touch-menu:hover {
    cursor: pointer;
    border-color: #9ecaed;
    box-shadow: 0 0 20px 10px #9ecaed;

}

.draft-template {
    cursor: pointer;
}

.constructed-template {
    cursor: pointer;
}

.constructed-template.disabled div.card {
    opacity: 0.2;
    cursor: not-allowed;
}

.constructed-template.selected div.card {
    background-color: lightgreen;
}

.constructed-template.notenoughpoints div.card {
    background-color: #600;
}


.no-decoration {
    text-decoration: none;
}

/* Card columns */

@media only screen and (max-width: 768px) {
    .card-columns {
        column-count: 1;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 769px){
    .card-columns {
        column-count: 2;
    }
}

/* Tables */

.table th {
    border-top: none;
}

/* Character Detail Page List Groups */

.list-group {
    border: none;
    border-radius: 0;
}
.list-group-item a {
    text-decoration: none;
}
.card>.list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

/* Rules */

@media only screen and (min-width: 600px) {
    .rules .columns {
        column-count: 2;
    }
}

.rules p:empty {
    display: none;
}

/* Scroll only modal body */

.modal-dialog {
    overflow-y: initial !important;
}

.modal-body {
    height: calc(100vh - 200px);
    overflow-y: auto;
}

/* Fixed head table */

.tableFixHead {
    overflow-y: auto;
    height: 100px;
}

.tableFixHead thead th {
    position: sticky;
    top: 60px;
}

.table-hover-tr tr:hover td {
    background-color: silver;
}

/* Nav and Info */

.default-belownav {
    padding-top: 75px;
}

.campaign-info-row {
    color: white;
    background-position: center;
    background-size: cover;
    padding-top: 75px;
    height: 400px;
}

.character-list-item {
    color: white;
    text-shadow: 2px 2px #000;
    background-size: 100%;
    background-position: center;
}

.character-list-item img {
    border: 2px solid black;
}

.campaign-info-row .info {
    text-shadow: 2px 2px #000;
}

.character-info-row {
    color: white;
    background-position: center;
    background-size: cover;
    padding-top: 75px;
}

.character-info-row img {
    border: 2px solid black;
}

.character-info-row h3 {
    text-shadow: 2px 2px #000;
}

.character-info-row span {
    text-shadow: 1px 1px #000;
}

.character-list a {
    text-decoration: none;
}
