body {
    padding-top: 75px;
}

.index-lead {
    font-size: 1.1rem;
}

a:hover {
    text-decoration: none;
}

a[data-toggle="popover"] {
    cursor: pointer;
}

.attribute-heading {
    font-size: 0.75rem;
}

.attribute-value {
    font-size: 2.3rem;
}

.color-p80 {
    color: #47C040;
    font-weight: bold;
}

.color-p60 {
    color: #9EC040;
    font-weight: bold;
}

.color-p40 {
    color: #A7C040;
    font-weight: bold;
}

.color-p20 {
    color: #C0BC40;
    font-weight: bold;
}

.color-p0 {
    color: #ECA935;
    font-weight: bold;
}

.color-n0 {
    color: #ECA935;
    font-weight: bold;
}

.color-n20 {
    color: #EC7735;
    font-weight: bold;
}

.color-n40 {
    color: #EC5E35;
    font-weight: bold;
}

.color-n60 {
    color: #EC4D35;
    font-weight: bold;
}

/* Touch Menus */

.touch-menu:hover {
    cursor: pointer;
}

.draft-template{
    cursor: pointer;
}

.constructed-template {
    cursor: pointer;
}

.constructed-template.selected div.card {
    box-shadow: 0 0 10px #119911;
}
