@import 'bootswatch/phasesix/variables';
@import '../vendor/bootstrap/scss/bootstrap.scss';
@import 'bootswatch/phasesix/bootswatch';

$utilities: map-merge(
  $utilities, ("width": map-merge(
    map-get($utilities, "width"), (responsive: true),),)
);

.pointer {
  cursor: pointer;
}

.custom-popover {
  --bs-popover-header-bg: var(--bs-light);
  --bs-popover-header-color: var(--bs-white);
}


.w-60 {
  width: 60%;
}

.text-tiny {
  font-size: 0.6rem;
}

a {
  color: $primary;
  text-decoration: none;
}

a:hover {
  color: $success;
  text-decoration: none;
}

a[data-toggle="popover"] {
  cursor: pointer;
}

.color-p80 {
  color: #47C040;
  font-weight: bold;
}

.color-p60 {
  color: #9EC040;
  font-weight: bold;
}

.color-p40 {
  color: #A7C040;
  font-weight: bold;
}

.color-p20 {
  color: #C0BC40;
  font-weight: bold;
}

.color-p0 {
  color: #ECA935;
  font-weight: bold;
}

.color-n0 {
  color: #ECA935;
  font-weight: bold;
}

.color-n20 {
  color: #EC7735;
  font-weight: bold;
}

.color-n40 {
  color: #EC5E35;
  font-weight: bold;
}

.color-n60 {
  color: #EC4D35;
  font-weight: bold;
}

span.background-image-copyright {
  position: fixed;
  right: 5px;
  bottom: 5px;
}

@media (min-width: 768px) {
  .collapse.dont-collapse-md {
    display: block;
    height: auto !important;
    visibility: visible;
  }
}

.base-container {
  background-color: rgba($black, 0.75);
  backdrop-filter: blur(10px);
  padding: 10rem 1.5rem 2rem;
  min-height: 100vh;
}

/* Index */

.masthead {
  h1,
  h2,
  h3 {
    font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    padding-bottom: 0;
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }

  h1 {
    font-size: 5rem;
    letter-spacing: 0.8rem;
  }

  h2 {
    font-size: 3rem;
    letter-spacing: 0.6rem;
  }

  h3 {
    font-size: 2rem;
    letter-spacing: 0.4rem;
  }

  h5 {
    font-size: 1.2rem;
    color: $gray-500;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4)
  }

  img.character-image {
    filter: drop-shadow(0 0 10px black);
  }

  img.character-image:hover {
    filter: drop-shadow(0 0 20px black);
  }

  @media (max-width: 576px) {
    img.character-image {
      max-width: 100px;
    }
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 1.5rem;
    }
    h5 {
      font-size: 1rem;
    }
  }

  @media (min-width: 576px) and (max-width: 768px) {
    img.character-image {
      max-width: 140px;
    }
  }

  @media (min-width: 768px) {
    img.character-image {
      max-width: 180px;
    }
  }

}

/* Touch Menus */

.touch-menu:hover {
  cursor: pointer;
  border-color: silver;
  filter: drop-shadow(0 0 20px black);
}

/* Character creation */

.create-epoch-card {
  height: 30vh;
  position: relative;
}

.create-epoch-card:hover {
  border: 1px solid $primary;
}

.create-epoch-card.selected {
  border: 2px solid $success;
}

.create-epoch-card .card-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-decoration: none;
  background-color: rgba(10, 10, 10, 0.5);
}

.create-epoch-card .card-text h5 {
  color: $gray-400;
}

.create-epoch-card .card-text p {
  color: $gray-600;
}

.constructed-template {
  cursor: pointer;
}

.constructed-template.disabled div.card {
  opacity: 0.2;
  cursor: not-allowed;
}

.constructed-template.selected div.card {
  border: 2px solid $success;
}

.constructed-template.notenoughpoints div.card {
  background-color: $danger;
}

.no-decoration {
  text-decoration: none;
}

.no-link-colors {
  color: $white;
}

/* Tables */

.table th {
  border-top: none;
}

table.table-sortable thead {
  cursor: pointer;
}

/* Rules */

@media only screen and (min-width: 600px) {
  .rules .columns {
    column-count: 2;
  }
}

.rules .columns {
  column-gap: 2em;
}

.rules p:empty {
  display: none;
}

.rules ul li {
  font-size: large;
  text-align: justify;
  color: $gray-500;
}

.rules p {
  font-size: larger;
  color: $gray-500;
}

.rules p {
  text-align: justify;
}

.rules blockquote {
  margin-left: 2em;
  padding-left: 1em;
  color: $gray-600;
  border-left: 2px solid $gray-500;
}

/* Sidebar */

.sidebar-trigger {
  cursor: pointer;
}

.sidebar {
  top: 0;
  width: 0;
  z-index: 1110;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba($gray-900, 0.8);
  backdrop-filter: blur(10px);
  box-shadow: -3px 0px 3px 1px rgba(25, 25, 25, 1);
  transition: width 0.1s;
}

.sidebar-right {
  right: 0;
}

/* Scroll only modal body */

.modal-dialog {
  overflow-y: initial !important;
}

.modal-xl .modal-body {
  height: calc(100vh - 200px);
  overflow-y: auto;
}

/* Fixed head table */

.tableFixHead {
  overflow-y: auto;
  height: 100px;
}

.tableFixHead thead th {
  position: sticky;
  top: 60px;
}

.table-hover-tr tr:hover td {
  background-color: $gray-800 !important;
}

/* Nav and Info */

.brand-logo {
  max-height: 64px;
}

@media (max-width: 576px) {
  .brand-logo {
    max-height: 36px;
  }
}



#mainNavigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 123;
  padding-bottom: 30px;
  background: linear-gradient(
                  to bottom,
                  rgba(0, 0, 0, 0.65) 0%,
                  rgba(0, 0, 0, 0.0) 90%,
                  rgba(0, 0, 0, 0) 100%);

  a {
    font-family: 'Cabin', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4)
  }

  h1 {
    font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 2rem;
    padding-bottom: 0;
    letter-spacing: 0.8rem;
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }

  .dropdown-menu {
    background: rgba($gray-900, 0.9);
    backdrop-filter: blur(10px);
  }

  a.dropdown-toggle {
    color: #dfdfdf !important
  }

  a.dropdown-item:hover {
    color: white !important
  }

  .nav-item a {
    color: #dfdfdf;
  }

  .nav-item a:hover {
    color: #fff
  }

  .nav-item {
    min-width: 12vw;
  }

  #navbarNavDropdown.collapsing .navbar-nav,
  #navbarNavDropdown.show .navbar-nav {
    background: $secondary;
    padding: 12px;
  }

}

.character-list a {
  text-decoration: none;
}

.character-list-item {
  color: white;
  text-shadow: 2px 2px #000;
  background-position: center;
  background-size: cover;
}

.character-list-item:hover {
  filter: drop-shadow(0 0 10px black);
}

.character-list-item img {
  border: 2px solid black;
  filter: drop-shadow(0 0 10px black);
}

.campaign-list-item {
  color: white;
  text-shadow: 2px 2px #000;
  background-position: center;
  background-size: cover;
}

.campaign-list-item:hover {
  filter: drop-shadow(0 0 10px black);
}

.campaign-list-item img {
  border: 2px solid black;
  filter: drop-shadow(0 0 10px black);
}


.character-info-row {
  img {
    width: 180px;
    height: 180px;
    border: 2px solid black;
    filter: drop-shadow(0 0 10px black);
  }

  h1,
  h3,
  span {
    text-shadow: 2px 2px #000;
  }

  .character-image {
    position: relative;
    aspect-ratio: 1;
  }

  span.dice-icon {
    position: absolute;
    bottom: 1px;
    right: 5px;
  }

  span.dice-icon svg {
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
  }
}

.campaign-characters img {
  max-width: 168px;
  filter: drop-shadow(0 0 10px black);
}

.campaign-characters img:hover {
  filter: drop-shadow(0 0 20px black);
}


/* Items */

.card-img-overlay {
  background-color: rgba(10, 10, 10, 0.2);
}


/* Magic */

.add-spell-category-card {
  height: 45vh;
  position: relative;
}

.add-spell-category-card:hover {
  border: 1px solid $primary;
}

.add-spell-category-card.selected {
  border: 2px solid $success;
}

.add-spell-category-card .card-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-decoration: none;
  background-color: rgba(10, 10, 10, 0.5);
}

.spell-selection-card:not(.disabled):hover {
  border: 1px solid $primary;
}

.spell-selection-card.disabled {
  opacity: 0.2;
  cursor: not-allowed;
}

a.invisible-link {
  text-decoration: none;
  color: inherit;
}

/* Dice roll websocket */

.ws-dice-result {
  display: flex;
  margin-top: 3px;
  flex-flow: row wrap;
  justify-content: flex-start;

}

.ws-dice-result span {
  padding: 2px 5px 0 5px;
  margin: 0 1px;
  border: 2px solid $dark;
  border-radius: 2px;
  height: 25px;
}

.ws-dice-result span.crit {
  background-color: $warning;
  color: black;
}

.ws-dice-result span.exploded {
  background-color: $primary;
}

.ws-dice-result span.success {
  background-color: $success;
}

.ws-dice-result span.fail {
  background-color: $secondary;
}

/* Wiki */

@media only screen and (min-width: 600px) {
  .wiki-page .columns {
    column-count: 2;
  }
}

.wiki-page-game-values {
  font-size: larger;
}

.wiki-page-game-values div:hover {
  background-color: $gray-800;
}

.wiki-page .columns {
  column-gap: 2em;
}

.wiki-page p,
.wiki-page ul li {
  font-size: larger;
  text-align: justify;
}

.wiki-page p:empty {
  display: none;
}

.wiki-page blockquote {
  margin-left: 2em;
  padding-left: 1em;
  color: $gray-600;
  border-left: 2px solid $gray-500;
}

/* Forum */

.forum-post blockquote {
  margin-left: 2em;
  padding-left: 1em;
  color: $gray-600;
  border-left: 2px solid $gray-500;
}
