@import 'bootswatch/phasesix/variables';
@import '../vendor/bootstrap/scss/bootstrap.scss';
@import 'bootswatch/phasesix/bootswatch';

$utilities: map-merge(
    $utilities, ("width": map-merge(
        map-get($utilities, "width"), (responsive: true),),)
);

body {
  background-image: url(../img/background.png);
  background-repeat: repeat;
}

.pointer {
  cursor: pointer;
}

.index-lead {
  font-size: 1.2rem;
}

a {
  color: $primary;
  text-decoration: none;
}

a:hover {
  color: $success;
  text-decoration: none;
}

a[data-toggle="popover"] {
  cursor: pointer;
}

.color-p80 {
  color: #47C040;
  font-weight: bold;
}

.color-p60 {
  color: #9EC040;
  font-weight: bold;
}

.color-p40 {
  color: #A7C040;
  font-weight: bold;
}

.color-p20 {
  color: #C0BC40;
  font-weight: bold;
}

.color-p0 {
  color: #ECA935;
  font-weight: bold;
}

.color-n0 {
  color: #ECA935;
  font-weight: bold;
}

.color-n20 {
  color: #EC7735;
  font-weight: bold;
}

.color-n40 {
  color: #EC5E35;
  font-weight: bold;
}

.color-n60 {
  color: #EC4D35;
  font-weight: bold;
}

span.background-image-copyright {
  position: absolute;
  left: 5px;
  bottom: 5px;
  font-size: xx-small;
  width: 70%;
}

.round-action-button {
  display: block;
  height: 34px;
  width: 34px;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .collapse.dont-collapse-md {
    display: block;
    height: auto !important;
    visibility: visible;
  }
}

/* Index */

.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("/static/img/bg-masthead.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.masthead h1, .masthead .h1 {
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.masthead h2, .masthead .h2 {
  max-width: 20rem;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .masthead h1, .masthead .h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }
  .masthead h1, .masthead .h1 {
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: 0.8rem;
  }
  .masthead h2, .masthead .h2 {
    max-width: 30rem;
    font-size: 1.25rem;
  }
}

.masthead img {
  filter: drop-shadow(0 0 10px black);
}

.masthead img:hover {
  filter: drop-shadow(0 0 20px black);
}

@media (max-width: 576px) {
  .masthead img {
    width: 45%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .masthead img {
    width: 35%;
  }
}

@media (min-width: 768px) {
  .masthead img {
    width: 10%;
  }
}

/* Touch Menus */

.touch-menu:hover {
  cursor: pointer;
  border-color: silver;
  filter: drop-shadow(0 0 20px black);
}

/* Character creation */

.create-epoch-card {
  height: 30vh;
  position: relative;
}

.create-epoch-card:hover {
  border: 1px solid $primary;
}

.create-epoch-card.selected {
  border: 2px solid $success;
}

.create-epoch-card .card-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-decoration: none;
  background-color: rgba(10, 10, 10, 0.5);
}

.create-epoch-card .card-text h5 {
  color: $gray-400;
}

.create-epoch-card .card-text p {
  color: $gray-600;
}

.constructed-template {
  cursor: pointer;
}

.constructed-template.disabled div.card {
  opacity: 0.2;
  cursor: not-allowed;
}

.constructed-template.selected div.card {
  border: 2px solid $success;
}

.constructed-template.notenoughpoints div.card {
  background-color: $danger;
}

.no-decoration {
  text-decoration: none;
}

.no-link-colors {
  color: $white;
}

/* Tables */

.table th {
  border-top: none;
}

table.table-sortable thead {
  cursor: pointer;
}

/* Rules */

@media only screen and (min-width: 600px) {
  .rules .columns {
    column-count: 2;
  }
}

.rules .columns {
  column-gap: 2em;
}

.rules p:empty {
  display: none;
}

.rules p {
  font-size: larger;
  color: $gray-500;
}


.rules p {
  text-align: justify;
}

.rules blockquote {
  margin-left: 2em;
  padding-left: 1em;
  color: $gray-600;
  border-left: 2px solid $gray-500;
}

.rules h3 {
  font-size: calc(1rem + 1.5vw)
}

/* Sidebar */

.sidebar-trigger {
  cursor: pointer;
}

.sidebar {
  top: 0;
  width: 0;
  z-index: 1110;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: $gray-800;
  box-shadow: -5px 0px 5px 1px $gray-900;
  transition: width 0.1s;
}

.sidebar-right {
  right: 0;
}

/* Scroll only modal body */

.modal-dialog {
  overflow-y: initial !important;
}

.modal-xl .modal-body {
  height: calc(100vh - 200px);
  overflow-y: auto;
}

/* Fixed head table */

.tableFixHead {
  overflow-y: auto;
  height: 100px;
}

.tableFixHead thead th {
  position: sticky;
  top: 60px;
}

.table-hover-tr tr:hover td {
  background-color: $gray-800 !important;
}

/* Nav and Info */

.default-belownav {
  padding-top: 75px;
}

.campaign-info-row {
  color: white;
  background-position: center;
  background-size: cover;
  padding-top: 40px;
  height: 40vh;
}

.character-list-item {
  color: white;
  text-shadow: 2px 2px #000;
  background-position: center;
  background-size: cover;
}

.character-list-item:hover {
  filter: drop-shadow(0 0 10px black);
}

.character-list-item img {
  border: 2px solid black;
  filter: drop-shadow(0 0 10px black);
}

.campaign-list-item {
  color: white;
  text-shadow: 2px 2px #000;
  background-position: center;
  background-size: cover;
}

.campaign-list-item:hover {
  filter: drop-shadow(0 0 10px black);
}

.campaign-list-item img {
  border: 2px solid black;
  filter: drop-shadow(0 0 10px black);
}

.campaign-info-row .info {
  text-shadow: 2px 2px #000;
}

.character-info-row {
  color: white;
  background-position: center;
  background-size: cover;
  padding-top: 75px;
}

.character-info-row img {
  border: 2px solid black;
  filter: drop-shadow(0 0 10px black);
}

.character-info-row h1 {
  text-shadow: 2px 2px #000;
}

.character-info-row h3 {
  text-shadow: 2px 2px #000;
}

.character-info-row span {
  text-shadow: 1px 1px #000;
}

.character-info-row .character-image {
  position: relative;
}

.character-info-row span.dice-icon {
  position: absolute;
  bottom: 1px;
  right: 5px;
}

.character-info-row span.dice-icon svg {
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
}

.character-list a {
  text-decoration: none;
}

.campaign-characters img {
  filter: drop-shadow(0 0 10px black);
}

.campaign-characters img:hover {
  filter: drop-shadow(0 0 20px black);
}

.campaign-characters img {
  width: 90%;
}


/* Magic */

.add-spell-spell-type-card {
  height: 45vh;
  position: relative;
}

.add-spell-spell-type-card:hover {
  border: 1px solid $primary;
}

.add-spell-spell-type-card.selected {
  border: 2px solid $success;
}

.add-spell-spell-type-card .card-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-decoration: none;
  background-color: rgba(10, 10, 10, 0.5);
}

.spell-selection-card:not(.disabled):hover {
  border: 1px solid $primary;
}

.spell-selection-card.disabled {
  opacity: 0.2;
  cursor: not-allowed;
}

a.invisible-link {
  text-decoration: none;
  color: inherit;
}

/* Dice roll websocket */

.ws-dice-result {
  display: flex;
  margin-top: 3px;
  flex-flow: row wrap;
  justify-content: flex-start;

}

.ws-dice-result span {
  padding: 2px 5px 0px 5px;
  margin: 0 1px;
  border: 2px solid $dark;
  border-radius: 2px;
  height: 25px;
}

.ws-dice-result span.exploded {
  background-color: $primary;
}

.ws-dice-result span.success {
  background-color: $success;
}

.ws-dice-result span.fail {
  background-color: $secondary;
}

/* Wiki */

@media only screen and (min-width: 600px) {
  .wiki-page .columns {
    column-count: 2;
  }
}

.wiki-page .columns {
  column-gap: 2em;
}

.wiki-page p {
  font-size: larger;
  color: $gray-500;
}

.wiki-page p:empty {
  display: none;
}

.wiki-page p {
  text-align: justify;
}

.wiki-page blockquote {
  margin-left: 2em;
  padding-left: 1em;
  color: $gray-600;
  border-left: 2px solid $gray-500;
}

.wiki-page h3 {
  font-size: calc(1rem + 1.5vw)
}
