{% load i18n django_bootstrap5 thumbnail static %}

<div class="row">
  <div class="col-12 mb-3 mt-2">
    {% if object.image %}
      {% thumbnail object.image "600x600" crop="center" as im %}
        <img class="rounded img-fluid" src="{{ MEDIA_URL }}{{ im.url }}" alt="{{ object.name }}">
      {% endthumbnail %}
    {% else %}
      <img class="rounded img-fluid" width="600" height="600" src="{% static 'img/silhuette.png' %}"
           alt="{{ object.name }}">
    {% endif %}
  </div>
</div>

<div class="row mb-4">
  <div class="col-12">
    <a href="{% url 'characters:pdf' slug=object.slug %}" class="btn btn-primary w-100">{% trans 'Download PDF' %}</a>
  </div>
  <div class="col-12">
    <form method="post" action="{% url 'characters:clone' slug=object.slug %}">
      {% csrf_token %}
      <button class="btn btn-secondary mt-2 w-100">
        {% trans "Clone character" %}
      </button>
    </form>
    {% if may_edit and request.user.is_authenticated and request.user.is_staff %}
      <form method="post" action="{% url 'characters:fill_randomly' pk=object.id %}"
            data-loading-form="character-fill-random"
            data-confirm-message="{% trans 'This will modify the character and should only be used for NPCs. Continue?' %}">
        {% csrf_token %}
        <button class="btn btn-warning mt-2 w-100" data-loading-button>
          <span class="spinner-border spinner-border-sm me-2 d-none"
                role="status"
                aria-hidden="true"
                data-loading-spinner></span>
          {% trans "Fill randomly" %}
        </button>
      </form>
    {% endif %}
    {% if object.cloned_from %}
      <div class="alert alert-info mt-2">
        {% trans 'Cloned from:' %} <a href="{% url 'characters:detail' slug=object.cloned_from.slug %}">{{ object.cloned_from.name }}</a>
      </div>
    {% endif %}
    {% if object.clones.all %}
      <div class="mt-2">
        <strong>{% trans 'Cloned characters:' %}</strong>
        <ul class="list-unstyled">
          {% for clone in object.clones.all %}
            <li><a href="{% url 'characters:detail' slug=clone.slug %}">{{ clone.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>

</div>

{% if may_edit %}
  <div class="row">
    <div class="col-12">
      <form action="{% url 'characters:change_image' pk=character.id %}" method="post"
            enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form character_form %}
        {% if may_edit and request.user.is_authenticated %}
          <button class="btn btn-primary btn-sm w-100 mb-1 mt-3 float-end"
                  type="submit">{% trans 'Save' %}</button>
        {% endif %}
      </form>
    </div>
  </div>

  {% if may_edit and request.user.is_authenticated %}
    <div class="row">
      <div class="col-12">
        <a data-message="{% trans 'Delete character' %}: {{ object }}?"
           class="btn btn-danger btn-sm w-100 delete-character"
           href="{% url 'characters:xhr_delete' pk=object.id %}"><i
          class="far fa-times fa-fw text-danger"></i> {% trans 'Delete Character' %}</a>
      </div>
    </div>
  {% endif %}
{% endif %}
