{% load portal_extras %}
{% load characters_extras i18n rules_extras %}

{% if may_edit %}
  <div class="row mb-2">
    <div class="col-12">
      <div class="btn-group mb-1 w-100">
        <button class="btn btn-success btn-sm"
                data-action-trigger-event-after="refresh-character-horror,sidebar-right-refresh"
                data-action-trigger-url="{% url 'characters:modify_stress' pk=object.id kind="stress" mode='remove' %}">
          <i class="fas fa-minus fa-fw"></i> {% trans 'Stress' %}
        </button>
        <button class="btn btn-warning btn-sm"
                data-action-trigger-event-after="refresh-character-horror,sidebar-right-refresh"
                data-action-trigger-url="{% url 'characters:modify_stress' pk=object.id kind="stress" mode='gain' %}">
          <i class="fas fa-plus fa-fw"></i> {% trans 'Stress' %}
        </button>
      </div>
      <div class="btn-group mb-1 w-100">
        <button class="btn btn-success btn-sm"
                data-action-trigger-event-after="refresh-character-horror,sidebar-right-refresh"
                data-action-trigger-url="{% url 'characters:modify_stress' pk=object.id kind="base_stress" mode='remove' %}">
          <i class="fas fa-minus fa-fw"></i> {% trans 'Base Stress' %}
        </button>
        <button class="btn btn-warning btn-sm"
                data-action-trigger-event-after="refresh-character-horror,sidebar-right-refresh"
                data-action-trigger-url="{% url 'characters:modify_stress' pk=object.id kind="base_stress" mode='gain' %}">
          <i class="fas fa-plus fa-fw"></i> {% trans 'Base Stress' %}
        </button>
      </div>
      <button class="btn btn-primary btn-sm w-100 dice-roll mb-1"
              data-dice-roll="{{ object.stress_test_dice }}d6"
              data-dice-header="{% trans 'Stress Test' %}"
              data-dice-description="{% trans 'Willpower + Logic' %}"
              data-dice-character={{ object.id }}>{% trans "Roll Stress Test" %}
      </button>
    </div>
  </div>
{% endif %}

<div class="row">
  <div class="col-12 text-center mt-1 mb-3">
    {% for i in object.base_stress|to_range %}
      <i class="fas fa-2x fa-frown text-danger mb-1" title="{% trans 'Base stress' %}"></i>
    {% endfor %}
    {% for i in object.stress|subtract:object.base_stress|to_range %}
      <i class="fas fa-2x fa-meh text-warning mb-1" title="{% trans 'Stress' %}"></i>
    {% endfor %}
    {% for i in object.available_stress|to_range %}
      <i class="far fa-2x fa-meh text-warning mb-1" title="{% trans 'Possible Stress' %}"></i>
    {% endfor %}
  </div>
</div>

{% if object.is_consumed_by_dread %}
  <div class="mb-3 text-center h4 consumed-by-dread-effect">{% trans "You are consumed by dread" %}</div>
{% endif %}

<div class="row">
  <div class="col-2 mb-2">
    <i class="fas fa-2x fa-frown text-danger" title="{% trans 'Base stress' %}"></i>
  </div>
  <div class="col-10 mb-2">
    {% blocktrans %}
      Your base stress level is a measure of how much exposure you have had to the horrors of the world.
      Your stress level cannot fall below your base stress level.
    {% endblocktrans %}
  </div>
  <div class="col-2 mb-2">
    <i class="fas fa-2x fa-meh text-warning" title="{% trans 'Stress' %}"></i>
  </div>
  <div class="col-10 mb-2">
    {% blocktrans %}
      Your current stress level. If it reaches your stress maximum,
      you will gain the condition <i>Consumed by dread</i>.
    {% endblocktrans %}
  </div>
  <div class="col-2 mb-2">
    <i class="far fa-2x fa-meh text-warning" title="{% trans 'Possible Stress' %}"></i>
  </div>
  <div class="col-10 mb-2">
    {% blocktrans %}
      This is the possible stress you can cope with.
    {% endblocktrans %}
  </div>
</div>

<div class="row mt-3">
  <h4 class="text-center">{% trans 'Your quirks' %}</h4>

  {% if object.quirks_need_to_be_chosen and may_edit %}
    <div class="col-12">
      <p>
        {% blocktrans %}
          You gained a not yet chosen quirk due to stress. Choose a
          Quirk from the list of available quirks or create a new one.
          Consult your Gamemaster to decide which quirk matches the
          situation.
        {% endblocktrans %}
      </p>
      <div class="col-12 mb-3 mt-1">
        <a class="btn btn-warning btn-sm w-100"
           data-modal-url="{% url 'characters:xhr_character_objects' pk=object.id object_type="quirk" %}"
           data-modal-size-class="modal-xl"
           data-modal-event-after="refresh-fragments"
           data-modal-title="{% trans 'Choose Quirk' %}"
           href=""><i class="fas fa-shapes fa-fw"></i> {% trans 'Choose Quirk' %}</a>
      </div>
    </div>
  {% endif %}

  {% for q in object.quirks.all %}
    <div class="col-12 mb-2">
      <div class="card">
        <div class="card-header">{{ q }}</div>
        <div class="card-body">
          <div class="text-muted">
            <i>{{ q.description|phasesix_markup }}</i>
          </div>

          <div class="mb-3 text-success">
            {{ q.positive_effects|phasesix_markup }}
          </div>
          <div class="mb-3 text-danger">
            {{ q.negative_effects|phasesix_markup }}
          </div>

          {% modifier_widget q.quirkmodifier_set.all %}

          <a class="btn btn-danger btn-sm float-end mt-2"
             data-action-trigger-method="DELETE"
             data-action-trigger-event-after="refresh-character-horror,sidebar-right-hide"
             data-action-trigger-url="{% url 'characters:xhr_character_objects' pk=object.id object_type="quirk" %}?object_id={{ q.id }}">
            <i class="far fa-meh fa-fw"></i> {% trans 'Remove Quirk' %}
          </a>
        </div>
      </div>
    </div>
  {% empty %}
    <p>{% trans "You don't have any quirks." %}</p>
  {% endfor %}
</div>
