{% load portal_extras %}
{% load characters_extras i18n rules_extras %}

{% if may_edit %}
  <div class="row">
    <div class="col-12">
      <div class="btn-group w-100">
        <button
          data-action-trigger-url="{% url 'characters:xhr_character_objects' pk=object.character.id object_type="quirk" %}?object_id={{ object.id }}"
          data-action-trigger-event-after="refresh-fragments,sidebar-right-hide"
          data-action-trigger-method="DELETE"
          class="btn btn-sm btn-danger mt-1">
          <i class="fas fa-fw fa-trash" title="{% trans 'Forget' %}"></i>{% trans 'Remove' %}
        </button>
      </div>
    </div>
  </div>
{% endif %}

<div class="row mt-3">
  <div class="col-12 mb-2">
    <div class="mb-3">
      {% modifier_widget object.quirk.quirkmodifier_set.all %}
    </div>

    <div class="text-muted">
      <i>{{ object.quirk.description|phasesix_markup }}</i>
    </div>

    <div class="mb-3 text-success">
      {{ object.quirk.positive_effects|phasesix_markup }}
    </div>
    <div class="mb-3 text-danger">
      {{ object.quirk.negative_effects|phasesix_markup }}
    </div>
  </div>
</div>
