{% load i18n characters_extras rules_extras %}

{% if may_edit %}
  <div class="row">
    <div class="col-12">

      <div class="btn-group w-100">
        <button
          data-action-trigger-event-after="refresh-character-magic,sidebar-right-hide"
          data-action-trigger-url="{% url 'characters:cast_spell' pk=object.id %}"
          class="btn btn-sm btn-primary">
          <i class="fas fa-fw fa-dice-five" title="{% trans 'Cast' %}"></i>{% trans 'Cast' %}
        </button>
      </div>

      <div class="btn-group w-100">
        <button class="btn btn-sm btn-primary mt-1"
                data-modal-url="{% url 'characters:xhr_add_spell_template' pk=object.id %}"
                data-modal-size-class="modal-lg"
                data-modal-event-after="refresh-character-magic"
                data-modal-title="{% trans 'Add Modification' %}">
          <i class="fas fa-fw fa-plus" title="{% trans 'Add Modification' %}"></i>{% trans 'Add Modification' %}
        </button>
      </div>
      <div class="btn-group w-100">
        <button
          data-action-trigger-event-after="refresh-character-magic,sidebar-right-hide"
          data-action-trigger-url="{% url 'characters:xhr_character_objects' pk=object.character.id object_type="spell" %}?object_id={{ object.id }}"
          data-action-trigger-method="DELETE"
          class="btn btn-sm btn-danger mt-1">
          <i class="fas fa-fw fa-trash" title="{% trans 'Forget' %}"></i>{% trans 'Forget' %}
        </button>
      </div>
    </div>
  </div>
{% endif %}

<div class="text-center mt-4">
  <h2>{% trans "Arcana" %}</h2>
  {% arcana_display object.character %}
</div>

<hr>
<div class="text-center mt-2 fs-2">
  <h2>{% trans "Spell cost" %}</h2>
  {% for a in object.arcana_cost|to_range %}<i class="gi-lorc-fairy-wand text-warning"></i>{% endfor %}
</div>

<div class="row mt-2">
  <div class="col-12">
    <p class="mb-4">{{ object.spell.rules|phasesix_markup }}</p>
    <div class="card mb-2 mt-2">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <i class="fas fa-dice-five fa-fw"></i>
          {% trans 'Spell Casting' %}
          <span class="float-end"><small
            class="text-muted">{{ object.spell_type.reference_attribute.name }}</small> {% color_value_span object.dice_value 5 %}</span>
        </li>
        <li class="list-group-item">
          <i class="fas fa-bolt fa-fw"></i>
          {% trans 'Power' %}
          <span class="float-end">{% color_value_span object.power 4 %}</span>
        </li>
        <li class="list-group-item">
          <i class="fas fa-arrows-alt-h fa-fw"></i>
          {% trans 'Range' %}
          <span class="float-end">{% color_value_span object.range 4 %}</span>
        </li>
        <li class="list-group-item">
          <i class="fas fa-circle fa-fw"></i>
          {% trans 'Shape' %}
          <span class="float-end">{{ object.shape|default:"-" }}</span>
        </li>
        <li class="list-group-item">
          <i class="fas fa-hourglass fa-fw"></i>
          {% trans 'Actions' %}
          <span class="float-end">{% color_value_span object.actions 3 invert=True %}</span>
        </li>
        <li class="list-group-item">
          <i class="fas fa-hourglass fa-fw"></i>
          {% trans 'Duration' %}
          {% trans "Instant" as t_duration %}
          <span class="float-end">{{ object.duration|default:t_duration }}
            {% if object.duration %}{{ object.get_duration_unit_display }}{% endif %}{% if object.needs_concentration %}
              <small><i>({% trans "Needs concentration" %})</i></small>{% endif %}</span>
        </li>
      </ul>
    </div>
    {% if object.characterspelltemplate_set.exists %}
      <ul class="list-group list-group-flush">
        {% for st in object.characterspelltemplate_set.all %}
          <li class="list-group-item">
            <i class="fas fa-puzzle-piece fa-fw"></i> {{ st }}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    {% if user.is_superuser %}
      <a href="{% url 'admin:magic_basespell_change' object.spell.id %}"
         style="font-size: xx-small">admin</a>
    {% endif %}
  </div>
</div>
