{% load armory_extras %}
{% load characters_extras rules_extras i18n thumbnail %}

{% if may_edit %}
  <div class="row">
    {% if object.weapon.attack_modes.exists %}
      {% for fm in object.attack_modes_with_values %}
        <div class="col-12">
          <div class="btn-group w-100">
            <a class="btn btn-primary btn-sm action-link dice-roll mb-1"
               data-dice-roll="{{ fm.1 }}d6"
               data-dice-header="{{ object.weapon }}"
               data-dice-description="{{ fm.0 }} {{ object.roll_info_display }}"
               data-dice-character="{{ object.character.id }}"
               href="{% url 'characters:attack' characterweapon_pk=object.id attack_mode_pk=fm.2 %}">
              {% trans 'Attack:' %} {{ fm.0 }}
              {% color_value_span fm.1 8 %} <i class="fas fa-dice-five"></i></a>
          </div>
        </div>
      {% endfor %}
      <div class="col-12">
        <div class="btn-group w-100">
          <a class="btn btn-secondary btn-sm action-link mb-1"
             href="{% url 'characters:reload' characterweapon_pk=object.id %}"><i
                  class="fas fa-redo fa-fw"></i> {% trans 'Reload' %}</a>
        </div>
      </div>
    {% endif %}

    <div class="col-12">
      <div class="btn-group w-100">
        <a class="btn btn-warning btn-sm action-link"
           href="{% url 'characters:xhr_weapon_condition' pk=object.character.id weapon_pk=object.id mode="damage" %}"><i
                class="fas fa-times fa-fw"></i> {% trans 'Damage' %}</a>
        <a class="btn btn-success btn-sm action-link"
           href="{% url 'characters:xhr_weapon_condition' pk=object.character.id weapon_pk=object.id mode="repair" %}"><i
                class="fas fa-wrench fa-fw"></i> {% trans 'Repair' %}</a>
      </div>
    </div>

    <div class="col-12">
      <div class="btn-group w-100">
        {% has_valid_weaponmodifications object.weapon object.character as has_valid_wm %}
        {% if has_valid_wm %}
          <a
                  class="btn btn-primary btn-sm modal-trigger close-sidebar mt-1"
                  data-url="{% url 'characters:xhr_add_weapon_modifications' pk=object.character.id %}?character_weapon_id={{ object.id }}"
                  data-bs-toggle="modal"
                  data-bs-target=".page-modal"
                  data-modal-title="{% trans 'Add Modification' %}"
                  href=""><i class="fas fa-puzzle-piece"></i> {% trans 'Modifications' %}</a>
        {% endif %}
      </div>
    </div>

    <div class="col-12">
      <div class="btn-group w-100">
        <a class="btn btn-danger btn-sm action-link close-sidebar mt-1"
           data-method="DELETE"
           href="{% url 'characters:xhr_character_objects' pk=object.character.id object_type="weapon" %}?object_id={{ object.id }}">
          <i class="fas fa-trash"></i> {% trans 'Remove' %}</a>
      </div>
    </div>
  </div>
{% endif %}

{% if object.weapon.image %}
  {% thumbnail object.weapon.image "500" as thumb %}
    <img src="{{ thumb.url }}" class="rounded img-fluid mt-4" alt="{{ object.weapon }}">
  {% endthumbnail %}
{% endif %}


<div class="row mt-4">
  <div class="col-12">
    {{ object.weapon.description|urpg_markup }}
  </div>
</div>

<div class="row mb-3">
  <div class="col-12">
    <div class="card mb-2 mt-2">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <i class="fas fa-arrows-alt-h fa-fw"></i>
          {% trans 'Condition' %}
          <span class="float-end">{% color_value_span object.condition 100 %}%</span>
        </li>
        {% if object.character.currency_map %}
          {% with cmu=object.character.currency_map.currencymapunit_set.earliest %}
            <li class="list-group-item">
              <i class="{{ cmu.fa_icon_class }} {{ cmu.color_class }} fa-fw"></i>
              {% trans 'Price' %}
              <span class="float-end">{% color_value_span object.weapon.price 100 invert=True %}</span>
            </li>
          {% endwith %}
        {% endif %}
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    {% for identifier, kw in object.modified_keywords.items %}
      <span class="fw-bold {% if kw.is_rare %}text-primary{% endif %}">{{ kw.name }}</span>
      {% color_value_span kw.value 6 %}
      <i class="text-muted">({{ kw.description|replace_keyword_value:kw.value }})</i><br>
    {% endfor %}
    {% if user.is_superuser %}
      <a href="{% url 'admin:armory_weapon_change' object.weapon.id %}"
         style="font-size: xx-small">admin</a>
    {% endif %}
  </div>
</div>

{% for wm in object.modifications.all %}
  <hr>
  <h5 class="mt-4">{{ wm }}</h5>
  <p>
    {{ wm.rules|urpg_markup }}
  </p>
  {% for keyword in wm.weaponmodificationkeyword_set.all %}
    <span class="fw-bold {% if keyword.keyword.is_rare %}text-primary{% endif %}">{{ keyword.keyword.name }}</span>
    {% color_value_span keyword.value 6 %}<br>
    <a class="action-link btn btn-danger btn-sm w-100 mt-2 mb-3"
       data-url="{% url 'characters:xhr_add_weapon_modifications' pk=object.id %}?character_weapon_id={{ weapon.id }}"
       title="{% trans 'Remove Modification' %}"
       href="{% url 'characters:xhr_remove_weapon_modification' pk=object.character.id weapon_pk=object.id weapon_modification_pk=wm.id %}">
      <i class="fas fa-trash"></i> {% trans 'Remove' %}</a>
  {% endfor %}
{% endfor %}
