{% load i18n django_bootstrap5 rules_extras %}

{% if may_edit %}
    <div class="row">
        <div class="col-12">
            <button
                    data-dice-roll="{{ object.weaponless_attack_dice }}d6"
                    data-dice-header="{% trans 'Weaponless Attack' %}"
                    data-dice-description="{% trans 'Piercing' %}: {{ object.weaponless_piercing }}"
                    data-dice-character="{{ object.id }}"
                    class="btn btn-primary btn-sm w-100 dice-roll">
                <i class="fas fa-dice-five fa-fw"></i> {% trans 'Attack' %}</button>
        </div>
    </div>

    <div class="row">
        <div class="col-12 {% if may_edit %}mt-3{% endif %}">
            <p>
                {% blocktrans %}
                    If the character attacks without a weapon, the player rolls hit dice equal to his Hand to hand combat value. The minimum roll is equal to the character's minimum roll, which is usually 5+.
                {% endblocktrans %}
            </p>
            <p>
                {% blocktrans %}
                    If the character's Strength value is higher than 2, the successful attack gains piercing 1.
                {% endblocktrans %}
            </p>
            <p>
                {% blocktrans %}
                    If the character's Quickness value is higher than 2, the character adds one die to the roll.
                {% endblocktrans %}
            </p>
        </div>
    </div>
{% endif %}

