{% extends "rulebook/pdf/pdf_base.html" %}
{% load rules_extras %}
{% load rulebook_extras %}

{% block extra_style %}
  <style>
    @page {
      @bottom-right {
        content: counter(page);
        margin-right: -0.7cm;
      }
    }
  </style>
{% endblock %}

{% block content %}
  {% for chapter in world_book.chapters %}
    <div class="chapter" id="{{ chapter.identifier }}">
      <div class="chapter-image" style="background-image: url({{ chapter.image.path }})">
        &nbsp;
      </div>
      <h2 id="chapter-toc-identifier-{{ chapter.name|chapter_label_to_id }}">{{ chapter.name }}</h2>
      <div class="chapter-text">
        {{ chapter.text|render_book_as_template:world_book.world|phasesix_markup:False|resolve_rulebook_chapter_links:"pdf" }}
      </div>
    </div>
  {% endfor %}

  {% appendix world_book "templates" %}
  {% appendix world_book "weapons" %}
  {% appendix world_book "weapon_modifications" %}
  {% appendix world_book "riot_gear" %}
  {% appendix world_book "items" %}
  {% appendix world_book "spells" %}
  {% appendix world_book "spell_templates" %}
  {% appendix world_book "quirks" %}
  {% appendix world_book "body_modifications" %}
  {% appendix world_book "foes" %}
{% endblock %}
