{% extends 'rulebook/pdf/pdf_base.html' %}
{% load rulebook_extras %}
{% load i18n %}

{% block content %}
  <div class="chapter" id="toc">
    <div class="chapter-image" style="background-image: url(file://{% local_static "rulebook/toc_cover.png" %})">
      &nbsp;
    </div>
    <h2>{% trans 'Table of contents' %}</h2>
    <div class="chapter-text">
      {% create_toc_entries bookmark_tree as toc_entries %}
      {% for toc_entry in toc_entries %}
        <span style="margin-left: {{ toc_entry.indent }}mm">
          {{ toc_entry.label }}
        </span>
        <span style="float: right">
          {{ toc_entry.page }}
        </span>
        <br>
      {% endfor %}
    </div>
  </div>
{% endblock %}