{% load thumbnail i18n %}

{% for page in pages %}
    <div class="card mb-2 pointer suggested-wiki-link"
         data-msg="{% trans 'Wiki tag copied' %}"
         data-wiki-link="[[{{ page.slug }}|{{ page.get_wiki_link_text }}]]">
        <div class="card-header">
            {{ page }}
        </div>
        {% if page.image %}
            {% thumbnail page.image "512" as im %}
                <img class="card-img-top" src="{{ im.url }}" alt="{{ page }}">
            {% endthumbnail %}
        {% endif %}
    </div>
{% endfor %}
