{% load i18n %}

<div class="row">
  <div class="col-12 mb-3">
    <div class="input-group">
      <input class="form-control" type="search" name="q"
             hx-get="{% url 'portal:xhr_search_results' %}"
             hx-trigger="keyup changed delay:500ms"
             hx-target=".search-results"
             autocomplete="off"
             placeholder="{% trans 'Characters, Worlds etc..' %}">
    </div>
    {% comment %}
    <div class="form-check form-switch mt-1">
      <input class="form-check-input" type="checkbox" role="switch" name="search_descriptions"
             id="searchDescriptions">
      <label class="form-check-label" for="searchDescriptions">{% trans 'Search in descriptions' %}</label>
    </div>
    {% endcomment %}
  </div>
</div>

<div class="row">
  <div class="col-12 search-results">

  </div>
</div>
