{% load i18n bootstrap4 %}

{% if may_edit %}
    <div class="row">
        <div class="col-12">
            <button
                    data-dice-roll="{{ object.value }}d6"
                    data-dice-header="{{ object.skill }}"
                    data-dice-description=""
                    data-dice-character="{{ object.character }}"
                    class="btn btn-primary btn-sm w-100 dice-roll">
                <i class="fas fa-dice-five fa-fw"></i> {% trans 'Roll' %}</button>
        </div>
    </div>
{% endif %}
