{% extends 'base.html' %}
{% load i18n static rules_extras %}

{% block belownav %}
    {% if object.image %}
    <style>
        .belowhead-img {
            height: 36vh;
            background-position: center;
            background-size: cover;
            margin-left: -15px;
            margin-right: -15px;
        }
    </style>
    <div class="belowhead-img mb-5" style="background-image: url({% static object.image_url %})">
        &nbsp;
    </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-9 rules">
            <h1><i class="{{ object.fa_icon_class|default:"fas fa-book" }}"></i> {{ object.title }}</h1>
            <br>
            <div class="columns">
                {{ object.content|safe }}
            </div>
        </div>
        <div class="col-md-3">
            <ul class="list-group list-group-flush">
                {% for chapter in structure %}
                    <li class="list-group-item">
                        <i class="{{ chapter.fa_icon_class|default:"fas fa-book" }} fa-fw"></i>
                        <a class="mb-5 no-decoration" href="{% url 'rulebook:detail' pk=forloop.counter %}">{{ chapter.title }}</a><br>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}