{% extends 'base.html' %}
{% load i18n static md2 %}

{% block content %}
    <h1>{% trans 'Rule book' %}</h1>
    <div class="row">
        {% for object in object_list %}
        <div class="col-md-4">
            <div class="card pt-4 pb-4 mb-4">
                <div class="card-body text-center">
                    <a href="{% url 'rulebook:detail' pk=object.pk %}">
                        <i class="fa fa-{{ object.fa_icon_class|default:"book" }} fa-8x mb-3"></i>
                        <h2>{{ object.number }}. {{ object.name }}</h2>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}