{% extends 'base.html' %}
{% load i18n static md2 %}

{% block content %}
    <div class="row">
        <div class="col-md-9">
            <h1>{{ object.name }}</h1>
            <p>
                {{ object.text|markdown }}
            </p>
        </div>
        <div class="col-md-3">
            {% for chapter in all_chapters %}
                <div class="card pt-2 pb-2">
                    <div class="card-body text-center">
                        <a href="{% url 'rulebook:detail' pk=object.pk %}">
                            <i class="fa fa-book fa-4x mb-3"></i>
                            <h2>{{ object.number }}. {{ object.name }}</h2>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}