{% load i18n characters_extras %}
<div class="col-12 mt-1">
    {% trans 'Type' %}
    <span class="float-end">{{ game_values.type }}</span>
</div>
<div class="col-12 mt-1">
    {% trans 'Wounds' %}
    <span class="float-end">{% color_value_span game_values.health 6 %}</span>
</div>
<div class="col-12 mt-1">
    {% trans 'Protection' %}
    <span class="float-end">{% color_value_span game_values.protection 3 %}</span>
</div>
<div class="col-12 mt-1">
    {% trans 'Arcana' %}
    <span class="float-end">{% color_value_span game_values.arcana 6 %}</span>
</div>
<div class="col-12 mt-1">
    {% trans 'Actions' %}
    <span class="float-end">{% color_value_span game_values.actions 3 %}</span>
</div>
<div class="col-12 mt-1">
    {% trans 'Minimum Roll' %}
    <span class="float-end">{% color_value_span game_values.minimum_roll 5 invert=True %}</span>
</div>
<div class="col-12 mt-1">
    {% trans 'Walking Range' %}
    <span class="float-end">{% color_value_span game_values.walking_range 5 %}m</span>
</div>
<div class="col-12 mt-1">
    {% trans 'Perception' %}
    <span class="float-end">{% color_value_span game_values.perception 3 %}</span>
</div>
<div class="col-12 mt-1">
    {% trans 'Quickness' %}
    <span class="float-end">{% color_value_span game_values.quickness 3 %}</span>
</div>
<div class="col-12 mt-1">
    {% trans 'Resistances' %}
    <span class="float-end">{{ game_values.resistance_string }}</span>
</div>
<div class="col-12 mt-1">
    {% trans 'Weaknesses' %}
    <span class="float-end">{{ game_values.weakness_string }}</span>
</div>
{% if game_values.stress_test_succeeded_stress or game_values.stress_test_failed_stress %}
    <div class="col-12 mt-1">
        {% trans 'Stress' %}
        <span class="float-end">{% color_value_span game_values.stress_test_succeeded_stress 2 invert=True %}/{% color_value_span game_values.stress_test_failed_stress 5 invert=True %}</span>
    </div>
{% endif %}
