{% load humanize %}
{% load i18n %}
{% load rules_extras %}
<div class="card mb-3">
  <div class="card-body">
    <h3>{{ language }}</h3>
    <div class="text-muted mb-3">
      {% blocktrans with t_amount=language.amount_of_people_speaking|intword t_country=language.country_name %}
        Spoken by {{ t_amount }} individuals.
        Origin: {{ t_country }}
      {% endblocktrans %}
    </div>

    {% if character %}
      <form action="{% url 'characters:xhr_character_objects' pk=character.id object_type="language" %}"
            method="post"
            class="float-end add-form">
        {% csrf_token %}
        <input type="hidden" name="object_id" value="{{ language.id }}">
        <button type="submit" class="btn btn-primary btn-sm float-end"
                data-danger="{% trans 'Not possible' %}" data-success="{% trans 'Added' %}">
          {% trans 'Add' %}
        </button>
      </form>
    {% endif %}
  </div>
</div>
