{% extends 'base.html' %}
{% load static i18n characters_extras rules_extras thumbnail world_extras %}

{% block javascript %}
    <script src="{% static 'js/worlds_detail.js' %}"></script>
    <script>
      $ (function () {
        let masonry = $ ('.masonry-container').masonry ()
        setTimeout (function () {
          masonry.masonry ('layout')
        }, 1000)
      })
    </script>
{% endblock %}

{% block title %}{{ object }} - {{ block.super }}{% endblock %}

{% block background %}{% thumbnail object.get_image.image "1900" as im %}{{ im.url }}{% endthumbnail %}{% endblock %}

{% block background_copyright %}
    Image by <a href="{{ object.get_image.copyright_url }}">{{ object.get_image.copyright }}</a>
{% endblock %}

{% block opengraph %}
    <meta property="og:title" content="Phase Six - {{ object }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://phasesix.org"/>
    {% if object.image %}
        {% thumbnail object.image '600' as image %}
            <meta property="og:image" content="https://phasesix.org{{ image.url }}"/>
        {% endthumbnail %}
    {% endif %}
    <meta property="og:description" content="{{ object.text|to_first_linebreak }}"/>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 col-sm-4 col-md-3">

            <div class="card">
                {% with img=object.get_image %}
                    {% if img %}
                        {% thumbnail img.image '1024' as im %}
                            <img class="card-img-top rounded" src="{{ im.url }}" alt="{{ object }}"/>
                        {% endthumbnail %}
                    {% endif %}
                {% endwith %}
            </div>

            {% if may_edit %}
                <a
                        class="btn btn-outline-primary w-100 modal-trigger"
                        title="{% trans 'Edit Page' %}"
                        href="{% url 'world:edit_text' world_slug=object.world.slug slug=object.slug %}"><i class="fa fa-pen"></i> {% trans 'Edit Page' %}</a>
                <a
                        class="btn btn-outline-secondary mt-1 w-100 modal-trigger"
                        data-url="{% url 'world:xhr_create_wiki_page' world_pk=object.world.id parent_pk=object.id %}"
                        title="{% trans 'Create Wiki Page' %}"
                        data-bs-toggle="modal"
                        data-modal-title="{% trans 'Create Wiki Page' %}"
                        data-bs-target=".page-modal"
                        href=""><i class="fa fa-plus"></i> {% trans 'Create Subpage' %}</a>
                <button type="button"
                        data-sidebar-url="{% url 'worlds:xhr_wiki_page_sort_sidebar' slug=object.slug sidebar_template="sort_sub_pages" %}"
                        data-sidebar-title="{% trans 'Sort Subpages' %}"
                        class="btn btn-outline-secondary w-100 mt-1 sidebar-trigger">
                    <i class="fa fa-sort"></i> {% trans 'Sort Subpages' %}
                </button>
            {% endif %}

        </div>

        <div class="col-12 col-sm-8 col-md-9 wiki-page">
            <h1>{{ object.name }}</h1>

            <nav aria-label="breadcrumbs" style="--bs-breadcrumb-divider: '>';">
                <ol class="breadcrumb">
                    {% breadcrumbs object as crumbs %}
                    {% for bc in crumbs %}
                        <li class="breadcrumb-item"><a href="{{ bc.1 }}">{{ bc.0 }}</a></li>
                    {% endfor %}
                </ol>
            </nav>

            {{ object.text|urpg_markup|replace_tags:object.world }}
        </div>
    </div>

    <div class="row masonry-container mt-4">
        {% for page in object.wikipage_set.all %}
            <div class="col col-md-6 col-xl-4">
                <a class="invisible-link"
                   href="{% url 'world:wiki_page' world_slug=object.world.slug slug=page.slug %}">
                    <div class="card pointer mb-4">
                        <div class="card-header">
                            {{ page }}
                        </div>
                        {% if page.image %}
                            {% thumbnail page.image "1024" as im %}
                                <img src="{{ im.url }}" class="card-img-top" alt="{{ page }}">
                            {% endthumbnail %}
                        {% endif %}
                        <div class="card-body">
                            {{ page.text|to_first_linebreak|urpg_markup|replace_tags:page.world }}
                        </div>
                        {% if user.is_superuser %}
                            <a href="{% url 'admin:worlds_wikipage_change' page.id %}"
                               style="position: absolute; bottom: 2px; right: 2px; font-size: xx-small">admin</a>
                        {% endif %}
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
