{% extends 'base.html' %}
{% load portal_extras %}
{% load static i18n characters_extras rules_extras thumbnail world_extras campaign_extras %}

{% block javascript %}
  <script src="{% static 'js/worlds_detail.js' %}"></script>
  <script>
      $(function () {
          $('.add-foe-link').on('click', function (e) {
              let elem = $(this)
              let text = elem.text()
              elem.text(elem.data('message'))
              setTimeout(function () {
                  elem.text(text)
              }, 1000)
          })

          const options = {
              keyboard: true,
              size: 'fullscreen'
          };

          document.querySelectorAll('.toggle-lightbox').forEach((el) => el.addEventListener('click', (e) => {
              e.preventDefault();
              const lightbox = new Lightbox(el, options);
              lightbox.show();
          }));
      })
  </script>
{% endblock %}

{% block title %}{{ object }} - {{ block.super }}{% endblock %}
{% block in_page_title %}{{ object }}{% endblock %}
{% block in_page_subtitle %}{{ object.text|to_first_linebreak|replace_wiki_tags:object.world }}{% endblock %}

{% block bottom_nav %}
  {% bottom_navigation_button "worlds/_navigation.html" %}
{% endblock %}

{% block background %}{% thumbnail object.get_image.image "1900" as im %}{{ im.url }}{% endthumbnail %}{% endblock %}

{% block background_copyright %}
  Image by <a href="{{ object.get_image.copyright_url }}">{{ object.get_image.copyright }}</a>
{% endblock %}

{% block opengraph %}
  <meta property="og:title" content="{{ brand_name }} - {{ object }}"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="https://{{ brand_domain_name }}"/>
  {% if object.image %}
    {% thumbnail object.image '600' as image %}
      <meta property="og:image" content="https://{{ brand_domain_name }}{{ image.url }}"/>
    {% endthumbnail %}
  {% endif %}
  <meta property="og:description" content="{{ object.text|to_first_linebreak }}"/>
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-12 col-xl-3 d-none d-xl-block">
      {% include 'worlds/_navigation.html' with object=object may_edit=may_edit %}
    </div>

    <div class="col-12 col-xl-9 wiki-page">
      <nav aria-label="breadcrumbs" style="--bs-breadcrumb-divider: '>';">
        <ol class="breadcrumb">
          {% breadcrumbs object as crumbs %}
          {% for bc in crumbs %}
            <li class="breadcrumb-item"><a href="{{ bc.1 }}">{{ bc.0 }}</a></li>
          {% endfor %}
        </ol>
      </nav>
      {% with img=object.get_image %}
        {% if img %}
          {% thumbnail img.image '1024' as im %}
            <a class="d-none d-lg-block toggle-lightbox" href="{{ img.image.url }}" data-gallery="{{ object.slug }}">
              <img class="rounded img-fluid w-25 float-start me-3 mb-2" src="{{ im.url }}"
                   alt="{{ object }}"/>
            </a>
            <img class="d-lg-none rounded img-fluid me-3 mb-2" src="{{ im.url }}"
                 alt="{{ object }}"/>
          {% endthumbnail %}
        {% endif %}
      {% endwith %}

      <div class="clearfix">

        {% if object.has_values_or_actions %}
          <div class="d-lg-none">
            <button data-bs-toggle="collapse"
                    data-bs-target="#game-values-collapse"
                    class="btn btn-outline-primary w-100 my-2">{% trans "Game Values" %}</button>
            <div class="collapse" id="game-values-collapse">
              <div class="card">
                <div class="card-body">
                  {% include 'worlds/_game_values.html' %}
                  {% include 'worlds/_game_actions.html' %}
                  {% include 'worlds/_add_to_campaign.html' %}
                </div>
              </div>
            </div>
          </div>
          <div class="d-none d-lg-block float-end ms-3 mb-2" style="width: 35%;">
            <div class="card">
              <div class="card-body">
                {% include 'worlds/_game_values.html' %}
                {% include 'worlds/_game_actions.html' %}
                {% include 'worlds/_add_to_campaign.html' %}
              </div>
            </div>
          </div>
        {% endif %}

        {{ object.text|urpg_markup|replace_wiki_tags:object.world }}
      </div>

      <div class="row masonry-container mt-4">
        {% for page in object.wikipage_set.all %}
          <div class="col col-md-6">
            <a class="stretched-link"
               href="{% url 'world:wiki_page' world_slug=object.world.slug slug=page.slug %}"></a>
            <div class="card pointer mb-4">
              <div class="card-header">
                {{ page }}
              </div>
              {% if page.image %}
                {% thumbnail page.image "1024" as im %}
                  <img src="{{ im.url }}" class="card-img-top" alt="{{ page }}">
                {% endthumbnail %}
              {% endif %}
              <div class="card-body">
                {{ page.text|to_first_linebreak|urpg_markup|replace_wiki_tags:page.world }}
              </div>
              {% if user.is_superuser %}
                <a href="{% url 'admin:worlds_wikipage_change' page.id %}"
                   style="position: absolute; bottom: 2px; right: 2px; font-size: xx-small">admin</a>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}
