{% extends 'base.html' %}
{% load portal_extras %}
{% load static i18n characters_extras rules_extras thumbnail %}

{% block javascript %}
  <script src="{% static 'js/worlds_detail.js' %}"></script>
{% endblock %}

{% block bottom_nav %}
  {% bottom_navigation_button "worlds/_navigation.html" %}
{% endblock %}

{% block title %}{{ world }} - {{ block.super }}{% endblock %}
{% block in_page_title %}{{ world }}{% endblock %}
{% block in_page_subtitle %}{% endblock %}

{% block content %}
  <div class="d-none d-xl-flex justify-content-between">
    {% if may_edit %}
      <div>
      </div>
    {% endif %}
  </div>

  <div class="row">
  <div class="col-12 col-xl-3 d-none d-xl-block">
    {% include 'worlds/_navigation.html' with object=object may_edit=may_edit %}
  </div>

  <div class="col-12 col-xl-9 wiki-page">
    {{ world.description_1|urpg_markup|replace_wiki_tags:world }}
    {{ world.description_2|urpg_markup|replace_wiki_tags:world }}
    {{ world.description_3|urpg_markup|replace_wiki_tags:world }}

    <div class="row masonry-container">
      {% for page in world.wikipage_set.get_top_level %}
        <div class="col col-md-6">
          <a class="stretched-link" href="{% url 'world:wiki_page' world_slug=world.slug slug=page.slug %}"></a>
          <div class="card pointer mt-3">
            <div class="card-header">
              {{ page }}
            </div>
            {% if page.image %}
              {% thumbnail page.image "1024" as im %}
                <img src="{{ im.url }}" class="card-img-top" alt="{{ page }}">
              {% endthumbnail %}
            {% endif %}
            <div class="card-body">
              {{ page.text|to_first_linebreak|urpg_markup|replace_wiki_tags:world }}
            </div>
            {% if user.is_superuser %}
              <a href="{% url 'admin:worlds_wikipage_change' page.id %}"
                 style="position: absolute; bottom: 2px; right: 2px; font-size: xx-small">admin</a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}
