{% load i18n characters_extras rules_extras %}

<div class="row">
    {% for r in riot_gear.distinct %}
        <div class="col-md-6">
            <div class="card mt-3">
                <div class="card-header">
                    <i class="{{ r.extension.fa_icon_class }}" title="{{ r.extension }}"></i>
                    {{ r }}
                </div>
                <div class="card-body">
                    <i class="fas fa-shield-alt fa-fw"></i> {% trans 'Protection' %}: {% color_value_span r.protection_ballistic 3 %}<br>
                    <i class="fas fa-weight fa-fw"></i> {% trans 'Encumbrance' %}: {% color_value_span r.encumbrance 5 invert=True %}<br>
                    <i class="fas fa-eye-slash fa-fw"></i> {% trans 'Concealment' %}: {% color_value_span r.concealment 6 invert=True %}<br>
                    <i class="fas fa-balance-scale fa-fw"></i> {% trans 'Weight' %}: {{ r.weight }}<br>
                    {% if character.currency_map %}
                        {% with cmu=character.currency_map.currencymapunit_set.earliest %}
                            <br>
                            <i class="{{ cmu.fa_icon_class }} {{ cmu.color_class }} fa-fw"></i>
                            {% trans 'Price' %}:
                            {% color_value_span r.price 500 invert=True %}
                        {% endwith %}
                    {% endif %}
                    <form action="{% url 'characters:add_riot_gear' pk=character.id riot_gear_pk=r.id %}" method="post"
                          class="float-end add-form">
                        {% csrf_token %}
                        <input type="hidden" name="riot_gear_id" value="{{ r.id }}">
                        <button type="submit" class="btn btn-primary btn-sm float-end"
                                data-danger="{% trans 'Not possible' %}" data-success="{% trans 'Added' %}">
                            {% trans 'Add armor' %}
                        </button>
                    </form>
                    {% if user.is_superuser %}
                        <a href="{% url 'admin:armory_riotgear_change' r.id %}"
                           style="position: absolute; bottom: 2px; left: 2px; font-size: xx-small">admin</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
