{% load characters_extras rules_extras i18n %}

<script>
    $(function () {
        let timer = null

        function updateMasonry() {
            $('.modal-body div.tab-pane.active .masonry-container').masonry({percentPosition: true})
        }

        function updateTabs() {
            $('.add-item-tab-pane').each(function(index){
                let elem = $(this)
                let ct = elem.find('.add-item-card:not(.d-none)')

                if (ct.length === 0) {
                    elem.addClass('d-none')
                    $(elem.data('rel')).addClass('d-none')
                } else {
                    elem.removeClass('d-none')
                    $(elem.data('rel')).removeClass('d-none')
                    $('li.add-item-nav-item:not(.d-none):first').find('a').tab('show')
                }
            })
        }

        $('.search-items-input').on('keyup', function(e){
            let q = $(this).val()

            if (timer) clearTimeout(timer)

            timer = setTimeout(function(){
                $('.add-item-card').each(function(index){
                    if ($(this).text().toLowerCase().search(q.toLowerCase()) > -1) {
                        $(this).removeClass('d-none')
                    } else {
                        $(this).addClass('d-none')
                    }
                })
                updateTabs()
                updateMasonry()
            }, 10)

        })

        $('.add-item-nav-item').on('click', function() {
            $('#add-item-mobile-nav').collapse('hide')
            $('.btn-add-item-mobile-nav-toggle').text($(this).find('a').text())
        })
        $('.modal-body a.nav-link').first().addClass('active')
        $('.modal-body div.tab-pane').first().addClass('active')
        updateMasonry()
    })
</script>

<div class="row">
    <div class="col-12 col-md-4 col-lg-3">
        <div class="input-group input-group-sm mb-3">
            <input type="text" class="form-control search-items-input" placeholder="{% trans 'Search' %}">
            {% if user.is_superuser %}
                <a href="{% url 'admin:armory_item_add' %}" class="btn btn-warning"><i
                        class="fas fa-plus"></i> {% trans 'admin' %}</a>
            {% endif %}
        </div>
        <button
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#add-item-mobile-nav"
                class="btn btn-secondary btn-add-item-mobile-nav-toggle mb-1 w-100 d-block d-md-none">{% trans 'Categories' %}</button>

        <div class="collapse dont-collapse-md" id="add-item-mobile-nav">
            <ul class="nav nav-pills flex-column" role="tablist">
                {% for t in item_types %}
                    <li class="nav-item add-item-nav-item {% if forloop.first %}active{% endif %}" id="nav-item-{{ t.id }}">
                        <a class="nav-link" href="#i{{ t.id }}" aria-controls="home" role="tab"
                           data-bs-toggle="tab">{{ t }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>

    </div>
    <div class="col-12 col-md-8 col-lg-9">
        <div class="tab-content">
            {% for t in item_types %}
                <div role="tabpanel"
                     data-rel="#nav-item-{{ t.id }}"
                     class="tab-pane add-item-tab-pane {% if forloop.first %}active{% endif %}" id="i{{ t.id }}">
                    <div class="row masonry-container">
                        {% for item in t.item_set.all %}
                            {% has_extensions item character.extensions.all as has_extensions %}
                            {% if has_extensions %}
                                <div class="col-12 col-lg-6">
                                    <div class="card mb-3 add-item-card">
                                        <div class="card-header">
                                            <span>{{ item }}</span>
                                            <span class="float-end small">{{ item.type }}</span>
                                        </div>
                                        <div class="card-body">
                                            {% if item.description %}<p>{{ item.description }}</p>{% endif %}
                                            <i class="fas fa-eye-slash fa-fw"></i> {% trans 'Concealment' %}: {% color_value_span item.concealment 6 invert=True %}<br>
                                            <i class="fas fa-balance-scale fa-fw"></i> {% trans 'Weight' %}: {{ item.weight }}<br>
                                            {% if character.currency_map %}
                                                {% with cmu=character.currency_map.currencymapunit_set.earliest %}
                                                    <br>
                                                    <i class="{{ cmu.fa_icon_class }} {{ cmu.color_class }} fa-fw"></i>
                                                    {% trans 'Price' %}:
                                                    {% color_value_span item.price 500 invert=True %}
                                                {% endwith %}
                                            {% endif %}
                                            <form action="{% url 'characters:add_item' pk=character.id item_pk=item.id %}"
                                                  class="float-end add-form" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="item_id" value="{{ item.id }}">
                                                <button class="btn btn-sm btn-primary float-end"
                                                        data-danger="{% trans 'Not possible' %}"
                                                        data-success="{% trans 'Added' %}">{% trans 'Add item' %}</button>
                                            </form>
                                            {% if user.is_superuser %}
                                                <a href="{% url 'admin:armory_item_change' item.id %}"
                                                   style="position: absolute; bottom: 2px; left: 2px; font-size: xx-small">admin</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
