{% load characters_extras static rules_extras i18n %}

<script src="{% static 'js/add_items_weapons.js' %}"></script>

<div class="row">
  <div class="col-12 col-md-4 col-lg-3">
    <div class="input-group input-group-sm mb-3">
      <input type="text" class="form-control search-items-input" placeholder="{% trans 'Search' %}">
      {% if user.is_superuser %}
        <a href="{% url 'admin:horror_quirk_add' %}" class="btn btn-warning"><i
                class="fas fa-plus"></i> {% trans 'admin' %}</a>
      {% endif %}
    </div>
    <button
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#add-item-mobile-nav"
            class="btn btn-secondary btn-add-item-mobile-nav-toggle mb-1 w-100 d-block d-md-none">{% trans 'Categories' %}</button>

    <div class="collapse dont-collapse-md" id="add-item-mobile-nav">
      <ul class="nav nav-pills flex-column" role="tablist">
        {% for c in quirk_categories %}
          <li class="nav-item add-item-nav-item {% if forloop.first %}active{% endif %}"
              id="nav-item-{{ c.id }}">
            <a class="nav-link" href="#i{{ c.id }}" aria-controls="home" role="tab"
               data-bs-toggle="tab">{{ c }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="col-12 col-md-8 col-lg-9">
    <div class="tab-content">
      {% for t in quirk_categories.distinct %}
        <div role="tabpanel"
             data-rel="#nav-item-{{ t.id }}"
             class="tab-pane add-item-tab-pane {% if forloop.first %}active{% endif %}"
             id="i{{ t.id }}">
          <div class="row masonry-container">
            {% for quirk in t.quirk_set.all %}
              <div class="col-12 col-md-6">
                <div class="card mb-3">
                  <div class="card-header">
                    {{ quirk }}
                  </div>
                  <div class="card-body">
                    <div class="text-muted">
                      {{ quirk.description|urpg_markup }}
                    </div>
                    {{ quirk.get_modifier_summary_html|safe }}

                    <form action="{% url 'characters:add_quirk' pk=character.id quirk_pk=quirk.id %}"
                          class="float-end add-form" method="post">
                      {% csrf_token %}
                      <input type="hidden" name="weapon_id" value="{{ quirk.id }}">
                      <button class="btn btn-sm btn-primary float-end"
                              data-danger="{% trans 'Not possible' %}"
                              data-success="{% trans 'Added' %}">{% trans 'Add Quirk' %}</button>
                    </form>
                  </div>
                  {% if user.is_superuser %}
                    <a href="{% url 'admin:horror_quirk_change' quirk.id %}"
                       style="position: absolute; bottom: 2px; left: 2px; font-size: xx-small">admin</a>
                  {% endif %}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>