{% load i18n characters_extras %}

<script>
    $(function(){
        $('.btn-rest').on('click', function(e){
            let btn = $(this)
            $.post(btn.data('url'), {mode: btn.data('mode')}, function(data){
                $('#page-modal').find('.btn-close').click()
            })
        })
    })
</script>

<div class="row">
    <div class="col-12">
        <table class="table">
            <tr>
                <th><i class="fas fa-heart text-danger" title="{% trans 'Health' %}"> </i> {% trans 'Wounds' %}</th>
                <td>
                    {% color_value_span object.rest_wound_dice 6 %} {% trans 'Dice' %}
                </td>
            </tr>
            {% if object.extension_enabled.horror %}
                <tr>
                    <th><i class="fas fa-meh text-warning" title="{% trans 'Stress' %}"></i> {% trans 'Stress' %}</th>
                    <td>
                        {% trans 'Stress Test' %} ({% color_value_span object.rest_stress_dice 6 %})
                    </td>
                </tr>
            {% endif %}
            {% if object.extension_enabled.magic %}
                <tr>
                    <th><i class="fas fa-magic text-warning"></i> {% trans 'Arcana' %}</th>
                    <td>
                        {% color_value_span object.rest_arcana_dice 6 %} {% trans 'Dice' %}
                    </td>
                </tr>
            {% endif %}
            <tr>
                <th><i class="fas fa-fw fa-dice-six text-success" title="{% trans 'Bonus Dice' %}"></i> {% trans 'Bonus Dice' %}</th>
                <td>{% trans 'Refresh' %}</td>
            </tr>
            <tr>
                <th><i class="fas fa-fw fa-dice-four text-danger" title="{% trans 'Destiny Dice' %}"></i> {% trans 'Destiny Dice' %}</th>
                <td>{% trans 'Refresh' %}</td>
            </tr>
            <tr>
                <th><i class="fas fa-fw fa-dice-one text-info" title="{% trans 'Rerolls' %}"></i> {% trans 'Rerolls' %}</th>
                <td>{% trans 'Refresh' %}</td>
            </tr>
        </table>

        <button class="btn btn-primary btn-lg w-100 mb-2 btn-rest" data-mode="auto" data-url="{% url 'characters:xhr_rest' pk=object.id %}">{% trans 'Rest' %}</button>
    </div>
</div>

<script>
    $(function(){
    })
</script>
