{% load characters_extras rules_extras i18n static %}
<html lang="de">
<head>
    <title>{{ object.name }}</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ data_path }}/styles.css">
    {% include 'characters/pdf/fonts/Roboto.html' %}
</head>

<body>
<div class="page">
    <table class="layout">
        <tr>
            <td class="vertical-top" style="width: 4cm; padding-right: 0.4cm">
                {% include 'characters/pdf/boxes/page1/basics.html' %}
                {% include 'characters/pdf/boxes/page1/health.html' %}
                {% include 'characters/pdf/boxes/page1/arcana.html' %}
                {% include 'characters/pdf/boxes/page1/horror.html' %}
                {% include 'characters/pdf/boxes/page1/persona.html' %}
                {% include 'characters/pdf/boxes/page1/physis.html' %}
                {% include 'characters/pdf/boxes/page1/dice.html' %}
                {% include 'characters/pdf/boxes/page1/shadows_short.html' %}
                {% include 'characters/pdf/boxes/page1/knowledge.html' %}
            </td>
            <td class="vertical-top">
                <table class="w-full">
                    <tr>
                        <td>
                            {% include 'characters/pdf/boxes/page1/actions.html' %}
                        </td>
                        <td>
                            {% include 'characters/pdf/boxes/page1/protection.html' %}
                        </td>
                        <td>
                            {% include 'characters/pdf/boxes/page1/evasion.html' %}
                        </td>
                        <td>
                            {% include 'characters/pdf/boxes/page1/concealment.html' %}
                        </td>
                    </tr>
                </table>
                <table class="w-full">
                    <tr>
                        <td>
                            {% include 'characters/pdf/boxes/page1/practical_skills.html' %}
                        </td>
                        <td>
                            {% include 'characters/pdf/boxes/page1/theoretical_skills.html' %}
                        </td>
                    </tr>
                </table>
                {% include 'characters/pdf/boxes/page1/combat.html' %}
            </td>
        </tr>
    </table>
</div>

<div class="page-break"></div>

<div class="page">
    <table>
        <tr>
            <td class="vertical-top w-one-third pr-1">
                {% include 'characters/pdf/boxes/page2/armour.html' %}
                {% include 'characters/pdf/boxes/page2/weapons.html' %}
            </td>
            <td class="vertical-top w-full">
                {% include 'characters/pdf/boxes/page2/currency.html' %}
                {% include 'characters/pdf/boxes/page2/items.html' %}
            </td>
        </tr>
    </table>
</div>
</body>
</html>
