@page {
    size: A4;
    margin: 3mm 3mm 3mm 2mm;
}

:root {
    font-size: 12px;
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    height: 294mm;
    width: 207mm;
    padding: 3mm;
    margin: 0;
}

/* Utilities */

.text-end {
    text-align: end;
}

.text-center {
    text-align: center;
}

.text-muted {
    color: #333;
}

.text-light {
    color: gray;
}

small {
    font-size: 8px;
}

p {
    margin: 0;
    padding: 0;
}

.page-break {
    page-break-before: always;
}

.w-full {
    width: 100%;
}

.w-half {
    width: 50%;
}

.pr-1 {
    padding-right: 1rem;
}

.vertical-top {
    vertical-align: top;
}

/* Pages */

.page {
    page-break-inside: avoid;
    height: 100%;
    width: 100%;
}

.page header {
    margin-bottom: 5mm;
}

.page header h3 {
    margin: 0;
}

/* Boxes */

.page .box {
    border: 1px solid black;
    position: relative;
    margin-bottom: 4mm;
    padding: 2mm;
    border-radius: 1mm;
}

.page .box h2 {
    position: absolute;
    font-size: 12px;
    background-color: white;
    padding: 0 2mm;
    top: -5mm;
    left: 2mm;
}

.page .box table {
    width: 100%;
}

.page .box table td {
    border-bottom: 1px solid silver;
}

/* Specific Boxes */

.page .box.combat-box table tr td:first-child {
    width: 35mm;
    vertical-align: top;
}

.page .box.weapon-box table tr td:first-child {
    width: 45mm;
}

.page .box.armour-box table tr td:first-child {
    width: 35mm;
}

/* Spells */

div.spells {
    columns: 2;
}

div.spells > * {
    break-inside: avoid;
}
