{% load i18n thumbnail static characters_extras %}
<div class="row">
    <div class="col-12 mb-3 mt-2">
        {% if object.image %}
            {% thumbnail object.image "600x600" crop="center" as im %}
                <img class="rounded img-fluid" src="{{ MEDIA_URL }}{{ im.url }}" alt="{{ object.name }}">
            {% endthumbnail %}
        {% else %}
            <img class="rounded img-fluid" width="600" height="600" src="{% static 'img/silhuette.png' %}"
                 alt="{{ object.name }}">
        {% endif %}
    </div>
</div>

{% if may_edit or object.campaign.character_visibility == 'A'  %}
    <div class="col-12 text-center mt-1 mb-3">
        {% for i in object.health|to_range %}
            <i class="fas fa-2x fa-heart text-danger" title="{% trans 'Health' %}"></i>
        {% endfor %}
        {% for i in object.wounds_taken|to_range %}
            <i class="far fa-2x fa-heart text-danger" title="{% trans 'Wound' %}"></i>
        {% endfor %}
        {% for i in object.boost|to_range %}
            <i class="fas fa-2x fa-heart text-info" title="{% trans 'Boost' %}"></i>
        {% endfor %}
    </div>
{% endif %}

<div class="row">
    {% if may_edit or object.campaign.character_visibility == 'A' %}
    <div class="col-12">
        <a class="btn btn-primary w-100 btn-sm mb-2"
           href="{{ object.get_absolute_url }}"><i class="fas fa-link fa-fw"></i> {% trans 'Go to character' %}</a>
    </div>
    {% endif %}

    {% if may_edit %}
    <div class="col-12">
        <a class="btn btn-danger w-100 btn-sm mb-2"
           href=""><i class="fas fa-times fa-fw"></i> {% trans 'Remove from campaign' %}</a>
    </div>
    {% endif %}
</div>
