span.background-image-copyright {
  position: fixed;
  right: 5px;
  bottom: 5px;
}

@media (min-width: 768px) {
  .collapse.dont-collapse-md {
    display: block;
    height: auto !important;
    visibility: visible;
  }
}

.header-with-overlay {
  position: relative;
  color: white;
  z-index: 0;
}

.header-with-overlay .overlay {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.header-with-overlay .container {
  position: relative;
  z-index: 2;
}

.header-with-overlay .header-image {
  position: absolute;
  bottom: -50px;
  left: 20px;
  width: 150px;
  z-index: 2;
  border-radius: 15px; /* Adds rounded corners */
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.6); /* Adds a subtle shadow for depth */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth hover animation */
}

.header-with-overlay .header-image:hover {
  transform: scale(1.1); /* Adds a slight zoom on hover */
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.8); /* Intensifies shadow on hover */
}

@media screen and (max-width: 576px) {
  .header-with-overlay .header-image {
    bottom: -70px;
    left: 10px;
    width: 80px;
  }
}

@media screen and (min-width: 576px) and (max-width: 1000px) {
  .header-with-overlay .header-image {
    bottom: -60px;
    left: 20px;
    width: 120px;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1450px) {
  .header-with-overlay .header-image {
    bottom: -80px;
    left: 20px;
    width: 130px;
  }
}

@media screen and (min-width: 1450px) {
  .header-with-overlay .header-image {
    bottom: -80px;
    left: 20px;
    width: 150px;
  }
}