.campaign-list a {
  text-decoration: none;
}

.campaign-list-item {
  color: white;
  text-shadow: 2px 2px #000;
  background-position: center;
  background-size: cover;
}

.campaign-list-item:hover {
  filter: drop-shadow(0 0 10px black);
}

.campaign-list-item img {
  border: 2px solid black;
  filter: drop-shadow(0 0 10px black);
}

.campaign-characters img {
  filter: drop-shadow(0 0 10px black);
}

.campaign-characters img:hover {
  filter: drop-shadow(0 0 20px black);
}
