.rules {
  font-size: large;
}

.rules p:empty {
  display: none;
}

.rules ul li {
  text-align: justify;
}

.rules p {
  text-align: justify;
  hyphens: auto;
}

.rules blockquote {
  margin-left: 2em;
  padding-left: 1em;
  border-left: 2px solid $gray-500;
}

