@import 'fonts/Oxanium/stylesheet.css';
@import 'fonts/NotoSans/stylesheet.css';

$font-family-sans-serif: "Noto Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$headings-font-family: 'Oxanium', cursive;


$blue: #13547a;
$red: #7a131c;
$orange: #7a7413;
$cyan: #13787a;
$green: #137a1d;
$body-bg-dark: #0f1015;

@import '../vendor/bootstrap/scss/bootstrap.scss';
@import 'generic';

