{% load rules_extras %}
{% load portal_extras %}
{% load i18n thumbnail static characters_extras %}

{% if may_edit or campaign and campaign.character_visibility == 'A' %}
  <div class="row">
    <div class="col-12 mb-3 mt-2">
      <div class="nav nav-pills justify-content-center">
        <a href="#cs-edit"
           aria-controls="cs-edit"
           data-bs-toggle="tab"
           role="tab"
           class="nav-link active"><i class="fas fa-fw fa-pen"></i></a>
        <a href="#cs-attributes"
           aria-controls="cs-attributes"
           data-bs-toggle="tab"
           role="tab"
           class="nav-link"><i class="fas fa-fw fa-male"></i></a>
        <a href="#cs-gear"
           aria-controls="cs-gear"
           data-bs-toggle="tab"
           role="tab"
           class="nav-link"><i class="fas fa-fw fa-suitcase"></i></a>

        {% if object.extension_enabled.magic and object.is_magical %}
          <a href="#cs-magic"
             aria-controls="cs-magic"
             data-bs-toggle="tab"
             role="tab"
             class="nav-link"><i class="gi-lorc-fairy-wand"></i></a>
        {% endif %}
        {% if object.extension_enabled.pantheon and object.is_priest %}
          <a href="#cs-pantheon"
             aria-controls="cs-pantheon"
             data-bs-toggle="tab"
             role="tab"
             class="nav-link"><i class="fas fa-fw fa-ankh"></i></a>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}

<div class="tab-content">
  <div class="tab-pane fade show active" id="cs-edit" role="tabpanel">
    <div class="row">
      <div class="col-12 mb-3 mt-2">
        <img src="{% image_url object geometry="600x600" crop="center" %}" alt="{{ c }}"
             class="rounded img-fluid object-fit-cover">
      </div>
    </div>

    <div class="row my-3">
      <div class="col-12">
        <span class="sort-key d-none">{{ object.health|add:object.boost }}</span>
        {% for i in object.health|to_range %}
          <i class="fas fa-heart text-danger" title="{% trans 'Health' %}"></i>
        {% endfor %}
        {% for i in object.wounds_taken|to_range %}
          <i class="far fa-heart text-danger" title="{% trans 'Wound' %}"></i>
        {% endfor %}
        {% for i in object.boost|to_range %}
          <i class="fas fa-heart text-info" title="{% trans 'Boost' %}"></i>
        {% endfor %}
      </div>

      <div class="col-12">
        <span class="sort-key d-none">{{ object.arcana }}</span>
        {% for i in object.arcana|to_range %}
          <i class="gi-lorc-fairy-wand text-warning"></i>
        {% endfor %}
        {% for i in object.arcana_used|to_range %}
          <i class="gi-lorc-fairy-wand text-muted"></i>
        {% endfor %}
      </div>

      <div class="col-12">
        {% if object.extension_enabled.horror %}
          <div class="d-flex align-items-center justify-content-start gap-1">
            {% for i in object.base_stress|to_range %}
              <i class="fas fa-frown text-danger" title="{% trans 'Base stress' %}"></i>
            {% endfor %}
            {% for i in object.stress|subtract:object.base_stress|to_range %}
              <i class="fas fa-meh text-warning" title="{% trans 'Stress' %}"></i>
            {% endfor %}
            {% for i in object.available_stress|to_range %}
              <i class="far fa-meh text-warning" title="{% trans 'Possible Stress' %}"></i>
            {% endfor %}

            {% if object.is_consumed_by_dread %}
              <span class="h6 ms-2 mb-0 consumed-by-dread-effect">{% trans "Dread" %}</span>
            {% endif %}
          </div>
        {% endif %}
      </div>


      <div class="col-12">
        {% for i in object.bonus_dice_free|to_range %}
          <i class="fas fa-fw fa-dice-six text-success" title="{% trans 'Bonus Die' %}"></i>
        {% endfor %}
        {% for i in object.destiny_dice_free|to_range %}
          <i class="fas fa-fw fa-dice-four text-danger" title="{% trans 'Destiny Die' %}"></i>
        {% endfor %}
        {% for i in object.rerolls_free|to_range %}
          <i class="fas fa-fw fa-dice-one text-info" title="{% trans 'Reroll' %}"></i>
        {% endfor %}
      </div>
    </div>

    <div class="row">
      {% if may_edit or campaign and campaign.character_visibility == 'A' %}
        <div class="col-12">
          <a class="btn btn-primary w-100 btn-sm mb-2"
             href="{{ object.get_absolute_url }}"><i
            class="fas fa-link fa-fw"></i> {% trans 'Go to character' %}</a>
        </div>
      {% endif %}

      {% if may_edit and object.pc_or_npc_campaign %}
        <div class="col-12">
          <button class="btn btn-warning w-100 btn-sm mb-2"
                  data-message="{% trans 'Switch character NPC status?' %}"
                  data-action-trigger-event-after="sidebar-right-refresh"
                  data-action-trigger-url="{% url 'campaigns:xhr_switch_npc' pk=object.pc_or_npc_campaign.id character_pk=object.id %}">
            <i class="fas fa-times fa-fw"></i> {% trans 'Switch NPC status' %}
          </button>
        </div>

        <div class="col-12">
          <a class="btn btn-danger w-100 btn-sm mb-2 remove-character-from-campaign"
             data-message="{% trans 'Remove character from campaign?' %}"
             href="{% url 'campaigns:xhr_remove_character' pk=object.pc_or_npc_campaign.id character_pk=object.id %}"><i
            class="fas fa-times fa-fw"></i> {% trans 'Remove from campaign' %}</a>
        </div>
      {% endif %}
    </div>

    {% if object.description %}
      <p>
        {{ object.description|phasesix_markup }}
      </p>
    {% endif %}
  </div>

  {% if may_edit or campaign and campaign.character_visibility == 'A' %}
    <div class="tab-pane fade" id="cs-attributes">
      {% include 'characters/includes/physis_table.html' %}
      {% include 'characters/includes/persona_table.html' %}
      {% include 'characters/includes/knowledge_table.html' %}
      {% include 'characters/includes/mind_skill_table.html' %}
      {% include 'characters/includes/practical_skill_table.html' %}
      {% include 'characters/includes/shadows_table.html' %}
    </div>

    <div class="tab-pane fade" id="cs-gear">
      {% include 'characters/includes/character_riot_gear_cards.html' %}
      {% include 'characters/includes/character_weapon_cards.html' %}
      {% include 'characters/includes/character_item_cards.html' %}
    </div>

    {% if object.extension_enabled.magic and object.is_magical %}
      <div class="tab-pane fade" id="cs-magic">
        {% include 'characters/includes/character_spell_cards.html' %}
      </div>
    {% endif %}

    {% if object.extension_enabled.pantheon and object.is_priest %}
      <div class="tab-pane fade" id="cs-pantheon">
        <div class="row row-cols-1">
          {% include 'characters/includes/priest_action_cards.html' %}
        </div>
      </div>
    {% endif %}
  {% endif %}
</div>
